<div class="card">
  <div class="card-header border-0 bg-gradient-default">
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-uppercase text-black-50 ls-1 mb-1">{{'dashboard.prices' | translate}}</h6>
        <h2 class="mb-0 text-black-50">{{'dashboard.offers' | translate}}</h2>
      </div>
    </div>
  </div>
  <div class="table-responsive bg-gradient-default">
    <table class="table align-items-md-start table-flush">
      <thead class="thead-light">
        <tr>
          <th scope="col">{{'dashboard.shipping_type' | translate}}</th>
          <th scope="col">{{'dashboard.up_to' | translate}} (Kg)</th>
          <th scope="col">{{'dashboard.prices' | translate}} (FCFA)</th>
          <th scope="col">{{'dashboard.bonus' | translate}}</th>
        </tr>
      </thead>
      <tbody class="text-light">
        <tr *ngFor="let shippingCost of shippingCosts">
          <th scope="row">{{shippingCost.shippingType}}</th>
          <td>{{shippingCost.category.maxWeight}}</td>
          <td>{{shippingCost.price}}</td>
          <td>
            <i class="fas fa-check text-success mr-3" *ngIf="shippingCost.price > 2000"></i>
            <i class="fas fa-times text-danger mr-3" *ngIf="shippingCost.price <= 2000"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
