<div class="header pb-3 pt-5 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask opacity-10"></span>
  <div class="container-fluid align-items-center pt-0">
    <div class="row">
      <div class="col-md-12 path-info">
        <small>
          <a  class="text-white" [routerLink]="['/']" style="color: #ffffff !important;">
            <i class="fa fa-home"></i> {{'global.home' | translate}}
          </a>
        </small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12 mt-5">
        <i class="fa fa-th-large"></i>
        <h1 class="display-2 text-white">{{'global.dashboard' | translate}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="content mt-4">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div *ngFor="let item of logistics" class="col-xl-3 col-lg-6">
          <a [routerLink]="[item.link]">
            <div class="card card-stats mb-4 shadow">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h3 class="card-title text-uppercase font-weight-700 mb-2">{{ item.name }}</h3>
                    <span class="h3 mb-0 text-muted">{{ item.total }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape text-white rounded-circle shadow {{ item.bg }}">
                      <i class="{{ item.icon }}"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-2 mb-0 text-muted text-sm">
                  <span class="text-nowrap text-success font-weight-400">{{ brandName.toUpperCase() }}</span>
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!--Administration-->
    <div class="mt-4" *ngIf="isAdmin || isCommercial">
      <app-overview-widgets></app-overview-widgets>
    </div>
    <!-- Chart -->
    <div class="col-md-12" *ngIf="isAdmin || isCommercial">
      <app-statistic></app-statistic>
    </div>
    <!--Customer-->
    <div class="row mt-2" *ngIf="isCustomer || isDeliverer">
      <div class="col-xl-8 mb-5 mb-xl-0">
        <app-price-list></app-price-list>
      </div>
      <!-- In porgress. Do not removed-->
      <!--div class="col-xl-4">
        <div class="card">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                <h2 class="mb-0" *ngIf="isCustomer">{{'dashboard.total_ship' | translate}}</h2>
                <h2 class="mb-0" *ngIf="isDeliverer">{{'dashboard.total_deliveries' | translate}}</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart">
              <canvas id="chart-orders" class="chart-canvas"></canvas>
            </div>
          </div>
        </div>
      </div-->
    </div>
  </div>
</div>
