.red {
  background-color: #d20412;
}

.set-background-color {
  background-color: white;
}

.card {
  border: 1px solid #e3e3e3 !important;
}

.bg-header-img {
  background-size: 400px !important;
  min-height: 400px !important;
  background-image: url("/assets/img/theme/crumb.jpg") !important;
  background-position: center top;
  background-repeat: no-repeat;
}

.card {
  border: 1px solid #11cdef !important;
}

/*##################################### Display Screen settings ###################################*/
@media (max-width: 768px){
  .header {
    background: url("/assets/img/theme/crumb.jpg") !important;
    min-height: 250px !important;
    background-position: center right !important;
    background-repeat: no-repeat !important;
  }
}
