.header-profile {
  background-color: #0d98Ba;
  min-height: 294px !important;
  background-position: center right;
  background-repeat: no-repeat !important;
}

.header-profile .path-info i:hover,
.header-profile .path-info a:hover {
  cursor: pointer;
  color: #ffffff;
}

.header-profile .text-center i {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  vertical-align: middle;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: 7;
}

.tel-input {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  margin: 1.5em 15px 1.5em !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.tel-input input  {
  color: rgba(0, 0, 0, 0.7) !important;
}

.tel-input input:focus {
  outline: none;
}

.alert-location {
  cursor: pointer;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 992px){

}

@media only screen and (max-width: 768px) {
  .card-profile-image img {
    width: 110px;
    height: 110px;
  }

  .profile .card {
    margin-top: 1.2rem !important;
  }

  .profile-info {
    margin-top: 3em;
  }
}

@media (max-width: 568px){
  .header .action-icon i {
    margin-right: 10px;
  }
}
