<div class="header-profile pb-3 pt-5 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask opacity-10"></span>
  <div class="container-fluid align-items-center pt-0">
    <div class="row">
      <div class="col-md-12 path-info">
        <small class="text-white-50"><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i> {{'global.home' |
          translate}}</a> / {{'global.settings' | translate}}</small>
        <small class="text-white"> / <b>{{'user-profile.' + currentUrl | translate}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12 mt-5">
        <i class="far fa-id-card"></i>
        <h1 class="display-2 text-white">{{'global.profile' | translate}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <!-- content -->
    <div class="col">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 profile mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <!-- on image selected -->
                  <img [src]="imageUrl" *ngIf="imageUrl" class="rounded-circle" alt="avatar">
                  <!-- if default avatar -->
                  <img src="../../../assets/img/profile/user-avatar.png" *ngIf="isDefaultAvatar && !imageUrl"
                       class="rounded-circle" alt="avatar">
                  <!-- if custom avatar -->
                  <img src="{{this.host+this.user.userUuid}}"
                       *ngIf="!isDefaultAvatar && !imageUrl && this.user.userUuid" class="rounded-circle"
                       alt="avatar">
                </div>
              </div>
            </div>
            <div class="card-body pt-1 pt-md-6">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats justify-content-center mt-md-2">
                    <div class="text-center profile-info">
                      <h3>
                        {{user.lastname}} {{user.firstname}}
                      </h3>
                      <div class="h5 font-weight-300">
                        <p><small><mat-icon>location_on</mat-icon></small></p>
                        <p *ngIf="isCustomer && customer.postalAddress?.latitude === 0 && customer.postalAddress?.longitude === 0" class="alert-location alert-danger">
                          <small (click)="changeUserLocation(content)" class="text-white">{{'global.save_location' | translate}}</small>
                        </p>
                        <p><small>{{isCustomer ? customer.postalAddress?.city + ', ' + customer.postalAddress?.country : ''}}</small></p>
                      </div>
                      <div class="h5 mt-1">
                        <p>{{ isOperator || isAdmin ? operator.personalNumber : ''}}</p>
                        <hr *ngIf="!isCustomer" class="mt-0 mb-4"/>
                        <p class="font-weight-800">{{ isOperator || isAdmin ? operator.operatorType : ''}}</p>
                        <hr *ngIf="isCustomer" class="mt-0"/>
                        <p *ngIf="isCustomer">{{'global.category' | translate}}: {{customer.customerType}}</p>
                      </div>
                      <hr class="my-4"/>
                      <div *ngIf="isAdmin || isOperator">
                        {{principalRole}} {{'global.by' | translate}} AbcInter.
                      </div>
                      <div class="d-flex justify-content-center" *ngIf="isCustomer">
                        <div class="text-center">
                          <span class="heading">{{customer.bonusCount}}</span>
                          <span class="description">Bonus</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1 mb-3">
          <div class="card bg-white shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-lg-12"><p><b>{{'user-profile.user-notice' | translate}}</b></p></div>
                <div class="col-4">
                  <button class="btn btn-sm btn-outline-info"
                  (click)="enableInput()">{{'user-profile.btn-edit' | translate}}</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h6 class="heading-small text-muted mb-1"><strong>{{'user-profile.info-pers' | translate}}</strong></h6>
              <hr class="mt-0 mb-3"/>
              <mat-form-field appearance="standard" class="col-md-12" (click)="errors.usernameError = ''">
                <mat-label>{{'global.username' | translate}}</mat-label>
                <input matInput placeholder="{{'global.username' | translate}}" [formControl]="usernameCtrl" required>
                <mat-icon matSuffix>perm_identity</mat-icon>
                <mat-error *ngIf="usernameCtrl.invalid">{{'global.required' | translate}}</mat-error>
              </mat-form-field>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field appearance="standard" class="col-md-12">
                      <mat-label>{{'global.lastname' | translate}}</mat-label>
                      <input matInput placeholder="{{'global.lastname' | translate}}" [formControl]="lastnameCtrl" (click)="errors.lastnameError = ''" required>
                      <mat-error *ngIf="lastnameCtrl.invalid">{{'global.required' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field appearance="standard" class="col-md-12">
                      <mat-label>{{'global.firstname' | translate}}</mat-label>
                      <input matInput placeholder="{{'global.firstname' | translate}}" [formControl]="firstnameCtrl" (click)="errors.firstnameError = ''" required>
                      <mat-error *ngIf="firstnameCtrl.invalid">{{'global.required' | translate}}</mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field appearance="standard" class="col-md-12">
                      <mat-label>{{'global.gender' | translate}}</mat-label>
                      <mat-select [formControl]="genderCtrl">
                        <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
                        <mat-option *ngIf="initialGender" [value]="initialGender" selected>
                          {{initialGender}}
                        </mat-option>
                        <mat-option *ngFor="let gender of genders" [value]="gender">
                          {{gender}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <mat-form-field appearance="standard" class="col-md-12">
                      <mat-label>{{'global.email' | translate}}</mat-label>
                      <input matInput placeholder="example@gmail.com" [formControl]="emailCtrl"
                        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" (click)="errors.emailError = ''">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="tel-input">
                      <input type="text" class="form-conntrol" placeholder="6 xx xx xx xx"
                        style="width: 100% !important; border: none !important;" minlength="9" (change)="checkValidPhoneNumber($event)"
                        (click)="phoneError=''" [formControl]="phoneCtrl" maxlength="13" (click)="errors.phoneNb = ''" required/>
                    </div>
                    <mat-error *ngIf="!this.isTelValid" class="ml-3">{{ errors.phoneNb }}</mat-error>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <p class="form-control-label" for="input-image">{{'global.profile-image' | translate}}</p>
                      <input name="profile-image" (change)="onImageSelected($event)"
                          id="input-image" type="file" accept="image/*" >
                  </div>
                </div>
              </div>
              <!-- Address -->
              <div *ngIf="isCustomer">
                <h6 class="heading-small text-muted mb-1"><strong>{{'user-profile.contact-info' | translate}}</strong></h6>
                <hr class="mt-1 mb-1"/>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <mat-form-field appearance="standard" class="col-md-12">
                        <mat-label>{{'global.city' | translate}}</mat-label>
                        <input matInput placeholder="{{'global.city' | translate}}" [formControl]="cityCtrl" (click)="errors.cityError = ''" required>
                        <mat-error *ngIf="cityCtrl.invalid">{{'global.required' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <mat-form-field appearance="standard" class="col-md-12">
                        <mat-label>{{'global.country' | translate}}</mat-label>
                        <input matInput placeholder="{{'global.country' | translate}}" [formControl]="countryCtrl" (click)="errors.countryError = ''" required>
                        <mat-error *ngIf="countryCtrl.invalid">{{'global.required' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <mat-form-field appearance="standard" class="col-md-12">
                        <mat-label>{{'global.address' | translate}}</mat-label>
                        <input matInput placeholder="{{'global.address' | translate}}" [formControl]="addressCtrl" (click)="errors.adrError = ''" required>
                        <mat-error *ngIf="addressCtrl.invalid">{{'global.required' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <mat-form-field appearance="standard" class="col-md-12">
                        <mat-label>{{'global.fix-number' | translate}}</mat-label>
                        <input matInput placeholder="{{'global.fix-number' | translate}}" [formControl]="fixCtrl"
                               (change)="checkValidFixPhoneNumber($event)"
                               minlength="9" maxlength="13">
                        <mat-error *ngIf="errors.phoneNb">{{'global.fix-error-pattern' | translate}}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <h6 class="heading-small text-muted mb-1">{{'global.about-user' | translate}}</h6>
                <hr class="mt-1 mb-3"/>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <textarea id="input-for-bio" rows="4" name="about" class="form-control form-control-alternative"
                      [formControl]="aboutCtrl"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg 12">
                  <p><mat-error *ngIf="errors.errorMessage">{{errors.errorMessage}}</mat-error></p>
                </div>
              </div>
              <!-- save btn -->
              <div class="row">
                <div class="col-lg-12">
                  <button mat-flat-button color="primary" [disabled]="!isFormValid()" class="mb-4" (click)="saveChange()">
                    {{'global.btn-save-change' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">
      <mat-icon>location_on</mat-icon> {{'global.btn-save-information' | translate}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600"><strong>{{'global.location_text' | translate}}</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')"><i
      class="fa fa-times"></i>{{'global.btn-return' | translate}}
    </button>
    <button type="button" class="btn btn-success" (click)="saveUserLocation()"><i
      class="fa fa-check"></i>{{'global.btn-save' | translate}}
    </button>
  </div>
</ng-template>
