<div class="mb-2" style="display: flex; flex-wrap: wrap;">
    <h2 style="width: auto;" class="mr-2 p-1">{{'packets.packet-to-be-delivered' | translate}} ({{totalRows}})</h2>
    <button *ngIf="isAdmin && !isCall" mat-mini-fab color="white" aria-label="Add a todo list" title="Add todo">
        <mat-icon color="accent" (click)="displayPacketInStore(packetInStore)">add</mat-icon>
    </button>
</div>

<div class="grid-wrapper">
    <ag-grid-angular #agGrid id="packets-to-be-delivered" style="width: 100%; height: 450px;" class="ag-theme-alpine"
        animateRows=true [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef"
        [columnDefs]="columnDefs" rowSelection="multiple" [groupSelectsChildren]="true" [statusBar]="statusBar"
        [sideBar]="sideBar" [rowData]="rowData" (gridReady)="onGridReady($event)" (click)="setConfig()">
    </ag-grid-angular>
</div>

<div class="mt-2">
    <div *ngIf="!isCall">
        <div class="row">
            <div class="col-md-3" *ngIf="isPacketSelected">
                <mat-form-field class="col-md-12" color="accent">
                    <mat-select [formControl]="operatorCtrl" placeholder="Action to be apply">
                        <mat-option disabled>Select action</mat-option>
                        <mat-option *ngFor="let action of actionsOnItem" [value]="action">
                            {{action}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4" *ngIf="isAdmin && operatorCtrl.value">
                <mat-form-field class="col-md-12" color="accent">
                    <mat-select [formControl]="operatorCtrl" placeholder="Who must complete this shipment?">
                        <mat-option>
                            <ngx-mat-select-search [formControl]="operatorFilteringCtrl" [searching]="searching">
                            </ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let agent of filteredOperators | async" [value]="agent">
                            {{agent.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button *ngIf="isAdmin && operatorCtrl.value?.name || !isAdmin && operatorCtrl.value"
            class="btn btn-outline-success" (click)="openConfirmationDialog(confirmationDialog)">Ok</button>
    </div>
    <button *ngIf="isCall && isPacketSelected" class="btn btn-sm btn-outline-success offset-10" (click)="emitSelectedRows()"><i
        class="fa fa-plus mr-1"></i>{{'packets.add-to-my-to-do'| translate}}</button>
</div>

<ng-template #confirmationDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-confirm"><strong>{{confirmHeaderTitle}}</strong></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="font-weight-800">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="!isAdmin" class="col-md-12">
            <h3 class="font-weight-400">{{'global.confirm-action' | translate}}</h3>
            <small class="text-danger">{{'decline-responsability' | translate}}</small>
        </div>
        <div *ngIf="isAdmin">
            <h3 class="font-weight-400">{{'global.assign-task' | translate}}
                <strong>{{selectedOperatorName}}?</strong></h3>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="applyAction()">{{'global.ok' | translate}}</button>
    </div>
</ng-template>

<ng-template #packetInStore let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-confirm"><strong>{{'packets.list-of-packet-in-store' | translate}}</strong></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="font-weight-800">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-packets-in-store (selectedRows)="onRowsEmitted($event)"></app-packets-in-store>
    </div>
</ng-template>
