<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()">
            <i class="fa fa-home"></i>{{'global.home' | translate}}</a></small>
        <small class="text-white-50"> / delivery / </small>
        <small class="text-white"><b>{{ currentUrl }}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12 mb-5">
        <i class="fa fa-list"></i>
        <h1 class="display-2 text-white">{{'global.detail' | translate}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-plus-circle"></i></small>
            <small class="text-white"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="true">
              <mat-label>{{'global.search' | translate}}</mat-label>
              <input type="text" class="text-white" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>

    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>

    <div *ngIf="!loaded" class="col-md-12 pb-3">
      <mat-card class="col-sm-12">
        <mat-card-header class="col-sm-12">
          <div mat-card-avatar>
            <button mat-mini-fab aria-label="to task list" class="mb-3" color="primary" #tooltip="matTooltip"
              matTooltip="To task list" (click)="toPreviousView()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <mat-card-title>{{'registration.orderID' | translate}}: {{ registration?.globalTrackingNumber }}
          </mat-card-title>
          <mat-card-subtitle>
            <small>
              {{reverseTime(registration?.createdAt.split('T')[0])}},&nbsp;
              {{registration?.createdAt.split('T')[1].split('\.')[0]}}
            </small>
            <small>{{'global.by' | translate}} {{registration?.registeredBy.user.email}}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="pt-1">
          <mat-divider></mat-divider>
          <div class="row pt-2">
            <div class="col-md-4" *ngIf="!isAlredyDeliver">
              <h3>
                <u class="font-weight-600">{{'global.store' | translate}}:</u>
                {{registration?.store?.address.streetAndHouseNumber}} -
                {{registration?.store?.name}}
              </h3>
              <h3>
                <u class="font-weight-600">{{'global.phone' | translate}}:</u>
                {{registration?.store?.address.telAtAddress}}
              </h3>
            </div>
            <div class="col-md-12 status" *ngIf="isAlredyDeliver">
              <p class="font-weight-800 text-black-50">
                <small> {{'deliveries.delivered_on' | translate}}:
                  {{reverseTime(delivery?.createdAt.split('T')[0])}},&nbsp;
                  {{delivery?.createdAt.split('T')[1].split('\.')[0]}}
                </small>
                <small>{{'global.by' | translate}} {{delivery?.deliverBy.user.email}}</small>
              </p>
              <i class="far fa-check-circle text-success" *ngIf="isAlredyDeliver"></i>
              <h3 class="font-weight-600 text-success">
                {{'actions.deliver' | translate}}
              </h3>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="pt-2 pb-1">
            <div class="row">
              <div class="col-md-3">
                <h2 class="font-weight-500 mt-2 mb-0">
                  <mat-icon>person_outline</mat-icon> {{'registration.sender' | translate}}
                </h2>
                <mat-divider></mat-divider>
                <p class="font-weight-400 mt-2">
                  <u>{{'global.name' | translate}}:</u> {{registration?.sender.user.lastname}}
                  {{registration?.sender.user.firstname}}
                </p>
                <p class="font-weight-400">
                  <u>{{'global.phone' | translate}}:</u> {{registration?.sender.user.tel}}
                </p>
                <p *ngIf="registration?.sender.user.email" class="font-weight-400">
                  <u>{{'global.email' | translate}}:</u> {{registration?.sender.user.email}}
                </p>
              </div>
              <div class="col-md-3">
                <h2 class="font-weight-500 mt-2 mb-0">
                  <mat-icon>person_outline</mat-icon> {{'registration.receiver' | translate}}
                </h2>
                <mat-divider></mat-divider>
                <p class="font-weight-400 mt-2">
                  <u>{{'global.name' | translate}}:</u> {{registration?.receiver.lastname}}
                  {{registration?.receiver.firstname}}
                </p>
                <p class="font-weight-400">
                  <u>{{'global.phone' | translate}}:</u> {{registration?.receiver.tel}}
                </p>
                <p *ngIf="registration?.receiver.email" class="font-weight-400">
                  <u>{{'global.email' | translate}}:</u> {{registration?.receiver.email}}
                </p>
              </div>
              <div class="col-md-3">
                <h2 class="font-weight-500 mt-2 mb-0">
                  <mat-icon>location_on</mat-icon> {{'registration.destination' | translate}}
                </h2>
                <mat-divider></mat-divider>
                <p class="font-weight-400 mt-2">
                  <u>{{'global.address' | translate}}:</u> {{registration?.receivingAddress.streetAndHouseNumber}} -
                  {{registration?.receivingAddress.city}}
                </p>
                <p class="font-weight-400" *ngIf="registration?.receivingAddress.telAtAddress">
                  <u>{{'global.phone' | translate}}:</u> {{ registration?.receivingAddress.telAtAddress }}
                </p>
              </div>
              <div class="col-md-3">
                <h2 class="font-weight-500 mt-2 mb-0">
                  <mat-icon>announcement</mat-icon> Details
                </h2>
                <mat-divider></mat-divider>
                <p>{{registration?.registrationDetails}}</p>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="table-responsive mt-3 mb-2">
            <table class="table table-flush">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">{{'packets.tracknumber' | translate}}</th>
                  <th scope="col">{{'shipping-cost.shipping-type' | translate}}</th>
                  <th scope="col">{{'packets.weight' | translate}}</th>
                  <th scope="col">{{'shipping-cost.price' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let packet of registration?.registeredPackets">
                  <td>
                    <mat-checkbox color="primary" style="float: right;" *ngIf="!isAlredyDeliver"
                      (change)="onPacketCheck($event.checked, packet)">
                    </mat-checkbox>
                    <i class="fas fa-check text-success" style="font-size: 15px;" *ngIf="isAlredyDeliver"></i>
                  </td>
                  <td>
                    {{packet.trackingNumber}}
                  </td>
                  <td>{{packet.shippingCost.shippingType}}</td>
                  <td>
                    {{packet.weight}}kg
                  </td>
                  <td>{{packet.shippingCost?.price}} {{packet.shippingCost?.currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <mat-divider class="col-md-12"></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <h3 class="col-md-12 pt-1 font-weight-700" *ngIf="!isAlredyDeliver">
            {{'global.total_price' | translate}}: {{registration?.totalPrice}} {{registration?.currency}}
          </h3>
          <button mat-stroked-button color="basic" class="mr-2" #tooltip="matTooltip" matTooltip="Print" *ngIf="isAlredyDeliver"
            [useExistingCss]="true" printTitle="{{registration?.receiver.lastname}}" printSectionId="print-section"
            ngxPrint>
            <mat-icon>print</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
      <div class="row" *ngIf="!isAlredyDeliver">
        <div class="col-md-12 mt-3">
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-2"
            style="margin-left: 0 !important; padding-left: 0 !important;">
            <mat-label>{{'global.actions' | translate}}</mat-label>
            <mat-select [formControl]="actionControl" required>
              <mat-option *ngFor="let action of bulkActions" [value]="action">
                {{action.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="actionControl.hasError('required')">{{'global.no_action_error' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-2" *ngIf="actionControl.value.action === 'return'">
            <mat-label>{{'global.reason' | translate}}</mat-label>
            <mat-select [formControl]="reasonCtrl" required>
              <mat-option *ngFor="let reason of reasons" [value]="reason">
                {{reason.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="actionControl.hasError('required')">{{'global.no_action_error' | translate}}</mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="applyAction(confirmationView)" #tooltip="matTooltip"
            matTooltip="Apply the selected action">{{'global.apply' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--impression app-->
<app-receipt-impression id="print-section" class="hidden"></app-receipt-impression>

<ng-template #confirmationView let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm" *ngIf="actionControl.value.action === 'deliver'">
      Confirmation
    </h4>
    <h4 class="modal-title" id="modal-confirm" *ngIf="actionControl.value.action === 'return'">
      Confirmation
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>

  <div class="modal-body" *ngIf="actionControl.value.action === 'deliver'">
    <mat-form-field class="col-md-12" style="padding-left: 0 !important; margin-left: 0 !important;">
      <mat-label>Confirmation</mat-label>
      <textarea matInput placeholder="Sign here" [formControl]="signatureCtl" required></textarea>
    </mat-form-field>
    <mat-error *ngIf="signatureCtl.value.length === 0" class="text-danger">{{'global.sign_required' | translate}}</mat-error><br>
    <button type="button" class="btn btn-success" (click)="applyDelivery()">
      <i class="fa fa-check"></i> {{'global.confirm' | translate}}
    </button>
  </div>

  <div class="modal-body" *ngIf="actionControl.value.action === 'return'">
    <p>{{'global.confirm_key_msg' | translate}}:&nbsp; <strong class="font-weight-600">{{verificationKey}}</strong></p>
    <mat-form-field class="col-md-12" style="padding-left: 0 !important; margin-left: 0 !important;">
      <mat-label>{{'global.key' | translate}}</mat-label>
      <textarea matInput placeholder="Key" [formControl]="signatureCtl" required></textarea>
    </mat-form-field>
    <mat-error *ngIf="signatureCtl.value.length === 0" class="text-danger">{{'global.required' | translate}}</mat-error><br>
    <button type="button" class="btn btn-success" (click)="applyReturn()">
      <i class="fa fa-check"></i> {{'global.confirm' | translate}}
    </button>
  </div>
</ng-template>
