<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small>
          <a class="text-white-50" (click)="navigateToHome()">
            <i class="fa fa-home"></i>
            {{'global.home' | translate}}
          </a>
        </small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fas fa-ban"></i>
        <h1 class="display-2 text-white">403</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'global.not_allowed' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-plus-circle"></i></small>
            <small class="text-white" id="search-delivery"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="true">
              <mat-label>{{'global.search' | translate}}</mat-label>
              <input type="text" class="text-white" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12 text-middle mt-5">
      <h1 class="font-weight-500">OOPS!!</h1>
      <p class="font-weight-500 mb-5">{{'global.not_allowed_txt' | translate}}!</p>
      <div class="forbidden" [@fadeInOut]></div>
    </div>
  </div>
</div>
