<form [formGroup]="userFormGroup" class="col-sm-12 col-md-12" style="padding: 0 !important;">
  <div class="tel-input">
    <input class="col-md-12" type="text" ng2TelInput [ng2TelInputOptions]="telOptions" placeholder="6 xx xx xx xx"
      formControlName="phoneCtrl" style="width: 100% !important; border: none !important;" (blur)="autoCompleteForm()"
      (hasError)="checkPhoneValue($event)" (intlTelInputObject)="telInputObject($event)" maxlength="13" required>
  </div>
  <mat-error *ngIf="errors.phoneNb && !this.isPhoneValid">
    {{ errors.phoneNb }}
  </mat-error>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'global.username' | translate}}</mat-label>
    <input matInput formControlName="usernameCtrl" required>
    <mat-icon matSuffix>input</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'global.firstname' | translate}}</mat-label>
    <input matInput formControlName="firstnameCtrl" required>
    <mat-icon matSuffix>input</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'global.lastname' | translate}}</mat-label>
    <input matInput formControlName="lastnameCtrl" required>
    <mat-icon matSuffix>input</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'global.email' | translate}}</mat-label>
    <input matInput name="email" placeholder="customer@abcinter.com" formControlName="emailCtrl"
      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
    <mat-icon matSuffix>alternate_email</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'global.gender' | translate}}</mat-label>
    <mat-select formControlName="genderCtrl" required>
      <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
      <mat-option *ngIf="initialGender" [value]="initialGender" selected>
        {{initialGender}}
      </mat-option>
      <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'global.password' | translate}}</mat-label>
    <input matInput formControlName="passwordCtrl" type="password" required>
    <mat-icon matSuffix>input</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="standard" class="col-md-12">
    <mat-label>{{'password.repeat' | translate}}</mat-label>
    <input matInput formControlName="rPasswordCtrl" type="password" required>
    <mat-icon matSuffix>input</mat-icon>
  </mat-form-field>
  <mat-error *ngIf=" errors.errorMessage.length > 0">
    {{ errors.errorMessage }}
  </mat-error>
</form>
