.mat-card-header {
  text-align: center;
  justify-content: center;
}

.mat-flat-button {
  float: right;
}

.mat-card-subtitle .mat-icon {
  font-size: 1.3em;
}

.tel-input {
  width: 99% !important;
  border-bottom: 1px solid rgba(0,0,0,.75) !important;
  margin: 1.5em 0 1.5em !important;
  margin-left: 0 !important;
  padding: 0 !important;
}

.tel-input input:hover  {
  border-bottom: 1px solid #000 !important;
}

.tel-input input:focus {
  outline: none;
}

mat-form-field {
  padding-left: 0 !important;
}
