<div class="mb-2" style="display: flex; flex-wrap: wrap;">
    <h2 style="width: auto;" class="mr-2 p-1">{{'packets.list-of-packet-in-store' | translate}} (Total: {{totalRows}})</h2>
</div>

<div class="grid-wrapper">
    <ag-grid-angular #agGrid id="packets-to-be-delivered" style="width: 100%; height: 450px;" class="ag-theme-alpine"
        animateRows=true [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef"
        [columnDefs]="columnDefs" rowSelection="multiple" [groupSelectsChildren]="true" [statusBar]="statusBar"
        [sideBar]="sideBar" [rowData]="rowData" (gridReady)="onGridReady($event)" (click)="setConfig()">
    </ag-grid-angular>
</div>

<div class="mt-2">
    <div *ngIf="!isCall">
        <div class="row">
            <div class="col-md-3" *ngIf="isPacketSelected">
                <mat-form-field class="col-md-12">
                    <mat-select [formControl]="actionCtrl" placeholder="Action to apply">
                        <mat-option disabled>Select action</mat-option>
                        <mat-option *ngFor="let action of actionsOnItem" [value]="action">
                            {{action}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button *ngIf="actionCtrl.value" class="btn btn-outline-success"
            (click)="openConfirmationDialog(confirmationDialog)">{{'global.ok' | translate}}</button>
    </div>
    <button *ngIf="isCall && isPacketSelected" class="btn btn-outline-success" (click)="emitSelectedRows()"><i
            class="fa fa-plus mr-1"></i>add</button>
</div>

<ng-template #confirmationDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-confirm"><strong>{{confirmHeaderTitle}}</strong></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="font-weight-800">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <h3 class="font-weight-400">{{'global.confirm-action' | translate}}</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="applyAction()">{{'global.ok' | translate}}</button>
    </div>
</ng-template>
