.mt-1 {
    margin-top: 1em !important;
}

.mt-2 {
    margin-top: 2em !important;
}

.mt-3 {
    margin-top: 3em !important;
}

.pt-1 {
    padding-top: 1em;
}

.mr-1 {
    margin-right: 1em;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex .elt {
    margin-right: 3em;
}

.mat-form-field {
    padding-left: 0 !important;
}

.modal-header {
    padding-bottom: 0 !important;
}

.modal-header i, .modal-title {
    color: #f5365c !important
}