nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-image: url("/assets/img/bg/bg-header.png");
  background-position: center top;
  //background-color: #d20412 !important;
}

nav a {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}

nav ul {
  float: right !important;
  clear: right;
  text-align: right;
}

.brand {
  width: 243px;
}

.resizer {
  margin-left: 2.4em;
  background-color: rgba(66, 27, 27, 0.15);
}

.avatar {
  background: #fff !important;
}

.grid {
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid .item:first-child {
  grid-column: 1 / 3;
  align-self: start;
  justify-self: center;
}

.navbar .mat-icon {
  color: #ffffff;
}

.logout {
  padding-left: 1em;
  background-color: aliceblue;
  cursor: pointer;
}

.notification-icon {
  padding-top: 6px;
  font-size: 27px;
}

.alert {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 15px;
  width: max-content;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 960px) {
  nav {
    z-index: 1035;
    width: 100%;
  }

  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .brand {
    display: none;
  }

  .resizer {
    margin-left: 0;
  }
}
