<nav class="navbar navbar-expand-md fixed-top bg-header-danger" id="navbar-main">
  <!-- Brand -->
  <div class="brand">
    <a class="text-white font-weight-bold" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="./assets/img/profile/avatar.jpg" class="avatar avatar-sm rounded-circle" alt="logo">
      {{brand}}
    </a>
  </div>
  <!-- resizer -->
  <button mat-icon-button color="white" aria-label="resizer" class="resizer" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- User -->
  <div class="ml-sm-auto">
    <ul class="navbar-nav">
      <!-- Use this way to add items
      <li class="nav-item">
        <a class="nav-link" href="#">item</a>
      </li>
      -->
      <li class="nav-item" ngbDropdown placement="bottom-right" *ngIf="isRoleDeliver && totalTasks > 0" [@fadeInOut]>
        <a class="nav-link" role="button" ngbDropdownToggle>
          <mat-icon matBadge="{{totalTasks}}" matBadgeColor="primary" matBadgePosition="above" class="notification-icon"
            *ngIf="totalTasks > 0">
            notifications
          </mat-icon>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu style="text-align: center; padding-top: 12px; padding-bottom: 12px;">
          <a routerLinkActive="active" [routerLink]="['/delivery/todeliver']" class="dropdown-item"
            *ngIf="totalTasks > 0">
            <span class="font-weight-500" style="text-transform: none !important; font-size: 16px">
              {{totalTasks}} {{'global.to_be_done' | translate}}
            </span>
          </a>
        </div>
        <div class="row" style="position: absolute; right: 0;" *ngIf="isRoleDeliver && totalTasks > 0">
          <div class="col-xs-12 col-md-12">
            <div class="alert text-info" id="msg-box">
              <span class="closebtn" (click)="hideMessage()">&times;</span>
              <i class="fa fa-bell text-info"></i>
              {{'global.mew_notification_msg' | translate}}
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item" ngbDropdown placement="bottom-right">
        <a class="nav-link" role="button" ngbDropdownToggle>
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <!-- if default avatar -->
              <img *ngIf="isDefaultAvatar" src="../../../assets/img/profile/user-avatar.png" alt="avatar">
              <!-- if custom avatar -->
              <img *ngIf="!isDefaultAvatar && !isAvatarChanged" src="{{userAvatarUrl}}" alt="avatar">
              <!-- on avatar changed -->
              <img [src]="imageUrl" *ngIf="imageUrl && isAvatarChanged" alt="avatar">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <a class="text-white text-sm font-weight-bold">
                <strong>{{ displayName }}</strong>
                <i class="fa fa-chevron-down ml-2"></i>
              </a>
            </div>
          </div>
        </a>
        <div class="dropdown-menu-arrow dropdown-menu-right" ngbDropdownMenu>
          <div class="dropdown-header noti-title">
            <h6 class="text-overflow m-0">{{'global.welcome' | translate}} {{ displayName }}!</h6>
          </div>
          <div class="dropdown-divider"></div>
          <a routerLinkActive="active" [routerLink]="['/profile']" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>{{'user-profile.profile' | translate}}</span>
          </a>
          <a routerLinkActive="active" [routerLink]="['/password']" class="dropdown-item">
            <i class="fa fa-key"></i>
            <span>{{'password.pwd-change' | translate}}</span>
          </a>
          <div class="dropdown-divider"></div>
          <span class="dropdown-item logout text-danger font-weight-bold" (click)="logout()"><i
              class="fa fa-sign-out-alt text-danger"></i>{{'global.logout' | translate}}</span>
        </div>
      </li>
    </ul>
  </div>
</nav>
