.brand {
  background-image: url("src/assets/img/brand/logo-vector.svg");
  background-size: cover;
  margin-top: 6px !important
}

mat-card {
  border: 1px solid #e3e3e3 !important;
}

h3 {
  margin: 0 !important;
  width: 98%;
  padding: 0 !important;
}

mat-form-field {
  padding: 0 !important;
}
