footer {
  background-image: url("/assets/img/bg/bg-header.png");
  background-position: center center;
  border-top: 1px solid #e3e3e3;
  margin-top: 2em;
}

footer a,
footer span {
  color: #fff !important;
  font-weight: 600;
}

footer i {
  margin-right: 5px;
  font-weight: 400;
}

.about {
  position: fixed;
  right: 1.5em;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 768px) {
  footer span {
    font-size: 1em;
  }
}

@media only screen and (max-width: 575px) {
  .about {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  .copyright,
  .about {
    text-align: center;
  }
}
