<footer class="py-3 pt-4 bg-header-danger">
  <div class="container-fluid">
    <div class="row">
      <div class="copyright col-sm-6">
        <span>&copy; {{ today | date: "yyyy" }} | <a href="#" class="font-weight-bold" target="_blank">{{'global.company-name' | translate}}</a></span>
      </div>
      <div class="col-sm-6">
        <span class="about">
          <a [href]="abcInterUrl" target="_blank" class="pt-1">
          <i class="fa fa-question-circle"></i>{{'global.about-us' | translate}}
          </a>
        </span>
      </div>
    </div>
  </div>
</footer>
