.header-pwd {
    background-color: #0d98Ba;
    min-height: 294px !important;
    background-position: center right;
    background-repeat: no-repeat !important;
  }
  
  .header-pwd .path-info i:hover,
  .header-pwd .path-info a:hover {
    cursor: pointer;
    color: #ffffff;
  }
  
  .header-pwd .text-center i {
    font-size: 40px;
    line-height: 40px;
    height: 40px;
    width: 40px;
    color: #ffffff;
    vertical-align: middle;
  }