<div class="header-pwd pb-3 pt-5 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask opacity-10"></span>
  <div class="container-fluid align-items-center pt-0">
    <div class="row">
      <div class="col-md-12 path-info">
        <small class="text-white-50"><a (click)="navigateToHome()"><i class="fa fa-home"></i> {{'global.home' |
          translate}}</a> / {{'global.settings' | translate}}</small>
        <small class="text-white"> / <b>{{'global.' + currentUrl | translate}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12 mt-5">
        <i class="fa fa-key"></i>
        <h1 class="display-2 text-white">{{'password.title' | translate}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <!-- content -->
    <div class="col">
      <div class="row">
        <div class="col-xl-6 order-xl-1">
          <div class="card shadow">
            <div class="card-body">
              <form name="form" (ngSubmit)="f.form.valid && confirmSavingChange(confirmModal)" #f="ngForm" novalidate>
                <h6 class="heading-small text-muted mb-1"><strong>{{'password.title' | translate}}</strong></h6>
                <hr class="mt-2"/>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label for="password">{{'password.new-pwd' | translate}}</label>
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                          </div>
                          <input class="form-control" id="password" name="password" [(ngModel)]="form.password" minlength="6"
                                 #password="ngModel" (click)="password.reset()"
                                 placeholder="{{'global.password' | translate}}"
                                 type="password" required>
                        </div>
                        <div class="text-danger" *ngIf="f.submitted && password.invalid">
                          <div *ngIf="password.errors.required"><small>{{'global.required' | translate}}</small></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!f.form.valid" class="text-right">
                  <button class="btn btn-outline-danger" disabled>{{'global.btn-save' | translate}}</button>
                </div>
                <div *ngIf="f.form.valid" class="text-right">
                  <button type="submit" class="btn btn-success">{{'global.btn-save' | translate}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #confirmModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-profile"><i
      class="fa fa-user-circle"></i>{{'global.btn-save-information' | translate}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600"><strong>{{'global.confirm-action' | translate}}</strong></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">
      <i class="fa fa-times"></i>{{'global.btn-return' | translate}}
    </button>
    <button type="button" class="btn btn-success" (click)="savePassword()">
      <i class="fa fa-check"></i>{{'global.btn-save' | translate}}
    </button>
  </div>
</ng-template>

