.modal-header h4 {
  color: #11cdef !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th {
  cursor: pointer;
}

th i {
  margin-left: 5px;
  color: #000;
}

th i:hover {
  color: #3e3e3e;
}

.dropdown-menu {
  top: -1.2em !important;
}