<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small class="text-white-50">
          <a class="text-white-50" (click)="navigateToHome()">
            <i class="fa fa-home"></i>{{'global.home' | translate}}
          </a>
        </small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-user-tag text-white"></i>
        <h1 class="display-2 text-white">{{'roles.roles' | translate}}</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'roles.message-info' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-plus-circle"
                (click)="openModal(addOrEditRole); getRole(null)"></i></small>
            <small class="text-white" id="search-role"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'roles.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchRole" [(ngModel)]="roleName" (ngModelChange)="search()"
                matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400"> {{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="roleList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{roleList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="roleList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && roleList.length > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="user-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" (click)="sort('name')">{{'global.name' | translate}}<i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('description')">{{'global.description' | translate}}</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let role of roleList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}">
                  <td>{{role.name}}</td>
                  <td>{{role.description}}</td>
                  <td class="text-left">
                    <div ngbDropdown placement="left">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <small class="dropdown-item" (click)="openModal(viewRole); getRole(role.roleUuid)"><i
                            class="fa fa-eye text-info"></i>
                          {{'global.view' | translate}}
                        </small>
                        <small class="dropdown-item" (click)="openModal(addOrEditRole); getRole(role.roleUuid)">
                          <i class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                        </small>
                        <small class="dropdown-item" (click)="openModal(confirmDeletion); getRole(role.roleUuid)">
                          <i class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                        </small>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row" *ngIf="roleList.length > 0">
            <div
              *ngFor="let role of roleList | paginate: {id: 'listing_pagination', itemsPerPage: 8, currentPage: page, totalItems: totalItems}"
              class="col-md-4" [@EnterLeave]="'flyIn'">
              <div class="mb-4">
                <div class="row no-gutters">
                  <div class="col card-content">
                    <div class="d-flex justify-content-between" style="border-bottom: 1px solid #11cdef">
                      <h4 class="card-title p-2 mb-0">
                        <small>{{role.name.toUpperCase()}}</small>
                      </h4>
                      <div class="float-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                            <small class="dropdown-item" (click)="openModal(viewRole); getRole(role.roleUuid)"><i
                                class="fa fa-eye text-info"></i>{{'global.view' | translate}}
                            </small>
                            <small class="dropdown-item" (click)="openModal(addOrEditRole); getRole(role.roleUuid)"><i
                                class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                            </small>
                            <small class="dropdown-item" (click)="openModal(confirmDeletion); getRole(role.roleUuid)"><i
                                class="fa fa-times text-danger"></i>{{'global.delete' | translate}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-block px-1 pt-3">
                      <p>{{role.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <div class="col-md-12 mt-4" *ngIf="roleList.length > 0">
        <div class="text-left">
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewRole let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-tag"></i>{{'global.details-of' | translate}}
      {{role.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>{{'global.name' | translate}}: </strong>{{role.name}}</p>
    <p><strong>{{'global.description' | translate}}: </strong>{{role.description}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.ok' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #addOrEditRole let-modal>
  <div class="modal-header">
    <h4 *ngIf="role.roleUuid != null" class="modal-title"><i class="fa fa-user-tag"></i>{{'global.edit' | translate}}
      {{role.name}}</h4>
    <h4 *ngIf="role.roleUuid == null" class="modal-title"><i class="fa fa-user-tag"></i>{{'global.add' | translate}}
      {{role.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="roleName">{{'global.name' | translate}} *</label>
        <input id="roleName" class="form-control" name="roleName" [(ngModel)]="role.name" minlength="5" maxlength="20"
          #roleName="ngModel" placeholder="ROLE_CUSTOMER" type="text" required>
        <div class="text-danger" role="alert" *ngIf="roleName.invalid">
          <small *ngIf="roleName.errors.minlength">{{'global.min-length-error-message' | translate}}</small>
          <small *ngIf="roleName.errors.maxlength">{{'global.max-length-error-message' | translate}}</small>
          <small *ngIf="roleName.errors.required">{{'global.empty-filed' | translate}}</small>
        </div>
      </div>
      <div class="form-group">
        <label for="roleDescription">{{'global.description' | translate}} *</label>
        <textarea id="roleDescription" class="form-control" name="roleDescription" [(ngModel)]="role.description"
          maxlength="80" #roleDescription="ngModel" required></textarea>
        <div class="text-danger" role="alert" *ngIf="roleDescription.invalid">
          <small *ngIf="roleDescription.errors.required">{{'global.empty-filed' | translate}}</small>
          <small *ngIf="roleDescription.errors.maxlength">{{'global.max-length-error-message' | translate}}</small>
        </div>
      </div>
      <div *ngIf="errorMessage" class="text-danger text-right mb-3">
        <small>{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid" class="text-right">
        <button *ngIf="!role.roleUuid" type="submit" (click)="addNewRole()" class="btn btn-success">{{'global.add' |
          translate}}</button>
        <button *ngIf="role.roleUuid" type="submit" (click)="updateRole()" class="btn btn-success">{{'global.btn-save' |
          translate}}</button>
      </div>
      <div *ngIf="!f.form.valid" class="text-right">
        <button *ngIf="!role.roleUuid" class="btn btn-outline-success" disabled>{{'global.add' | translate}}</button>
        <button *ngIf="role.roleUuid" class="btn btn-outline-success" disabled>{{'global.btn-save' |
          translate}}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmDeletion let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'global.delete' | translate}}
      {{this.role.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600">
      <strong>{{'global.delete-confirm' |translate}} <span class="text-danger">{{this.role.name}}</span> ?</strong>
    </p>
    <p class="font-weight-400">{{'global.delelte-message' | translate}}
      <span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')">
      <i class="fa fa-times"></i>{{'global.btn-return' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteRole()">
      <i class="fa fa-check"></i>{{'global.delete' | translate}}
    </button>
  </div>
</ng-template>
