.header {
  background-color: #d20412;
}

.header-logo {
  width: 90px;
  height: 90px;
}

.header-body img {
  border-radius: 10em;
}

.login-info {
  color: #fff;
  font-weight: 600;
}

a {
  color: #5e72e4;
  font-size: 1.1em;
}

.stroke-width {
  stroke-width: 2;
}

.page-title {
  font-size: 1.2em;
  font-weight: 600;
}

.page-title i {
  margin-right: 5px;
}

#customCheckLogin {
  font-weight: 600;
}

.login-card small {
  padding-left: 15px;
}

.login-card .mat-card-header {
  text-align: center;
  justify-content: center;
}

.login-card .mat-flat-button {
  float: right;
}

.login-card .mat-card-subtitle .mat-icon {
  font-size: 1.2em;
}

.black {
  color: #000000 !important;
}

.black-50 {
  color: rgba(0,0,0,.75);
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 992px) {
  .header-logo {
    display: none;
  }

  .login-info {
    padding-top: 0em;
    padding-bottom: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  .mat-card-actions a {
    font-size: 12px;
  }
}
