<div class="header bg-header-img py-5 py-lg-7">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <img src="../../../assets/img/auth/logo.jpg" class="header-logo" />
          <p class="text-white login-info">{{'login.info-message' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-7 col-lg-6">
      <mat-card class="col-md-12 login-card" *ngIf="!isLoggedIn">
        <mat-card-header>
          <mat-card-subtitle>
            <mat-icon>lock_open</mat-icon> {{'global.login' | translate}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>

        <mat-card-content class="mt-4 mb-4">
          <mat-form-field appearance="standard" class="col-md-12" (click)="clearErrorMessage()">
            <mat-label>{{'global.username' | translate}}</mat-label>
            <input matInput placeholder="{{'global.username' | translate}}" [formControl]="usernameCtrl" required>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <mat-hint class="text-danger">{{ usernameError }}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.password' | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="pwdCtrl" minlength="6" (keyup.enter)="login()" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="text-danger" *ngIf="pwdCtrl.value && pwdCtrl.value.length < 6">{{ pwdError }}</mat-hint>
          </mat-form-field>

          <small class="text-danger">{{ errorMessage }}</small>

        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button [routerLink]="['/register']">
            {{'global.create-account' | translate}}!
          </button>
          <button mat-flat-button color="accent"
                 [disabled]="loading || !usernameCtrl.value || !pwdCtrl.value || (pwdCtrl.value && pwdCtrl.value.length < 6)"
                 class="mb-4" (click)="login()" type="submit">
            {{'global.login' | translate}}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
