<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small class="text-white-50"><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>
          {{'global.home' | translate}}</a> / delivery / </small>
        <small class="text-white"><b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fas fa-tasks"></i>
        <h1 class="display-2 text-white">{{'deliveries.to_be_delivered' | translate}}</h1>
        <p class="text-white mt-0 mb-5"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white" (click)="toOrderList()"><i class="fa fa-plus-circle"></i></small>
            <small class="text-white" id="search-registration"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'registration.search_by_order' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchByNb" [(ngModel)]="globaltrackingnb"
              (ngModelChange)="search()" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>

    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>

    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="mb-3">
        <div class="col-md-12" *ngIf="registrationList.length > 0">
          <div class="col-md-2">
            <h3 class="font-weight-600 bg-white">Total ({{registrationList.length}})</h3>
          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>{{'registration.sort_by_store' | translate}}</mat-label>
                <mat-select (selectionChange)="onStoreChange($event)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="storeFilteringCtrl" [searching]="searching">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let store of filteredStores | async" [value]="store.name">
                    {{store.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3" *ngIf="this.utilityService.isCommercial || this.utilityService.isAdmin">
              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>{{'deliveries.sort_by_responsible' | translate}}</mat-label>
                <mat-select (selectionChange)="onResponsibleChanged($event)">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="responsibleFilteringCtrl" [searching]="searching">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let responsible of filteredResponsibles | async" [value]="responsible">
                    {{responsible.user.lastname}} {{responsible.user.firstname}} ({{responsible.personalNumber}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-raised-button color="primary" class="mt-3" (click)="refresh()">{{'global.all' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-middle mt-8" *ngIf="registrationList.length == 0">
        <h3 class="font-weight-500">{{'deliveries.no_deliveries' | translate}}</h3>
        <div class="no-tasks" [@fadeInOut]></div>
        <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12 pb-3">
        <!-- Display as card -->
        <div class="row" *ngIf="registrationList.length > 0">
          <div
            *ngFor="let registration of registrationList | paginate: {id: 'listing_pagination', itemsPerPage: size, currentPage: page, totalItems: totalItems}"
            class="col-xl-3 col-lg-6 mb-4" [@EnterLeave]="'flyIn'">
            <mat-card class="col-md-12">
              <mat-card-header class="col-sm-12">
                <div mat-card-avatar>
                  <button mat-mini-fab aria-label="navigation" color="primary" #tooltip="matTooltip" matTooltip="Maps"
                    (click)="openMaps(registration)">
                    <mat-icon>near_me</mat-icon>
                  </button>
                </div>
                <mat-card-title>
                  <h3 class="font-weight-600">
                    {{'registration.orderID' | translate}}: {{registration.globalTrackingNumber}}
                  </h3>
                </mat-card-title>
                <mat-card-subtitle>
                  {{reverseTime(registration.createdAt.split('T')[0])}},&nbsp;
                  {{registration.createdAt.split('T')[1].split('\.')[0]}}
                </mat-card-subtitle>
              </mat-card-header>
              <a [routerLink]="['/delivery/details', registration.registrationUuid]">
                <mat-card-content class="p-0">
                  <mat-divider></mat-divider>
                  <div class="row pt-2">
                    <div class="col">
                      <h3 class="font-weight-600">{{'customers.customer' | translate}}:</h3>
                    </div>
                    <div class="col">
                      <h4>
                        {{registration?.sender.user.lastname}}
                        {{registration?.sender.user.firstname}}
                      </h4>
                    </div>
                  </div>
                  <div class="row pt-2">
                    <div class="col">
                      <h3>
                        <mat-icon>location_on</mat-icon>
                        {{registration.receivingAddress.streetAndHouseNumber}} ({{registration.receivingAddress.city}})
                      </h3>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                </mat-card-content>
              </a>
              <mat-card-actions align="end">
                <mat-icon matBadge="{{ registration.registeredPackets.length }}" matBadgeColor="primary" class="pt-1">
                  redeem
                </mat-icon>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <div class="col-md-12" *ngIf="registrationList.length > 0">
        <div class="text-left">
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = getAllDeliveries($event-1, size)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>
