.brand {
  background-image: url("src/assets/img/brand/logo-vector.svg");
  background-size: cover;
}

mat-card {
  border: 1px solid #e3e3e3 !important;
}

h3 {
  margin: 0 !important;
  width: 98%
}

mat-form-field {
  padding: 0 !important;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 960px) and (max-width: 1092px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
}
