<form [formGroup]="formGroup" class="col-md-12">
  <h3 class="font-weight-500 mt-2 mb-0">{{'global.address_info' | translate}}</h3>
  <mat-divider class="mt-0 mb-2"></mat-divider>
  <mat-card-content class="mt-4 mb-4">
    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.city' | translate}}</mat-label>
      <input matInput formControlName="cityCtrl" type="text" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.country' | translate}}</mat-label>
      <input matInput formControlName="countryCtrl" type="text" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.address-street' | translate}}</mat-label>
      <input matInput formControlName="streetAndHNBCtrl" type="text" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.fix-number' | translate}}</mat-label>
      <input matInput formControlName="fixNumberCtrl" type="text"
             (change)="checkValidFixPhoneNumber($event)"
             minlength="9" maxlength="13">
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>{{'global.detail' | translate}}</mat-label>
      <textarea matInput formControlName="detailsCtrl" placeholder="Information"></textarea>
    </mat-form-field>
  </mat-card-content>
</form>
