<div class="header bg-header-img py-5 py-lg-7">
  <div class="container">
    <div class="header-body text-center mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <img src="../../../assets/img/auth/logo.jpg" class="header-logo" />
          <p class="text-white register-info">{{'register.info-message' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-7 col-lg-6">
      <mat-card class="col-md-12 register-card" *ngIf="isSignUpFailed">
        <mat-card-header>
          <mat-card-subtitle>
            <mat-icon>account_box</mat-icon> {{'global.register' | translate}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="mt-4 mb-4">
          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.firstname' | translate}}</mat-label>
            <input matInput placeholder="{{'global.firstname' | translate}}" [formControl]="firstnameCtrl" required>
            <mat-icon matSuffix>input</mat-icon>
            <mat-hint class="text-danger">{{firstnameError}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.lastname' | translate}}</mat-label>
            <input matInput placeholder="{{'global.lastname' | translate}}" [formControl]="lastnameCtrl" required>
            <mat-icon matSuffix>input</mat-icon>
            <mat-hint class="text-danger">{{lastnameError}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.email' | translate}} (Optional)</mat-label>
            <input matInput placeholder="customer@abcinter.com" [formControl]="email"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>

          
          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.phone' | translate}}</mat-label>
            <input matInput type="text" [formControl]="phoneCtrl" placeholder="6 xx xx xx xx"
              (change)="checkValidPhoneNumber($event)"
              maxlength="13" minlength="9" required/>
            <mat-icon matSuffix>input</mat-icon>
            <mat-hint class="text-danger">{{phoneError}}</mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.gender' | translate}} <mat-icon>favorite</mat-icon></mat-label>
            <mat-select [formControl]="genderCtrl">
              <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
              <mat-option *ngFor="let gender of genders" [value]="gender">
                {{'global.' + gender | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-12">
            <mat-label>{{'global.password' | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="pwdCtrl" minlength="6"
              (click)="clearErrorMessage()" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="text-danger" *ngIf="pwdCtrl.value && pwdCtrl.value.length < 6">{{ minLengthError1 }}
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="standard" class="col-md-12" (click)="clearErrorMessage()">
            <mat-label>{{'password.repeat' | translate}}</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="pwdRepeatCtrl" minlength="6" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint class="text-danger" *ngIf="pwdError2">{{ pwdError2 }}</mat-hint>
          </mat-form-field>

          <small *ngIf="phoneError" class="text-danger">{{phoneError}}</small>
          <small class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</small>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button [routerLink]="['/login']">
            {{'global.login' | translate }}
          </button>
          <button mat-flat-button color="accent" [disabled]="checkFields()" class="mb-4" (click)="register()">
            {{'global.register' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
