.header {
  background-color: #d20412;
}

a {
  color: #5e72e4;
  font-size: 1em;
}

input {
  background-color: #fff !important;
}

.page-title {
  font-size: 1.2em;
  font-weight: 600;
}

.page-title i {
  margin-right: 5px;
}

.set-card-background-color {
  background-color: #fdf2d6 !important;
}

.header-logo {
  width: 90px;
  height: 90px;
}

.header-body img {
  border-radius: 10em;
}

.set-background-color{
  background-color: #d20412;
}

.set-text-color-white {
  color: white;
}

.stroke-width {
  stroke-width: 20;
}

.register-info {
  color: #fff;
  font-weight: 600;
}

.custom-control-label span a {
  color: #233dd2;
}

.register-card small {
  padding-left: 15px;
}

.register-card .mat-card-header {
  text-align: center;
  justify-content: center;
}

.register-card .mat-flat-button {
  float: right;
}

.register-card .mat-card-subtitle .mat-icon {
  font-size: 1.3em;
}

.black {
  color: #000000 !important;
}

.black-50 {
  color: rgba(0,0,0,.75);
}

.register-card .tel-input {
  width: 94% !important;
  border-bottom: 1px solid rgba(0,0,0,.75) !important;
  margin: 1.5em 15px 1.5em !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.register-card .tel-input input:hover  {
  border-bottom: 1px solid #000 !important;
}

.register-card .tel-input input:focus {
  outline: none;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 992px){
  .header-logo {
    display: none;
  }

  .register-info {
    padding-top: 0;
    padding-bottom: 1.5em;
  }
}

@media only screen and (max-width: 768px) {
}
