<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small class="text-white-50">
          <a class="text-white-50" (click)="navigateToHome()">
            <i class="fa fa-home"></i>
            {{'global.home' | translate}}
          </a>
        </small>
        <small class="text-white-50"> / orders / </small>
        <small class="text-white"><b>{{ currentUrl }}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12 mb-5">
        <i class="fa fa-list"></i>
        <h1 class="display-2 text-white">{{'global.detail' | translate}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white" (click)="toAddView()"><i class="fa fa-plus-circle"></i></small>
            <small class="text-white"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="true">
              <mat-label>{{'global.search' | translate}}</mat-label>
              <input type="text" class="text-white" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>

    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>

    <div *ngIf="!loaded" class="col-md-12 pb-3">
      <mat-horizontal-stepper linear #stepper>
        <mat-step>
          <ng-template matStepLabel>{{'packets.packets-list' | translate}}</ng-template>
          <mat-card class="col-sm-12">
            <mat-card-header class="col-sm-12">
              <div mat-card-avatar>
                <button mat-mini-fab aria-label="to list" class="mb-3" color="primary" #tooltip="matTooltip"
                  matTooltip="List" (click)="toRegistrationList()">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
              <mat-card-title>{{'registration.orderID' | translate}}: {{ registration?.globalTrackingNumber }}
              </mat-card-title>
              <mat-card-subtitle>
                <small>
                  {{reverseTime(registration?.createdAt.split('T')[0])}},&nbsp;
                  {{registration?.createdAt.split('T')[1].split('\.')[0]}}
                </small>
                <small>{{'global.by' | translate}} {{registration?.registeredBy.user.email}}</small>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="pt-1">
              <mat-divider></mat-divider>
              <div class="row pt-2">
                <div class="col-md-4">
                  <h3>
                    <u class="font-weight-600">{{'global.store' | translate}}:</u>
                    {{registration?.store?.address.streetAndHouseNumber}} -
                    {{registration?.store?.name}}
                  </h3>
                  <h3>
                    <u class="font-weight-600">{{'global.phone' | translate}}:</u>
                    {{registration?.store?.address.telAtAddress}}
                  </h3>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="pt-2 pb-1">
                <div class="row">
                  <div class="col-md-4">
                    <h2 class="font-weight-500 mt-2 mb-0">
                      <mat-icon>person_outline</mat-icon> {{'registration.sender' | translate}}
                      <mat-icon *ngIf="isCommercial || isAdmin" #tooltip="matTooltip" (click)="updatePacketSender()"
                        matTooltip="{{'global.edit' | translate}}" color="primary">
                        edit
                      </mat-icon>
                    </h2>
                    <mat-divider></mat-divider>
                    <p class="font-weight-400 mt-2">
                      <u>{{'global.name' | translate}}:</u> {{registration?.sender.user.lastname}}
                      {{registration?.sender.user.firstname}}
                    </p>
                    <p class="font-weight-400">
                      <u>{{'global.phone' | translate}}:</u> {{registration?.sender.user.tel}}
                    </p>
                    <p *ngIf="registration?.sender.user.email" class="font-weight-400">
                      <u>{{'global.email' | translate}}:</u> {{registration?.sender.user.email}}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="font-weight-500 mt-2 mb-0">
                      <mat-icon>person_outline</mat-icon> {{'registration.receiver' | translate}}
                      <mat-icon *ngIf="isCommercial || isAdmin" #tooltip="matTooltip" matTooltip="{{'global.edit' | translate}}" color="primary"
                        (click)="updatePacketReceiver()">
                        edit
                      </mat-icon>
                    </h2>
                    <mat-divider></mat-divider>
                    <p class="font-weight-400 mt-2">
                      <u>{{'global.name' | translate}}:</u> {{registration?.receiver.lastname}}
                      {{registration?.receiver.firstname}}
                    </p>
                    <p class="font-weight-400">
                      <u>{{'global.phone' | translate}}:</u> {{registration?.receiver.tel}}
                    </p>
                    <p *ngIf="registration?.receiver.email" class="font-weight-400">
                      <u>{{'global.email' | translate}}:</u> {{registration?.receiver.email}}
                    </p>
                  </div>
                  <div class="col-md-4">
                    <h2 class="font-weight-500 mt-2 mb-0">
                      <mat-icon>location_on</mat-icon> {{'registration.destination' | translate}}
                      <mat-icon *ngIf="isCommercial || isAdmin" (click)="updatePacketDestination()"
                        #tooltip="matTooltip" matTooltip="{{'global.edit' | translate}}" color="primary">
                        edit
                      </mat-icon>
                    </h2>
                    <mat-divider></mat-divider>
                    <p class="font-weight-400 mt-2">
                      <u>{{'global.address' | translate}}:</u> {{registration?.receivingAddress.streetAndHouseNumber}} -
                      {{registration?.receivingAddress.city}}
                    </p>
                    <p class="font-weight-400" *ngIf="registration?.receivingAddress.telAtAddress">
                      <u>{{'global.phone' | translate}}:</u> {{ registration?.receivingAddress.telAtAddress }}
                    </p>
                  </div>
                </div>
              </div>
              <mat-divider></mat-divider>
              <div class="table-responsive mt-3 mb-2">
                <table class="table table-flush">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">{{'packets.tracknumber' | translate}}</th>
                      <th scope="col">{{'shipping-cost.shipping-type' | translate}}</th>
                      <th scope="col">{{'packets.weight' | translate}}</th>
                      <th scope="col">{{'global.category' | translate}}</th>
                      <th scope="col">{{'shipping-cost.price' | translate}}</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let packet of registration?.registeredPackets" [@fadeInOut]>
                      <td>
                        <mat-checkbox color="primary" style="float: right;"
                          (change)="onPacketCheck($event.checked, packet)"></mat-checkbox>
                      </td>
                      <td>
                        {{packet.trackingNumber}}
                      </td>
                      <td>{{packet.shippingCost.shippingType}}</td>
                      <td>
                        {{packet.weight}}kg
                      </td>
                      <td>{{packet.shippingCost?.category.name}}</td>
                      <td>{{packet.shippingCost?.price}} {{packet.shippingCost?.currency}}</td>
                      <td>
                        <button mat-icon-button (click)="displayPacketDetails(packet.packetUuid, packetDetails)">
                          <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="updateSavedPacket(packet.packetUuid)"
                          *ngIf="isCommercial || isAdmin">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="updateRemovePacket(packet, confirmDelete)"
                          *ngIf="isAdmin">
                          <mat-icon>delete_forever</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <h3 class="col-md-12 pt-1 font-weight-700" *ngIf="isCommercial || isAdmin">
                  {{'global.total_price' | translate}}: {{registration?.totalPrice}} {{registration?.currency}}
                </h3>
              </div>
              <mat-divider class="col-md-12"></mat-divider>
            </mat-card-content>
            <mat-card-actions>
              <h3 class="col-md-12 pt-1 font-weight-700" *ngIf="isDeliverer">
                {{'global.total_price' | translate}}: {{registration?.totalPrice}} {{registration?.currency}}
              </h3>
              <button mat-icon-button color="primary" #tooltip="matTooltip" *ngIf="isCommercial || isAdmin"
                matTooltip="{{'registration.add_packet' | translate}}" (click)="updateAddPacket()">
                <mat-icon>add</mat-icon>
              </button>
              <!-- delete btn -->
              <button mat-icon-button color="warn" #tooltip="matTooltip" matTooltip="{{'global.delete' | translate}}"
                (click)="confirmRegistrationDeletion(confirmDeleteReg)" *ngIf="isAdmin || isCommercial">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <!--next btn-->
              <button mat-raised-button color="primary" matStepperNext class="float-right">{{'global.next' | translate}}</button>
            </mat-card-actions>
          </mat-card>
          <!--bulk actions-->
          <div *ngIf="bulkActions.length > 0">
            <div class="col-md-12 mt-3">
              <mat-form-field appearance="legacy" class="col-sm-12 col-md-2"
                style="margin-left: 0 !important; padding-left: 0 !important;">
                <mat-label>{{'global.actions' | translate}}</mat-label>
                <mat-select [formControl]="actionControl" required>
                  <mat-option *ngFor="let action of bulkActions" [value]="action">
                    {{action.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="actionControl.hasError('required')">{{'global.no_action_error' | translate}}
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="legacy" class="col-sm-12 col-md-3"
                *ngIf="actionControl.value.action === 'assign'">
                <mat-label>{{'registration.search_by_pNb' | translate}}</mat-label>
                <mat-select [formControl]="selectedPostman">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="postmanFilteringCtrl" [searching]="searching">
                    </ngx-mat-select-search>
                  </mat-option>
                  <mat-option *ngFor="let operator of filteredOperators | async" [value]="operator">
                    {{operator.user.lastname}} {{operator.user.firstname}} ({{operator.personalNumber}})
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="actionControl.hasError('required')">{{'global.no_action_error' | translate}}
                </mat-error>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="applyAction(confirmDeletionFromRegistration)"
                #tooltip="matTooltip" matTooltip="Apply the selected action">{{'global.apply' | translate}}</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>{{'global.bill' | translate}}</ng-template>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                <button mat-mini-fab aria-label="to list" class="mb-3" color="primary" #tooltip="matTooltip"
                  matTooltip="List" matStepperPrevious>
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
              <mat-card-title>{{'global.bill' | translate}} {{'global.nb' | translate}}</mat-card-title>
              <mat-card-subtitle>{{registration.globalTrackingNumber}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <!--impression app-->
              <app-receipt-impression id="print-section"></app-receipt-impression>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button matStepperPrevious>{{'global.back' | translate}}</button>
              <button *ngIf="isCommercial || isAdmin" mat-stroked-button color="basic" class="mr-2"
                #tooltip="matTooltip" matTooltip="Print" [useExistingCss]="true"
                printTitle="{{registration?.sender.user.lastname}}" printSectionId="print-section" ngxPrint>
                <mat-icon>print</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>


<!-- Registration details -->
<ng-template #registrationDetails let-modal>
  <div class="table-responsive">
    <div class="modal-header">
      <h4 class="modal-title" id="view-profilw">
        {{'registration.regist_detail' | translate}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-6">
            <mat-label>{{'registration.registNB' | translate}}</mat-label>
            <input matInput placeholder="rnumber" value="{{registration?.globalTrackingNumber}}" readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-6">
            <mat-label>{{'global.registered_by' | translate}}</mat-label>
            <input matInput placeholder="rid"
              value="{{registration?.registeredBy.user.email}} - {{registration?.registeredBy.personalNumber}}"
              readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-6">
            <mat-label>{{'registration.store_info' | translate}}</mat-label>
            <input matInput placeholder="id"
              value="{{registration?.store?.name}} - {{ registration?.store?.address.city }} (Phone: {{ registration?.store?.address.telAtAddress }})"
              readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-6">
            <mat-label>{{'registration.registered_packets' | translate}}</mat-label>
            <input matInput placeholder="rid" value="{{registration?.registeredPackets.length}}" readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-6">
            <mat-label>{{'global.total_price' | translate}}</mat-label>
            <input matInput placeholder="rid" value="{{registration?.totalPrice}} {{registration?.currency}}" readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
            <mat-label>{{'global.detail' | translate}}</mat-label>
            <input matInput placeholder="details" value="{{registration?.registrationDetails}}" readonly>
          </mat-form-field>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.close' | translate}}
    </button>
  </div>
</ng-template>

<!-- packet details -->
<ng-template #packetDetails let-modal>
  <div class="table-responsive">
    <div class="modal-header">
      <h4 class="modal-title" id="view-profilw">
        {{'global.detail' | translate}}
      </h4>
    </div>
    <div class="modal-body">
      <div class="col-md-12">
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12 col-md-6">
            <mat-label>{{'packets.tracknumber' | translate}}</mat-label>
            <input matInput placeholder="number" value="{{selectedPacket.trackingNumber}}" readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="legacy" class="col-sm-12  col-md-6">
            <mat-label>{{'registration.store_info' | translate}}</mat-label>
            <input matInput placeholder="id"
              value="{{currentPacketLocation?.name}} - {{currentPacketLocation?.address?.streetAndHouseNumber}}"
              readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
            <mat-label>{{'global.position-information' | translate}}</mat-label>
            <input matInput placeholder="Position" value="{{selectedPacket.positionInStore}}" readonly>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
            <mat-label>{{'global.detail' | translate}}</mat-label>
            <input matInput placeholder="details" value="{{selectedPacket.positionDetails}}" readonly>
          </mat-form-field>
        </p>
        <p *ngIf="selectedPacket.description">
          <mat-form-field appearance="outline" class="col-sm-12 col-md-12">
            <mat-label>{{'global.description' | translate}}</mat-label>
            <input matInput placeholder="details" value="{{selectedPacket.description}}" readonly>
          </mat-form-field>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.close' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #confirmDelete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-cubes"></i>{{'global.delete' |
      translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600">
      <strong>{{'global.delete-confirm' | translate}}
        <span class="text-primary">{{currentSelectedPacket.trackingNumber}}</span> ?
      </strong>
    </p>
    <p class="font-weight-400">{{'global.delete-message' | translate}}
      <br><span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
    <p *ngIf="isOnlyOnePacket" class="text-red font-weight-600 text-underline">
      <br>{{'packets.del_warning' | translate}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.cancel' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deletePacket()"><i class="fa fa-check"></i>{{'global.confirm'
      | translate}}
    </button>
  </div>
</ng-template>

<ng-template #confirmDeletionFromRegistration let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-cubes"></i>{{'global.delete' |
      translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600">
      {{'global.delete-confirm' | translate}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.cancel' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteSelectedPackets()"><i
        class="fa fa-check"></i>{{'global.confirm'
      | translate}}
    </button>
  </div>
</ng-template>

<ng-template #confirmDeleteReg let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-cubes"></i>{{'global.delete' |
      translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600">
      <strong>{{'global.delete-confirm' | translate}}
        <span class="text-primary">{{registration.globalTrackingNumber}}</span> ?
      </strong>
    </p>
    <p class="font-weight-400">{{'global.delete-message' | translate}}
      <br><span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.cancel' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteRegistration()"><i
        class="fa fa-check"></i>{{'global.confirm'
      | translate}}
    </button>
  </div>
</ng-template>
