<div class="container-fluid">
  <img src="assets/img/brand/abc-logo.jpg" alt="logo" class="avatar"
    style="display: block; margin-left: auto; margin-right: auto;">
  <div class="row mt-2 header-line" style="justify-content: center; text-align: center;">
    <h2 class="font-weight-600">ABC INTER</h2>
  </div>
  <div class="pt-1" style="justify-content: center; text-align: center;">
    <span class="font-weight-800">{{registration?.store.name}}</span>&nbsp;-&nbsp;
    <span class="font-weight-800">{{registration?.store.address.streetAndHouseNumber}}</span>&nbsp;-&nbsp;
    <span class="font-weight-800">{{registration?.store.address.city}}</span>&nbsp;-&nbsp;
    <span class="font-weight-800">{{registration?.store.address.country}}</span>
  </div>

  <div class="row mt-1" style="justify-content: left; text-align: left; padding-top: 25px;">
    <h2 class="font-weight-800" style="margin-left: 9pt">FACTURE</h2>
  </div>

  <div class="row no-gutters items-group mt-3">
    <div class="col-3 label" style="margin: auto auto;">
      <p>Date:</p>
      <p>Facture No:</p>
    </div>
    <div class="col-6" style="margin: auto auto;">
      <p>{{registration?.createdAt.split('T')[0].split("-").reverse().join("-")}},&nbsp;
        {{registration?.createdAt.split('T')[1].split('\.')[0].split("-").reverse().join("-")}}
      </p>
      <p>{{registration?.globalTrackingNumber}}</p>
    </div>
    <div class="col-3">
      <ejs-qrcodegenerator style="display: block; margin: auto auto;" #barcode id="barcode" width="350px" height="250px"
        mode="SVG" [displayText]="{visibility: false}" [value]="toTrackingnumberQrCode(registration?.globalTrackingNumber)">
      </ejs-qrcodegenerator>
    </div>
  </div>
  <h3 class="pt-3 font-weight-600">LISTE DE COMMANDE</h3>
  <div class="row no-gutters items-group mt-1" *ngFor="let packet of registration?.registeredPackets">
    <div class="col-3 label" style="margin: auto auto;">
      <p>Numéro de suivi:</p>
      <p>Poids:</p>
      <p>Montant:</p>
    </div>
    <div class="col-6" style="margin: auto auto;">
      <p>{{packet.trackingNumber}}</p>
      <p>{{packet.weight}} Kg</p>
      <p class="font-weight-500">{{packet.shippingCost.price}} {{packet.shippingCost.currency}}</p>
    </div>
    <!--div class="col-3">
      <ejs-qrcodegenerator style="display: block; margin: auto auto;" #barcode id="barcode" width="250px" height="150px"
        mode="SVG" [displayText]="{visibility: false}" [value]="codePacketStateUrl(packet.trackingNumber)">
      </ejs-qrcodegenerator>
    </div-->
  </div>

  <div class="row no-gutters mt-5 top-line">
    <div class="col-3 label">
      <h2 class="font-weight-800">Total à payer:</h2>
    </div>
    <div class="col-9">
      <h2 class="font-weight-800">
        {{registration?.totalPrice}} {{registration?.currency}}
      </h2>
    </div>
  </div>
  <!--information-->
  <div class="mt-5" style="display: flex; justify-content: right; text-align: left; padding-top: 15px;">
    <span class="font-weight-800">Nous vous remercions de votre visite.</span>&nbsp;-&nbsp;
    <span class="font-weight-800">Votre ABC INTER GROUP</span>
  </div>
  <div class="row top-line">
    <div class="col-md-12 mb-3">
      <h2 class="mt-1"><i class="fa fa-info-circle text-info font-weight-800"></i>&nbsp;Comment suivre votre colis</h2>
      <p class="font-weight-500">
        <small>
          Vous pouvez facilement suivre votre envoi en ligne grâce à notre outil de suivi et de localisation.
          Vous saurez où se trouve votre colis et quand il arrivera. Tout ce dont vous avez besoin est le numéro de votre envoi.
          En saisissant ce numero <strong>{{registration?.globalTrackingNumber}}</strong> sur notre site <strong>https://api.abcinter-group.com/packet-tracking/abcinter</strong>, vous verrez le statut de votre colis.
        </small>
      </p>
    </div>
  </div>
</div>

<!-- next pages -->
<div class="container-fluid page-break-before">
  <div class="row">
    <div class="card" *ngFor="let packet of registration?.registeredPackets;  let i = index;">
      <!--img class="card-img-top" src="assets/img/brand/abc-logo.jpg" alt="Card image cap"-->
      <div class="card-body">
        <!-- qrcode -->
        <ejs-qrcodegenerator style="display: block; margin: auto auto;" #barcode id="barcode" width="450px" height="350px" mode="SVG"
          [displayText]="{text: packet.trackingNumber}" [value]="codePacketInformation(packet)">
        </ejs-qrcodegenerator>
        <div class="m-5"></div>
        <!--barcode-->
        <p class="font-weight-600 text-center">Enrégistrement</p>
        <ejs-barcodegenerator style="display: block; margin: auto auto;" #barcode id="barcode" width="400px" height="250px" mode="SVG"
          [displayText]='barcodeText' [value]="codeRegistrationNB()">
        </ejs-barcodegenerator>
        <!--item number-->
        <h1 class="card-title text-center mt-3">{{i+1}}/{{registration?.registeredPackets?.length}}</h1>
      </div>
    </div>
  </div>
</div>