h1, h2, h3, h4, p, img { margin: 0;}
h1 {font-size: 18pt; font-weight: 500; margin-bottom: 0.5cm;}
h2 {font-size: 16pt; font-weight: 500;}
p {font-size: 12pt; color: black; font-weight: 500;}

.items-group {
  border-style: solid;
  border-color: #777777;
  border-width: 1pt 1pt 1pt 1pt;
  border-radius: 5pt;
  padding: 3pt 3pt 3pt 3pt;
  margin: 9pt 0 9pt 0;
}

.label { font-weight: 500;}

.disclaimer, .address p {
  font-size: 10pt;
}

.signature-field {
  padding-top: 15pt;
  border-bottom: solid black 1pt;
}

.header-line {
  border-bottom: solid #3e3e3e3e 2pt;
  padding: 10px;
}

.top-line {
  border-top:  solid #3e3e3e3e 2pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}

.page-break-before {
  page-break-before: always;
}

.card {
  width: 30rem;
  border: 2pt solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 0 10px 156px 20px;
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

img {
  vertical-align: middle;
  border-style: none;
}