<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
          translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-store text-white"></i>
        <h1 class="display-2 text-white">{{'packet-store.packet-store' | translate}}</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'packet-store.packet-store-header' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white" *ngIf="isAdmin"><i class="fa fa-plus-circle"
                                         (click)="openModal(addOrEdit); getPacketStore(null)"></i></small>
            <small class="text-white" id="search-customer"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'packet-store.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchStore" [(ngModel)]="storeName"
                     (ngModelChange)="search()" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="packetStoreList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{packetStoreList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="packetStoreList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && packetStoreList.length > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="user-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('name')">{{'global.name' | translate}} <i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('volume')">{{'packet-store.volume' | translate}}&#179; <i
                  class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('address')">{{'global.name' | translate}} <i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('contact')">Contact <i class="fa fa-sort"></i></th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let pStore of packetStoreList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}">
                <td>{{pStore.name}}</td>
                <td>{{pStore.volume}}</td>
                <td>
                  {{pStore.address.streetAndHouseNumber}}&nbsp;-&nbsp;
                  {{pStore.address.city}}&nbsp;
                  ({{pStore.address.country}})
                </td>
                <td>{{pStore.address.telAtAddress}}</td>
                <td class="text-left">
                  <div ngbDropdown placement="left">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <small class="dropdown-item"
                             (click)="openModal(viewStore); getPacketStore(pStore.packetStoreUuid)"><i
                        class="fa fa-eye text-info"></i>
                        {{'global.view' | translate}}
                      </small>
                      <small class="dropdown-item" *ngIf="isAdmin"
                             (click)="openModal(addOrEdit); getPacketStore(pStore.packetStoreUuid)">
                        <i class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                      </small>
                      <small class="dropdown-item" *ngIf="isAdmin"
                             (click)="openModal(confirmDeletion); getPacketStore(pStore.packetStoreUuid)">
                        <i class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                      </small>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row" *ngIf="packetStoreList.length > 0">
            <div
              *ngFor="let packetStore of packetStoreList | paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
              class="col-md-4" [@EnterLeave]="'flyIn'">
              <div class="mb-4 border-info">
                <div class="row no-gutters">
                  <div class="col-4 bg-gradient-danger">
                    <div class="img-center">
                      <img src="../../../assets/img/profile/avatar.jpg"
                           class="avatar rounded-circle img-responsive img-fluid">
                    </div>
                  </div>
                  <div class="col card-content">
                    <div class="d-flex justify-content-between border-bottom-1">
                      <h4 class="card-title p-2 mb-0">
                        {{packetStore.name.toUpperCase()}}
                      </h4>
                      <div class="float-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                            <small class="dropdown-item"
                                   (click)="openModal(viewStore); getPacketStore(packetStore.packetStoreUuid)">
                              <i class="fa fa-eye text-info"></i>{{'global.view' | translate}}
                            </small>
                            <small class="dropdown-item"
                                   (click)="openModal(addOrEdit); getPacketStore(packetStore.packetStoreUuid)" *ngIf="isAdmin">
                              <i class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                            </small>
                            <small class="dropdown-item"
                                   (click)="openModal(confirmDeletion); getPacketStore(packetStore.packetStoreUuid)" *ngIf="isAdmin">
                              <i class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-block px-1 pt-3">
                      <ul class="customer-info">
                        <li><i class="fa fa-mobile"></i><small>{{packetStore.address.telAtAddress || 'empty' |
                          translate}}</small></li>
                        <li><i class="fa fa-map-marker"></i><small>{{packetStore.address.streetAndHouseNumber
                        || 'empty'}}</small></li>
                        <li><i class="fa fa-map-marker"></i><small>{{packetStore.address.country || 'empty' |
                          translate}}</small></li>
                        <li><i class="fa fa-store"></i><small>{{packetStore.volume || 'empty' | translate}}</small></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <div class="col-md-12" *ngIf="packetStoreList.length > 0">
        <div class="text-left">
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #viewStore let-modal id="longContent">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-tag"></i>{{'packet-store.about' | translate}}
      {{packetStore.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body longContent">
    <div class="card card-profile shadow">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <img src="../../../assets/img/profile/avatar.jpg" class="rounded-circle">
          </div>
        </div>
      </div>
      <div class="card-body pt-4 pt-md-4">
        <div class="row">
          <div class="col">
            <div class="card-profile-stats d-flex justify-content-center mt-md-5 bonus">
              <div>
                <a href='tel: {{this.packetStore.address.telAtAddress}}' target="_blank" ngbTooltip="Phone">
                  <i class="fa fa-phone text-primary"></i>
                </a>
              </div>
              <div>
                <a
                  href='https://web.whatsapp.com/send?phone={{this.packetStore.address.telAtAddress}}&text=urlencodedtext'
                  ngbTooltip="Whatsapp" target="_blank">
                  <i class="fab fa-whatsapp text-success"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h2 class="mb-2 mt--2 text-red">
            {{this.packetStore.name}}
          </h2>
          <div class="h4 font-weight-300">
            {{this.packetStore.address.city + ', ' + this.packetStore.address.country}} -
            {{'global.street' | translate}}: {{this.packetStore.address.streetAndHouseNumber || 'unknown' | translate}}
          </div>
          <div class="h4 pt-2">
            <b>{{'packet-store.name' | translate}}:</b> {{this.packetStore.name}}
          </div>
          <div class="h4">
            <b>{{'global.city' | translate}}:</b> {{this.packetStore.address.city || 'unknown' | translate}}
          </div>
          <div class="h4">
            <b>{{'global.country' | translate}}:</b> {{this.packetStore.address.country || 'unknown' | translate}}
          </div>
          <div class="h4">
            <b>{{'global.address' | translate}}:</b> {{this.packetStore.address.streetAndHouseNumber || 'unknown' |
            translate}}
          </div>
          <div class="h4">
            <b>{{'global.fix-number' | translate}}:</b> {{this.packetStore.address.telAtAddress || 'unknown'}}
          </div>
          <div class="mt-3">
            <h3>Position</h3>
            <hr class="mt-0 mb-3"/>
          </div>
          <div>
            Latitude: {{this.packetStore.address.latitude}}
          </div>
          <div>
            Longitude: {{this.packetStore.address.longitude}}
          </div>
          <div class="mt-5">
            <h3>{{'packet-store.additional-info' | translate}}</h3>
            <hr class="mt-0 mb-3"/>
          </div>
          <div class="h5 font-weight-300">
            {{this.packetStore.address.additionalInformation || 'empty' | translate}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')">
      {{'global.close' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #addOrEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="null != packetStore.packetStoreUuid"><i class="fa fa-user-edit"></i>
      {{'packet-store.edit-packet-store' | translate}} "{{this.packetStore.name}}"
    </h4>
    <h4 class="modal-title" *ngIf="null == packetStore.packetStoreUuid"><i class="fa fa-user-edit"></i>
      {{'packet-store.add-packet-store' | translate}} {{this.packetStore.name}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body longContent">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name">{{'packet-store.name' | translate}}</label>
            <input id="name" class="form-control" name="name" [(ngModel)]="this.packetStore.name" minlength="2"
                   maxlength="40" #name="ngModel" placeholder="{{'packet-store.name' | translate}}" type="text" required
                   (click)="clearErrorMessage()">
            <div class="text-danger" role="alert" *ngIf="name.invalid">
              <small *ngIf="name.errors.minlength">{{'packet-store.name-error-min' | translate}}</small>
              <small *ngIf="name.errors.maxlength">{{'packet-store.name-error-max' | translate}}</small>
              <small *ngIf="name.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="name">{{'packet-store.volume' | translate}}&#179; </label>
              <input id="volume" class="form-control text-black-50" name="volume" [(ngModel)]="this.packetStore.volume"
                     min="0.1" maxlength="2" #volume="ngModel" placeholder="100" type="number"
                     step="0.01" (keyup)="preventInput($event, volume)">
              <div class="text-danger" role="alert" *ngIf="volume.invalid">
                <small *ngIf="name.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
              <div class="text-danger" *ngIf="longitude.invalid">
                <small>{{'global.error' | translate}}</small>
                <small *ngIf="volume.errors.maxlength">{{'global.error' | translate}}</small>
              </div>
            </div>
            <!--tel-->
          <div class="form-group col-md-4">
            <div>
              <label for="phone">{{'global.phone' | translate}}</label>
            </div>
            <input class="form-control col-md-12 text-black-50" id="phone" type="text"
                   [(ngModel)]="this.packetStore.address.telAtAddress"
                   name="tel" (change)="checkValidPhoneNumber($event)"
                   style="width: 100% !important;" placeholder="6 xx xx xx xx"
                   minlength="9" maxlength="13" required>
            <div class="text-danger" *ngIf="errors.phoneNb">
              <small>{{'global.phone-error-min' | translate}}</small>
            </div>
          </div>
          </div>
          <h3>{{'global.address' | translate}}</h3>
          <hr class="mt-1 mb-3"/>
          <div class="form-group">
            <label for="city">{{'global.city' | translate}}</label>
            <input id="city" class="form-control text-black-50" name="city" [(ngModel)]="this.packetStore.address.city"
                   minlength="3" maxlength="20" #city="ngModel" placeholder="{{'global.city' | translate}}" type="text"
                   (click)="clearErrorMessage()" required>
            <div class="text-danger" *ngIf="city.invalid">
              <small *ngIf="city.errors.minlength">{{'global.city-error-min' | translate}}</small>
              <small *ngIf="city.errors.maxlength">{{'global.city-error-max' | translate}}</small>
              <small *ngIf="city.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="country">{{'global.country' | translate}}</label>
            <input id="country" class="form-control text-black-50" name="country"
                   [(ngModel)]="this.packetStore.address.country" minlength="3" #country="ngModel"
                   placeholder="{{'global.country' | translate}}" type="text" (click)="clearErrorMessage()" required>
            <div class="text-danger" *ngIf="country.invalid">
              <small *ngIf="country.errors.minlength">{{'global.country-error-min' | translate}}</small>
              <small *ngIf="country.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="address">{{'global.address-street' | translate}}</label>
            <input id="address" class="form-control text-black-50" name="address"
                   [(ngModel)]="this.packetStore.address.streetAndHouseNumber" minlength="3" #address="ngModel"
                   placeholder="bellevue 1" type="text" (click)="clearErrorMessage()">
            <div class="text-danger" *ngIf="address.invalid">
              <small *ngIf="address.errors.minlength">{{'global.street-error-min' | translate}}</small>
            </div>
          </div>
          <h3>Position</h3>
          <hr class="mt-2 mb-3"/>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input id="longitude" class="form-control text-black-50" name="longitude"
                   [(ngModel)]="this.packetStore.address.longitude" min="0" #longitude="ngModel" placeholder="10.2"
                   type="number" step="0.01" maxlength="2" autofocus="autofocus"
                   (keyup)="preventInput($event, longitude)">
            <div class="text-danger" *ngIf="longitude.invalid">
              <small>{{'global.error' | translate}}</small>
              <small *ngIf="longitude.errors.maxlength">{{'global.error' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input id="latitude" class="form-control text-black-50" name="latitude"
                   [(ngModel)]="this.packetStore.address.latitude" maxlength="2" #latitude="ngModel"
                   placeholder="10.2" type="number" step="0.001" autofocus="autofocus"
                   (keyup)="preventInput($event, latitude)">
            <div class="text-danger" *ngIf="latitude.invalid">
              <small>{{'global.error' | translate}}</small>
              <small *ngIf="latitude.errors.maxlength">{{'global.error' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="additionalinfo">{{'packet-store.additional-info' | translate}}</label>
            <textarea id="additionalinfo" class="form-control" name="additionalinfo"
                      [(ngModel)]="this.packetStore.address.additionalInformation" #additionalinfo="ngModel"
                      placeholder="{{'packet-store.additional-info' | translate}}" rows="4" cols="50">
            </textarea>
          </div>
        </div>
      </div>
      <div *ngIf="errorMessage.length > 0" class="text-right text-danger mb-3">
        <small>{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid && packetStore.packetStoreUuid == null" class="text-left">
        <button type="submit" class="btn btn-success" (click)="addNewPacketStore()">{{'global.btn-add' |
          translate}}</button>
      </div>
      <div *ngIf="!f.form.valid && packetStore.packetStoreUuid == null" class="text-left">
        <button class="btn btn-outline-success" disabled>{{'global.btn-add' | translate}}</button>
      </div>
      <div *ngIf="f.form.valid && packetStore.packetStoreUuid != null" class="text-left">
        <button type="submit" class="btn btn-success" (click)="updateStore()">{{'global.btn-save' | translate}}</button>
      </div>
      <div *ngIf="!f.form.valid && packetStore.packetStoreUuid != null" class="text-left">
        <button class="btn btn-outline-success" disabled>{{'global.btn-save' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">
      {{'global.btn-return' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #confirmDeletion let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'global.delete-confirm' | translate}}
      {{this.packetStore.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600">
      <strong>{{'global.delete-confirm' | translate}} <span class="text-danger">{{this.packetStore.name}}</span>
        ?</strong>
    </p>
    <p class="font-weight-400">{{'packet-store.delete-notice' | translate}}
      <span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')">
      <i class="fa fa-times"></i>{{'global.btn-return' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteStore()">
      <i class="fa fa-check"></i>{{'global.btn-delete' | translate}}
    </button>
  </div>
</ng-template>
