@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  background-color: #ffffff !important;
  height: 100vh !important;
  color: #212529;
}

.hidden {
  display: none;
}

.main-content {
  min-height: 100vh;
}

.content {
  margin-top: 2rem;
}

.header {
  background: url("/assets/img/theme/crumb.jpg") !important;
  min-height: 294px !important;
  background-position: center bottom;
  background-repeat: no-repeat !important;
}

.header .action-icon i {
  font-size: 15px;
  height: 15px;
  width: 15px;
  margin-right: 20px;
}

.page-settings {
  display: flex;
}

.page-settings .block1 {
  width: 10%;
  margin-top: 2.6em;
}

.page-settings .block2 {
  width: 80%;
  color: #ffffff !important;
}

.page-settings .block3 {
  width: 10%;
  margin-top: 2.6em;
  float: right;
  justify-content: right;
  text-align: right;
}

.page-settings small {
  cursor: pointer;
  margin-left: 1.2em;
}

.page-settings small:first-child {
  margin-left: 0;
}

.page-settings i {
  font-size: 1.3em !important;
}

.bg-header-danger {
  background-color: #d20412;
}

.bg-header-img {
  background-size: 294px;
  min-height: 294px;
  background-image: url("/assets/img/bg/bg-header.png");
  background-position: center top;
}

.header .path-info i {
  font-size: 15px;
  height: 15px;
  width: 15px;
  padding: 0;
  margin-right: 6px;
}

.header .path-info small a:hover,
.header .path-info i:hover {
  cursor: pointer;
  color: #ffffff;
}

.header .action-icon i:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5) !important;
}

.header .text-center i {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  width: 40px;
  color: #ffffff;
  vertical-align: middle;
}

.ngx-pagination {
  padding: 5px;
  margin-bottom: 0.8rem !important;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}

.modal-dialog {
  min-width: 50% !important;
  justify-content: center !important;
}

.modal-content {
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}

.modal-header {
  padding: 1rem !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.dropdown .btn {
  color: #333333 !important;
}

.dropdown .btn:hover {
  box-shadow: none !important;
  color: #525f7f !important;
}

.dropdown small {
  color: #333333 !important;
}

.dropdown small:hover {
  cursor: pointer;
}

.modal-footer {
  padding: 0.8rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.modal-footer i,
.modal-header i {
  margin-right: 5px;
}

.modal-header h4 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6) !important;
  text-transform: uppercase;
}

.longContent {
  padding-top: 2.5em !important;
  height: 38rem;
  overflow: scroll;
}

.modal-body input {
  color: rgba(0, 0, 0, 0.5) !important;
}

@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.ship i {
  font-size: 1.2em;
}

.ship h3 {
  color: #fff;
  font-weight: 800;
}

.card-profile-image img {
  width: 130px;
  height: 130px;
}

.header .mat-form-field-label {
  color: #ffffff !important;
}

.header .mat-focused .mat-form-field-label {
  color: #ffffff !important;
  font-weight: 400;
}

.header .mat-form-field-underline {
  background-color: #ffffff !important;
}

.header .mat-form-field-ripple {
  background-color: #ffffff !important;
}

#packets-ready-for-delivery .ag-header-cell,
#packets-delivery .ag-header-cell,
#packets-to-be-delivered .ag-header-cell,
#packets-in-store .ag-header-cell {
  background-color: #eee;
}

#packets-ready-for-delivery .ag-header-group-cell,
#packets-to-be-delivered .ag-header-group-cell,
#packets-delivery .ag-header-group-cell,
#packets-in-store .ag-header-group-cell {
  font-size: 1.2em;
  background-color: #fff;
  color: #777777;
  font-weight: 600;
}

#packets-ready-for-delivery .ag-header-group-cell-no-group,
#packets-to-be-delivered .ag-header-group-cell-no-group,
#packets-delivery .ag-header-group-cell-no-group,
#packets-in-store .ag-header-group-cell-no-group {
  background-color: #ffffff;
}

.card-content {
  border: 2px solid #e3e3e3;
}

.table-responsive {
  border: 1px solid #e3e3e3 !important;
  background: #ffffff !important;
}

.text-middle {
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.no-orders {
  background-size: 180px;
  min-height: 180px;
  background-image: url("/assets/img/theme/no-order.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.no-tasks {
  background-size: 180px;
  min-height: 180px;
  background-image: url("/assets/img/theme/no-task.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.no-deliveries {
  background-size: 180px;
  min-height: 180px;
  background-image: url("/assets/img/theme/package.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.forbidden {
  background-size: 250px;
  min-height: 250px;
  background-image: url("/assets/img/theme/oops.png");
  background-position: center top;
  background-repeat: no-repeat;
}

.notfound {
  background-size: 600px;
  min-height: 600px;
  background-image: url("/assets/img/theme/404.png");
  background-position: center top;
  background-repeat: no-repeat;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (min-width: 1200px) {
  .table-responsive {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
}

@media only screen and (min-width: 960px) and (max-width: 1092px) {
  .table-responsive {
    overflow: scroll !important;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 768px) {
  .header .header-body {
    margin-top: 5em;
  }

  .navbar-vertical {
    position: fixed;
    width: 100%;
  }

  .bonus {
    margin-top: 3em;
  }

  .forbidden {
    background-size: 200px;
    min-height: 200px;
    background-image: url("/assets/img/theme/oops.png");
    background-position: center top;
    background-repeat: no-repeat;
  }

  .notfound {
    background-size: 350px;
    min-height: 350px;
    background-image: url("/assets/img/theme/404.png");
    background-position: center top;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 568px) {
  .header .action-icon i {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 468px) {
  .page-settings .block1 {
    width: 15%;
  }

  .page-settings .block2 {
    width: 70%;
  }

  .page-settings .block3 {
    width: 15%;
  }
}
