.tel-input {
  width: 94% !important;
  border-bottom: 1px solid rgba(0,0,0,.75) !important;
  margin: 1.5em 15px .8em !important;
  margin-right: 0 !important;
  padding: 0 !important;
}

.tel-input input:hover  {
  border-bottom: 1px solid #000 !important;
}

.tel-input input:focus {
  outline: none;
}

.brand {
  background-image: url('src/assets/img/brand/logo-vector.svg');
  background-size: cover;
}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.packet-bocket {
  margin-top: 2em !important;
  margin-left: 15px;
}

mat-card-content {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 24px 24px 0px !important;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 960px) and (max-width: 1092px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (max-width: 767px) {
  .packet-bocket {
    margin-top: 0 !important;
  }
}
