<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
            translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-box"></i>
        <h1 class="display-2 text-white">{{'registration.title' | translate}}</h1>
        <p class="text-white mt-0 mb-5"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-plus-circle"></i></small>
            <small class="text-white" id="search-packet"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'global.search' | translate}}</mat-label>
              <input type="text" class="text-white" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>

    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>

    <div *ngIf="!loaded" class="col-md-12 pb-3">
      <mat-horizontal-stepper linear #stepper style="padding-left: 0 !important; margin-left: 0 !important;">
        <!-- Customer information -->
        <mat-step [stepControl]="senderFormGroup" [editable]="!isSuccessfulSave">
          <mat-card-content class="mt-2 mb-4">
            <form [formGroup]="senderFormGroup" (click)="autocompleteSenderInformation()" class="col-md-12">
              <ng-template matStepLabel>
                <label style="font-size: 1.2em">{{'registration.sender_info' | translate}}</label>
              </ng-template>
              <!-- input -->
              <div class="row">
                <div class="col-md-6">
                  <h3 class="font-weight-500 mt-2 mb-0" style="padding-left: 15px">
                    {{'global.info-pers' | translate}}
                  </h3>
                  <mat-divider class="col-md-10"></mat-divider>

                  <div class="tel-input">
                    <input class="col-md-12" type="text"
                      placeholder="6 xx xx xx xx" formControlName="senderPhoneCtrl"
                      style="width: 100% !important; border: none !important;" (change)="checkValidSenderPhoneNumber($event)"
                      minlength="9" maxlength="13" required>
                  </div>
                  <mat-error *ngIf="errors.phoneNb" style="padding-left: 15px">
                    {{errors.phoneNb}}
                  </mat-error>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'customers.customer-type' | translate}}</mat-label>
                    <mat-select formControlName="senderCustomerTypeCtrl" required>
                      <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
                      <mat-option *ngFor="let customerType of customerTypes" [value]="customerType">
                        {{customerType}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.firstname' | translate}}</mat-label>
                    <input matInput formControlName="senderFirstnameCtrl" required>
                    <mat-icon matSuffix>input</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.lastname' | translate}}</mat-label>
                    <input matInput formControlName="senderLastnameCtrl" required>
                    <mat-icon matSuffix>input</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.gender' | translate}}</mat-label>
                    <mat-select formControlName="senderGenderCtrl" required>
                      <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
                      <mat-option *ngFor="let gender of genders" [value]="gender">
                        {{gender}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.email' | translate}}</mat-label>
                    <input matInput name="email" formControlName="senderEmailCtrl"
                      pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <h3 class="font-weight-500 mt-2 mb-0" style="padding-left: 15px">
                    {{'global.address_info' | translate}}
                  </h3>
                  <mat-divider class="col-md-10"></mat-divider>
                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.city' | translate}}</mat-label>
                    <input matInput name="city" formControlName="senderCityCtrl" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.country' | translate}}</mat-label>
                    <input matInput name="country" formControlName="senderCountryCtrl" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.address-street' | translate}}</mat-label>
                    <input matInput name="street" formControlName="senderStreetAndHNBCtrl" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.fix-number' | translate}}</mat-label>
                    <input matInput name="fixNb" formControlName="senderFixNumberCtrl" type="text"
                           (change)="checkValidFixPhoneNumber($event)"
                           minlength="9" maxlength="13">
                    <mat-error *ngIf="errors.fixPhoneNb">
                      {{errors.fixPhoneNb}}
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <mat-label>{{'global.detail' | translate}}</mat-label>
                    <textarea matInput placeholder="Information" formControlName="senderDetailsCtrl"></textarea>
                  </mat-form-field>
                </div>
              </div>

              <div class="mt-2">
                <div class="mt-2" style="padding-left: 15px;">
                  <button mat-raised-button color="primary" (click)="readSenderInformation(stepper)">
                    {{'global.next' | translate}}
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-step>
        <mat-step [stepControl]="receiverFormGroup" [editable]="!isSuccessfulSave">
          <mat-card-content class="mt-2 mb-4">
            <form [formGroup]="receiverFormGroup" (click)="autocompleteReceiverInformation()"
              class="col-sm-12 col-md-6">
              <ng-template matStepLabel>
                <label style="font-size: 1.2em">{{'registration.receiver_info' | translate}}</label>
              </ng-template>
              <div class="tel-input">
                <input class="col-md-12" type="text"
                  placeholder="6 xx xx xx xx" formControlName="receiverPhoneCtrl"
                  style="width: 100% !important; border: none !important;" (change)="checkValidReceiverPhoneNumber($event)"
                  minlength="9" maxlength="13" required>
              </div>
              <mat-error *ngIf="errors.phoneNb" style="padding-left: 15px">
                {{ errors.phoneNb}}
              </mat-error>

              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>{{'global.firstname' | translate}}</mat-label>
                <input matInput formControlName="receiverFirstnameCtrl" required>
                <mat-icon matSuffix>input</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>{{'global.lastname' | translate}}</mat-label>
                <input matInput formControlName="receiverLastnameCtrl" required>
                <mat-icon matSuffix>input</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>{{'global.gender' | translate}}</mat-label>
                <mat-select formControlName="receiverGenderCtrl" required>
                  <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
                  <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="standard" class="col-md-12">
                <mat-label>{{'global.email' | translate}}</mat-label>
                <input matInput name="email" placeholder="customer@abcinter.com" formControlName="receiverEmailCtrl"
                  pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
                <mat-icon matSuffix>alternate_email</mat-icon>
              </mat-form-field>

              <div class="mt-2" style="padding-left: 15px;">
                <button mat-raised-button matStepperPrevious color="secondary" class="mr-1">
                  {{'global.previous' | translate}}
                </button>
                <button mat-raised-button color="primary" (click)="readCustomerInformation(stepper)">
                  {{'global.next' | translate}}
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-step>

        <!-- configuration -->
        <mat-step [stepControl]="configurationFormGroup" [editable]="!isSuccessfulSave">
          <mat-card-content class="mt-2 mb-4">
            <form [formGroup]="configurationFormGroup" class="col-md-12">
              <ng-template matStepLabel>
                <label style="font-size: 1.2em"> {{'registration.store_packet_info' | translate}}</label>
              </ng-template>
              <div class="row">
                <div class="col-sm-12 col-md-4">
                  <h3 class="font-weight-500 mt-2 mb-0" style="padding-left: 15px">
                    {{'registration.store_info' | translate}}
                  </h3>
                  <mat-divider class="col-md-10"></mat-divider>
                  <mat-form-field appearance="standard" class="col-md-10">
                    <mat-label>{{'registration.store_name' | translate}}</mat-label>
                    <mat-select formControlName="storeInfosCtrl" required>
                      <mat-option>
                        <ngx-mat-select-search [formControl]="storeFilteringCtrl" [searching]="searching">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let store of filteredStores | async" [value]="store.name">
                        {{store.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <h3 class="font-weight-500 mt-5 mb-0" style="padding-left: 15px">
                    {{'registration.nb_of_packets' | translate}}
                  </h3>
                  <mat-form-field appearance="standard" class="col-sm-12 col-md-4">
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="totalPacketsToBeRegistered" placeholder="1" type="number" step="1"
                      min="1" required>
                  </mat-form-field>
                  <mat-error *ngIf="configurationFormGroup.get('totalPacketsToBeRegistered').errors?.required"
                    class="col-md-12">
                    {{'global.required' | translate}}
                  </mat-error>

                  <div class="mt-6" style="padding-left: 15px;">
                    <button mat-raised-button matStepperPrevious color="secondary" class="mr-1">
                      {{'global.previous' | translate}}
                    </button>
                    <button mat-raised-button color="primary" matStepperNext>
                      {{'global.next' | translate}}
                    </button>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <!--Destination-->
                  <h3 class="font-weight-500 mt-2 mb-0" style="padding-left: 15px">Destination</h3>
                  <mat-divider class="col-md-10"></mat-divider>
                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label> {{'global.city' | translate}}</mat-label>
                    <input matInput placeholder="Douala" formControlName="destCityCtrl" type="text" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label> {{'global.country' | translate}}</mat-label>
                    <input matInput name="country" formControlName="destCountryCtrl" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label> {{'global.address-street' | translate}}</mat-label>
                    <input matInput name="street" formControlName="destStreetAndHNBCtrl" required>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'global.fix-number' | translate}} / {{'global.phone' | translate}} </mat-label>
                    <input matInput name="fixNb" formControlName="destFixNumberCtrl" type="number"
                           pattern="^[26][0-9]{8}$"
                           (change)="checkValidStorePhoneNumber($event)" required>
                  </mat-form-field>
                  <mat-error *ngIf="errors.phoneNb" class="col-md-12">{{'global.phone-error-min' | translate}}</mat-error>

                  <mat-form-field class="col-md-12">
                    <mat-label>Detail</mat-label>
                    <textarea matInput placeholder="Information" formControlName="destDetailsCtrl"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-step>

        <mat-step [stepControl]="packetFormGroup" [editable]="!isSuccessfulSave">
          <ng-template matStepLabel>
            <label style="font-size: 1.2em">{{'registration.packet_info' | translate}}</label>
          </ng-template>
          <mat-card-content class="mt-2 mb-4">
            <form [formGroup]="packetFormGroup" class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="font-weight-500 mt-2 mb-0" style="padding-left: 15px">
                    {{'registration.packet_nb' | translate}} {{registeredPackets?.length + 1}} /
                    {{configurationFormGroup.get('totalPacketsToBeRegistered').value}}
                  </h3>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'shipping-cost.shipping-type' | translate}}</mat-label>
                    <mat-select formControlName="shippingTypeCtrl" required>
                      <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
                      <mat-option *ngFor="let type of shippingTypes" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                    <mat-error>{{'global.required' | translate}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'shipping-cost.packet-category' | translate}}</mat-label>
                    <mat-select formControlName="categoryCtrl">
                      <mat-option>
                        <ngx-mat-select-search [formControl]="categoryFilteringCtrl" [searching]="searching">
                        </ngx-mat-select-search>
                      </mat-option>
                      <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name">
                        {{category.name}}
                      </mat-option>
                    </mat-select>
                    <mat-error>{{'global.required' | translate}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'packets.weight' | translate}} (kg)</mat-label>
                    <input matInput placeholder="1.00" formControlName="weightCtrl" type="number" step="0.1" min="0.1" max="1000"
                      required>
                    <mat-error>{{ (packetFormGroup.get('weightCtrl').errors?.weightExceeded ? 'global.weightExceeded' : 'global.required') |
                      translate}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'packets.store_position' | translate}}</mat-label>
                    <input matInput placeholder="Up" formControlName="positionInStoreCtrl" type="text">
                    <mat-icon matSuffix>text_fields</mat-icon>
                    <mat-error>{{'global.required' | translate}}</mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="standard" class="col-md-12">
                    <mat-label>{{'packets.position_details' | translate}}</mat-label>
                    <input matInput placeholder="Up" formControlName="positionDetailsCtrl" type="text">
                    <mat-icon matSuffix>text_fields</mat-icon>
                    <mat-error>{{'global.required' | translate}}</mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-md-12">
                    <mat-label>{{'packets.packet_desc' | translate}}</mat-label>
                    <textarea matInput placeholder="Information" formControlName="descriptionCtrl"></textarea>
                  </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="registeredPackets.length > 0" [@EnterLeave]="'flyIn'">
                  <div class="packet-bocket">
                    <mat-card-actions>
                      <mat-icon matBadge="{{ registeredPackets.length }}" matBadgeColor="primary" class="pt-1">
                        redeem
                      </mat-icon>
                    </mat-card-actions>
                    <p class="font-weight-400 text-red text-underline" style="cursor: pointer;"
                      (click)="clearPacketList()">
                      {{'registration.clear' | translate}}
                    </p>
                  </div>
                </div>
              </div>

              <div class="mt-2" style="padding-left: 15px;">
                <button mat-raised-button matStepperPrevious color="secondary" class="mr-1">
                  {{'global.previous' | translate}}</button>
                <button mat-raised-button color="primary" (click)="saveCurrentPacketInformation(stepper)"
                  [disabled]="packetFormGroup.invalid">
                  {{'global.next' | translate}}
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-step>

        <mat-step [stepControl]="confirmationFormGroup">
          <ng-template matStepLabel>
            <label style="font-size: 1.2em">{{'registration.confirm' | translate}}</label>
          </ng-template>
          <mat-card-content class="mt-2 mb-4">
            <div class="col-md-12" style="margin-left: 3px;">
              <p class="col-md-12 font-weight-600">{{'registration.confirm_text' | translate}}</p>
              <mat-checkbox class="mt-2 col-md-12 font-weight-400" name="checkbox" [(ngModel)]="checked"
                color="primary">
                {{'registration.confirm' | translate}}
              </mat-checkbox>
            </div>
            <div class="mt-2 col-md-12" style="margin-left: 15px;">
              <button mat-raised-button (click)="toPreviousView()" color="secondary" class="mr-1"
                matStepperPrevious>{{'global.previous' | translate}}</button>
              <button mat-raised-button (click)="saveRegistration()" color="primary"
                [disabled]="!checked || isSuccessfulSave || isSaveInprogress">{{'global.btn-save' | translate }}</button>
            </div>
          </mat-card-content>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>
