<div class="content mb-5">
  <div class="container-fluid">
    <mat-card class="col-md-12">
      <mat-card-title>
        <div class="jumbotron">
          <div class="container-fluid">
            <div class="row col-md-12">
              <div class="mr-auto">
                <h1 class="mb-1">{{'trackings.title' | translate}}</h1>
              </div>
              <i class="fa fa-qrcode" (click)="startScanner(openscanner)"></i>
            </div>
          </div>
        </div>
      </mat-card-title>
      <mat-card-subtitle>
        <div class="row justify-content-center">
          <mat-form-field class="col-md-12 text-center">
            <mat-label>{{'trackings.search-text' | translate}}</mat-label>
            <input type="text" name="trackingPacket" [(ngModel)]="trackingNbr" (ngModelChange)="search()" matInput>
          </mat-form-field>
        </div>
      </mat-card-subtitle>
      <mat-card-content>
        <p class="font-weight-600 mb-0">{{'trackings.search-result'| translate}}</p>
        <p class="mb-0">
          <small>{{'trackings.search-descrip'| translate}}</small>
        </p>
        <p>
          <small>{{'trackings.do-you-need'| translate}} <strong (click)="openHelp(help)"
              style="cursor: pointer;">{{'trackings.help'| translate}}</strong> {{'trackings.or-do-you-have' |
            translate}}
            <strong style="cursor: pointer;">questions</strong> {{'trackings.about-tracking' | translate}}?</small>
        </p>

        <div class="col-md-12 mt-4 p-0" *ngIf="!trackingNbFound && countSearch > 0">
          <h4 class="ml-0 pl-0 font-weight-600">{{'trackings.trackingNumberDoesntExist' | translate}}</h4>
        </div>

        <div class="col-md-12 mt-4" *ngIf="trackingNbFound">
          <p class="font-weight-800 mb-0" style="padding-left: 8px;">{{'trackings.reg-nb' | translate}}
            {{packetStateList?.globalTrackingNumber}}</p>
          <ul class="list-group mb-5" *ngFor="let packetStates of packetStateList?.packetsStates">
            <li class="list-group-item row d-flex header-list">
              <div class="col-4 font-weight-600">{{'trackings.packet-nb' | translate}}</div>
              <div class="col-8 font-weight-600">{{packetStates[0]?.packet?.trackingNumber}}</div>
            </li>
            <li class="list-group-item row d-flex">
              <div class="col-4">{{'trackings.history' | translate}}</div>
              <div class="col-8 d-flex">
                <div *ngFor="let packetState of packetStates">
                  <img class="img-fluid mr-3" src="../../../assets/img/theme/store.png" alt="store"
                    *ngIf="packetState.status === statusType.IN_STORE">
                  <img class="img-fluid mr-3" src="../../../assets/img/theme/delivery-bike.png" alt="store"
                    *ngIf="packetState.status === statusType.READY_FOR_DELIVERY">
                  <img class="img-fluid mr-3" src="../../../assets/img/theme/home-delivery.png" alt="store"
                    *ngIf="packetState.status === statusType.DELIVERED">
                  <img class="img-fluid" src="../../../assets/img/theme/box.png" alt="store"
                    *ngIf="packetState.status === statusType.DELIVERED">
                </div>
              </div>
            </li>
            <li class="list-group-item row d-flex">
              <div class="col-4">Status</div>
              <div class="col-8 font-weight-600">{{getPacketStatus(packetStateList?.globalStatus)}}
                <img class="img-fluid check" src="../../../assets/img/theme/check.png" alt="check"
                  *ngIf="packetStateList?.globalStatus === statusType.DELIVERED" width="16px" height="16px" />
              </div>
            </li>
            <li class="list-group-item row d-flex" *ngIf="packetStateList?.globalStatus === statusType.DELIVERED">
              <div class="col-4">{{'deliveries.delivered_on' | translate}}</div>
              <div class="col-8">{{getDeliveryDate(packetStates)}}</div>
            </li>
            <li class="list-group-item row d-flex" *ngIf="packetStateList?.globalStatus === statusType.DELIVERED">
              <div class="col-4">{{'trackings.confirmation' | translate}}</div>
              <div class="col-8">{{getDeliveryConfirmation(packetStates)}}</div>
            </li>
          </ul>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions class="mb-0" align="end">
        <button mat-raised-button [routerLink]="['/login']">OK</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="inProgress"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>

<ng-template #help let-modal>
  <div class="modal-header">
    <h2>{{'trackings.packet-tracking' | translate}}</h2>
  </div>
  <div class="modal-body">
    Help
  </div>
  <div class="modal-footer">
    <button class="btn btn-sm btn-info" (click)="modalService.dismissAll()">
      {{'global.ok' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #openscanner let-modal>
  <div class="modal-header">
      <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{'scanner.desc' | translate}}</mat-card-title>
          <mat-card-subtitle>Abc Inter</mat-card-subtitle>
      </mat-card-header>
  </div>
  <div class="modal-body">
      <app-scanner (isRedirected)=closeModal($value)></app-scanner>
  </div>
  <div class="modal-footer justify-content-end">
      <button type="button" class="btn btn-outline-info" (click)="onStopClicked()">
        <i class="fa fa-expand mr-2"></i>{{'global.stop' | translate}}
      </button>
  </div>
</ng-template>
