.no-gutters i {
  margin-right: 10px;
  font-size: 15px;
}

.no-gutters .avatar {
  color: #fff;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px
}

.border-bottom-1 {
  border-bottom: 1px solid #c6c6c6;
}

.customer-info {
  list-style: none;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bonus i {
  font-size: 1.1em;
}

th {
  cursor: pointer;
}

th i {
  margin-left: 5px;
  color: #000;
}

th i:hover {
  color: #3e3e3e;
}

.dropdown-menu {
  top: -1.2em !important;
}

.jumbotron {
  padding: 1rem 0 0 0 !important;
  border-bottom: 4px solid #d20412 !important;/*#0275d8 !important;*/
  border-radius: 0.4375rem 0.4375rem 0 0 !important;
  margin: 0 0 1rem 0 !important;
}

.jumbotron i {
  font-size: 28px;
}

.header-list {
  background-color: #e9ecef !important;
  padding: 0.5rem 0.5rem !important;
  border-radius: 0 !important;
}

.list-group-item {
  border-top: 1px solid #e9ecef !important;
  border-bottom: 1px solid #e9ecef !important;
  border-left: none !important;
  border-right: none !important;
}

.list-group img {
  width: 32px;
  height: 32px;
}

.list-group img::after {
  content: " > " !important;
}

.check {
  width: 16px !important;
  height: 16px !important;
}

.header-image {
  background-image: url('../../../assets/img/brand/abc-logo.jpg');
  background-size: cover;
}

/*##################################### Display Screen settings ###################################*/
@media (max-width: 568px){
  .header .action-icon i {
    margin-right: 10px;
  }

  .list-group img {
    width: 16px;
    height: 16px;
  }
}
