<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a  class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
            translate}}</a></small>
        <small class="text-white"> / address / <b>{{ currentUrl }}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-edit"></i>
        <h1 class="display-2 text-white mb-5">{{'global.edit' | translate}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-plus-circle"></i></small>
            <small class="text-white"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="true">
              <mat-label>{{'global.search' | translate}}</mat-label>
              <input type="text" class="text-white" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div class="col-md-12 pb-3">
      <app-address-form (shareObject)="getAddress($event)"></app-address-form>
      <mat-error *ngIf="errors.errorMsg.length > 0" class="text-danger">{{errors.errorMsg}}</mat-error><br>
      <button type="button" class="btn btn-outline-success mt-1" (click)="updateAddress()">
        <i class="fa fa-check"></i>
        {{'global.btn-save' |translate}}
      </button>
    </div>
  </div>
</div>
