.no-gutters i {
  margin-right: 10px;
  font-size: 15px;
}

.no-gutters .avatar {
  color: #fff;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -40px
}

.border-bottom-1 {
  border-bottom: 1px solid #c6c6c6;
}

.operator-info {
  list-style: none;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

th {
  cursor: pointer;
}

th i {
  margin-left: 5px;
  color: #000;
}

th i:hover {
  color: #3e3e3e;
}

.dropdown-menu {
  top: -1.2em !important;
}

/*##################################### Display Screen settings ###################################*/
@media ( max-width: 980px ) {

}

@media (max-width: 568px){
  .header .action-icon i {
    margin-right: 10px;
  }
}
