<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a  class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
          translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-users"></i>
        <h1 class="display-2 text-white">{{'operators.label-group' | translate}}</h1>
        <p class="text-white mt-0 mb-5"><b>{{'operators.message-info' | translate}}.</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="{{(isCommercial || isDeliverer) ? 'text-white-50' : 'text-white'}}"><i class="fa fa-user-plus"
                                         (click)="getOperator(null, addOrEdit)"></i></small>
            <small class="text-white" id="search-operator"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'operators.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchOpByFirstname" [(ngModel)]="firstname"
                     (ngModelChange)="search()" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">
        {{this.serverDownMsg}}
      </h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="operatorList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{operatorList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="operatorList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
    </div>
    <div class="col-md-12">
      <!-- Display as table -->
      <div *ngIf="isAsTable && operatorList.length > 0">
        <div class="table-responsive" [@fadeInOut]>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col" (click)="sort('personalNumber')">{{'operators.personal-number' | translate}} <i
                class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('username')">{{'global.username' | translate}} <i class="fa fa-sort"></i>
              </th>
              <th scope="col" (click)="sort('lastname')">{{'global.lastname' | translate}} <i class="fa fa-sort"></i>
              </th>
              <th scope="col" (click)="sort('firstname')">{{'global.firstname' | translate}} <i class="fa fa-sort"></i>
              </th>
              <th scope="col" (click)="sort('email')">{{'global.email' | translate}} <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('tel')">{{'global.phone' | translate}} <i class="fa fa-sort"></i></th>
              <th scope="col" (click)="sort('gender')">{{'global.gender' | translate}} <i class="fa fa-sort"></i></th>
              <th scope="col">{{'global.role' | translate}}</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr
              *ngFor="let operator of operatorList |
                orderBy: key: reverse |
                paginate: {id: 'listing_pagination', itemsPerPage: 20, currentPage: page, totalItems: totalItems}; let i = index">
              <td>{{operator.personalNumber}}</td>
              <td>{{operator.user.username}}</td>
              <td>{{operator.user.lastname}}</td>
              <td>{{operator.user.firstname}}</td>
              <td>{{operator.user.email}}</td>
              <td>{{operator.user.tel}}</td>
              <td>{{operator.user.gender}}</td>
              <td><span *ngFor="let role of operator.user.roles">{{role.name}}<br></span></td>
              <td class="text-left">
                <div ngbDropdown placement="left">
                  <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                    <i class="fas fa-ellipsis-v"></i>
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                    <small class="dropdown-item"
                           (click)="getOperator(operator.operatorUuid, viewOperator)"><i
                      class="fa fa-user text-info"></i>
                      {{'global.view' | translate}}
                    </small>
                    <small class="dropdown-item" (click)="getOperator(operator.operatorUuid, addOrEdit);"
                           *ngIf="isAdmin">
                      <i class="fa fa-user-edit text-primary"></i>{{'global.edit' | translate}}
                    </small>
                    <small class="dropdown-item"
                           (click)="getOperator(operator.operatorUuid, confirmDeletion)" *ngIf="isAdmin">
                      <i class="fa fa-user-times text-danger"></i>{{'global.delete' | translate}}
                    </small>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Display as card -->
      <div *ngIf="!isAsTable">
        <div class="row" *ngIf="operatorList.length > 0">
          <div
            *ngFor="let operator of operatorList | paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
            class="col-md-4" [@EnterLeave]="'flyIn'">
            <div class="card mb-4 border-info">
              <div class="row no-gutters">
                <div class="col-4 bg-gradient-danger">
                  <div class="img-center">
                    <img src="../../../assets/img/profile/avatar.jpg" *ngIf="isDefaultAvatar(this.operator.user)"
                         class="avatar rounded-circle img-responsive img-fluid"
                         alt="{{this.operator.user.username}}_avatar">
                    <img src="{{this.host+this.operator.user.userUuid}}"
                         *ngIf="!isDefaultAvatar(this.operator.user) && this.operator.user.userUuid"
                         class="avatar rounded-circle img-responsive img-fluid"
                         alt="{{this.operator.user.username}}_avatar">
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-between border-bottom-1">
                    <h4 class="card-title p-2 mb-0">
                      {{operator.user.lastname.toUpperCase()}} {{operator.user.firstname.toUpperCase()}}
                    </h4>
                    <div class="float-right">
                      <div ngbDropdown placement="bottom-right">
                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                          <small class="dropdown-item"
                                 (click)="getOperator(operator.operatorUuid, viewOperator)">
                            <i class="fa fa-user text-info"></i>{{'global.view' | translate}}
                          </small>
                          <small class="dropdown-item"
                                 (click)="getOperator(operator.operatorUuid, addOrEdit)" *ngIf="isAdmin">
                            <i class="fa fa-user-edit text-primary"></i>{{'global.edit' | translate}}
                          </small>
                          <small class="dropdown-item"
                                 (click)="getOperator(operator.operatorUuid, confirmDeletion)" *ngIf="isAdmin">
                            <i class="fa fa-user-times text-danger"></i>{{'global.delete' | translate}}
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-block px-1 pt-3">
                    <ul class="operator-info">
                      <li><i class="fa fa-portrait"></i><small>{{operator.operatorType || 'empty' | translate}}</small>
                      </li>
                      <li><i class="fa fa-venus"></i><small>{{operator.user.gender || 'empty' | translate}}</small></li>
                      <li><i class="fa fa-mobile"></i><small>{{operator.user.tel || 0}}</small></li>
                      <li><i class="ni ni-email-83"></i><small>{{operator.user.email || 'empty' | translate}}</small>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <div *ngIf="operatorList.length > 0">
        <div class="text-center">
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addOrEdit let-modal>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="null != operator.operatorUuid"><i class="fa fa-user-edit"></i>
      {{'operators.edit-operator' | translate}} "{{this.operator.user.username}}"
    </h4>
    <h4 class="modal-title" *ngIf="null == operator.operatorUuid"><i class="fa fa-user-edit"></i>
      {{'operators.add-operator' | translate}} {{this.operator.user.username}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body longContent">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group" id="form-group-new-operator">
            <h3>{{'global.info-pers' | translate}}</h3>
            <hr class="mt-1 mb-3"/>
            <label for="operatorType">{{'operators.operator-type' | translate}}</label>
            <select class="form-control" name="operatorType" id="operatorType" [(ngModel)]="operator.operatorType"
                    #operatorType="ngModel" (change)="onTypeChange($event)" required>
              <option disabled>{{'operators.select-type' | translate}}</option>
              <option *ngFor="let type of operatorTypes">{{type}}</option>
            </select>
            <div class="text-danger" *ngIf="operatorType.invalid">
              <small *ngIf="operatorType.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="username">{{'global.username' | translate}}</label>
            <input id="username" class="form-control" name="username" [(ngModel)]="this.operator.user.username"
                   minlength="3" maxlength="20" #username="ngModel" placeholder="{{'global.username' | translate}}"
                   type="text" required (click)="clearErrorMessage()">
            <div class="text-danger" role="alert" *ngIf="username.invalid">
              <small *ngIf="username.errors.minlength">{{'global.username-error-min' | translate}}</small>
              <small *ngIf="username.errors.maxlength">{{'global.username-error-max' | translate}}</small>
              <small *ngIf="username.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="firstname">{{'global.firstname' | translate}}</label>
            <input id="firstname" class="form-control" name="firstname" [(ngModel)]="this.operator.user.firstname"
                   minlength="2" maxlength="20" #firstname="ngModel" placeholder="{{'global.firstname' | translate}}"
                   type="text" required (click)="clearErrorMessage()">
            <div class="text-danger" *ngIf="firstname.invalid">
              <small *ngIf="firstname.errors.minlength">{{'global.firstname-error-min' | translate}}</small>
              <small *ngIf="firstname.errors.maxlength">{{'global.firstname-error-max' | translate}}</small>
              <small *ngIf="firstname.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="lastname">{{'global.lastname' | translate}}</label>
            <input id="lastname" class="form-control" name="lastname" [(ngModel)]="this.operator.user.lastname"
                   minlength="2" maxlength="20" #lastname="ngModel" placeholder="{{'global.lastname' | translate}}"
                   type="text" required (click)="clearErrorMessage()">
            <div class="text-danger" *ngIf="lastname.invalid">
              <small *ngIf="lastname.errors.minlength">{{'global.lastname-error-min' | translate}}</small>
              <small *ngIf="lastname.errors.maxlength">{{'global.lastname-error-min' | translate}}</small>
              <small *ngIf="lastname.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="email">{{'global.email' | translate}}</label>
              <input id="email" class="form-control" name="email" [(ngModel)]="this.operator.user.email" #email="ngModel"
                     placeholder="{{'global.email' | translate}}" type="email" (click)="clearErrorMessage()">
              <div class="text-danger" *ngIf="email.invalid">
                <small *ngIf="email.errors.email">{{'global.email-error' | translate}}</small>
                <small *ngIf="email.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <!--tel-->
            <div class="form-group col-md-4">
              <div>
                <label for="phone">{{'global.phone' | translate}}</label>
              </div>
              <input class="form-control" id="phone" type="text"
                     [(ngModel)]="this.operator.user.tel" name="tel" placeholder="6 xx xx xx xx"
                     style="width: 100% !important;" (change)="checkValidPhoneNumber($event)"
                     minlength="9" maxlength="13" required>
              <div class="text-danger" *ngIf="errors.phoneNb">
                <small>{{'global.phone-error-min' | translate}}</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="gender">{{'global.gender' | translate}}</label>
            <select id="gender" class="form-control" name="gender" [(ngModel)]="this.operator.user.gender"
                    #gender="ngModel" (change)="onGenderChange($event)" required>
              <option disabled>{{'global.gender-option-text' | translate}}</option>
              <option *ngFor="let gender of genders">{{gender}}</option>
            </select>
            <div class="text-danger" *ngIf="gender.invalid">
              <small *ngIf="gender.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <div class="form-group">
            <label for="password">{{'global.password' | translate}}</label>
            <input id="password" class="form-control text-black-50" name="senderPwd"
                   [(ngModel)]="this.operator.user.password" minlength="6" #password="ngModel"
                   placeholder="{{'global.password' | translate}}" type="password" required
                   (click)="clearErrorMessage()">
            <div class="text-danger" *ngIf="password.invalid">
              <small *ngIf="password.errors.minlength">{{'global.password-error' | translate}}</small>
              <small *ngIf="password.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div>
          <!--div class="form-group">
            <label for="role">Role*</label>
            <select id="role" class="form-control" name="role" [compareWith]="byRoleUuid" [(ngModel)]="selectedRole"
                    #role="ngModel" required>
              <option disabled>{{'global.select' | translate}}</option>
              <option *ngFor="let item of roles" [ngValue]="item">{{roleNameToBeDisplaying(item?.name)}}
              </option>
            </select>
            <div class="text-danger" *ngIf="role.invalid">
              <small *ngIf="role.errors.required">{{'global.empty-filed' | translate}}</small>
            </div>
          </div-->
        </div>
      </div>
      <div *ngIf="errorMessage.length > 0" class="text-right text-danger mb-3">
        <small>{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid && operator.operatorUuid == null" class="text-left">
        <button type="submit" class="btn btn-success" (click)="addNewOperator()">{{'global.btn-add' |
          translate}}</button>
      </div>
      <div *ngIf="!f.form.valid && operator.operatorUuid == null" class="text-left">
        <button class="btn btn-outline-success" disabled>{{'global.btn-add' | translate}}</button>
      </div>
      <div *ngIf="f.form.valid && operator.operatorUuid != null && isOperatorPhoneValid" class="text-left">
        <button type="submit" class="btn btn-success" (click)="updateOperator()">{{'global.btn-save' |
          translate}}</button>
      </div>
      <div *ngIf="(!f.form.valid || !isOperatorPhoneValid) && operator.operatorUuid != null" class="text-left">
        <button class="btn btn-outline-success" disabled>{{'global.btn-save' | translate}}</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">
      {{'global.btn-return' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #viewOperator let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-tag"></i>{{'global.about' | translate}}
      {{operator.user.username}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body longContent">
    <div class="card card-profile shadow">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <img src="../../../assets/img/profile/avatar.jpg" *ngIf="isDefaultAvatar(this.operator.user)"
                 class="rounded-circle" alt="{{this.operator.user.username}}_avatar">
            <img src="{{this.host+this.operator.user.userUuid}}"
                 *ngIf="!isDefaultAvatar(this.operator.user) && this.operator.user.userUuid" class="rounded-circle"
                 alt="{{this.operator.user.username}}_avatar">
          </div>
        </div>
      </div>
      <div class="card-body pt-4 pt-md-4">
        <div class="row">
          <div class="col">
            <div class="card-profile-stats d-flex justify-content-center mt-md-5 bonus">
              <div>
                <a href='tel: {{this.operator.user.tel}}' target="_blank" ngbTooltip="Phone">
                  <i class="fa fa-phone text-primary"></i>
                </a>
              </div>
              <div>
                <a href='https://web.whatsapp.com/send?phone={{this.operator.user.tel}}&text=urlencodedtext'
                   ngbTooltip="Whatsapp" target="_blank">
                  <i class="fab fa-whatsapp text-success"></i>
                </a>
              </div>
              <div>
                <a href='mailto: {{this.operator.user.email}}' target="_blank" ngbTooltip="Email">
                  <i class="fa fa-envelope text-info"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h3 class="mb-2 mt--2 text-red">
            {{this.operator.user.lastname}} {{this.operator.user.firstname}}
          </h3>
          <h3>
            <u>{{'global.operator' | translate}} ID:</u><br>{{this.operator.user.userUuid}}
          </h3>
          <h3 class="mt-3">
            <u>{{'global.category' | translate}}</u>:<br>{{this.operator.operatorType}}
          </h3>
          <h3 class="mt-3">
            <u>{{'operators.personal-number' | translate}}:</u><br>{{this.operator.personalNumber}}
          </h3>
          <div class="mt-4">
            <h3>{{'global.info-pers' | translate}}</h3>
            <hr class="mt-0 mb-3"/>
          </div>
          <div class="pt-2">
            <b>{{'global.username' | translate}}:</b> {{this.operator.user.username}}
          </div>
          <div class="pt-2">
            <b>{{'global.gender' | translate}}:</b> {{this.operator.user.gender || 'unknown' | translate}}
          </div>
          <div>
            <b>{{'global.phone' | translate}}:</b> {{this.operator.user.tel || 'unknown'}}
          </div>
          <div>
            <b>{{'global.email' | translate}}:</b> {{this.operator.user.email}}
          </div>
          <h3 class="mt-3" *ngIf="selectedRole">
            <u>{{'global.role' | translate}}:</u><br>
            <small>{{roleNameToBeDisplaying(selectedRole.name)}}, </small>
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')">
      {{'global.close' | translate}}
    </button>
  </div>
</ng-template>
<ng-template #confirmDeletion let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="confirm-del-operator"><i class="fa fa-user-circle"></i>{{'global.confirm-del' |
      translate}} {{this.operator.user.username}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600">
      <strong>{{'global.delete-confirm' | translate}} <span class="text-danger">{{this.operator.user.username}}</span>
        ?</strong>
    </p>
    <p class="font-weight-400">{{'operator-delete-notice' | translate}}
      <span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')">
      <i class="fa fa-times"></i>{{'global.btn-return' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteOperator()">
      <i class="fa fa-check"></i>{{'global.btn-delete' | translate}}
    </button>
  </div>
</ng-template>
