
<mat-card class="col-md-12">
    <mat-card-header [hidden]="devices?.length <= 1">
        <div mat-card-avatar class="col-md-6">
            <mat-icon class="mr-2" (click)="changeDevice()">flip_camera_ios</mat-icon>
        </div>
    </mat-card-header>
    <div id="reader" class="d-flex justify-content-center">
        <mat-spinner class="d-flex mr-auto ml-auto" *ngIf="loaded"></mat-spinner>
    </div>
    <mat-card-content *ngIf="scanned && scanResult">
        <p class="font-weight-500" *ngIf="scanResult.isOneField">{{scanResult.text}}</p>
        <div *ngIf="!scanResult.isOneField">
            <p class="font-weight-500">{{scanResult.id}}</p>
            <p class="font-weight-500">{{scanResult.tracking}}</p>
            <p class="font-weight-500">{{scanResult.weight}}</p>
            <p class="font-weight-500">{{scanResult.sender}}</p>
            <p class="font-weight-500">{{scanResult.receiver}}</p>
            <p class="font-weight-500">{{scanResult.destination}}</p>
            <p class="font-weight-500">{{scanResult.storename}}</p>
            <p class="font-weight-500">{{scanResult.autor}}</p>
        </div>
    </mat-card-content>
    <!--mat-card-actions class="d-flex justify-content-end" *ngIf="scanned">
        <button mat-raised-button color="primary" (clik)="toDetails()">Details</button>
    </mat-card-actions-->
</mat-card>