<nav class="navbar" id="sidenav-main">
    <!-- Navigation -->
    <ul class="navbar-nav">
        <div *ngFor="let menuItem of menuItems">
            <li *ngIf="menuItem.children.length == 0 &&  menuItem.path !== '#'" class="{{menuItem.class}} nav-item">
                <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                    <i class="{{menuItem.icon}}"></i>
                    {{menuItem.title}}
                </a>
            </li>
            <!-- Abc Inter scanner -->
            <li *ngIf="menuItem.children.length == 0 && menuItem.path === '#'" class="{{menuItem.class}} nav-item">
                <a routerLinkActive="active" class="nav-link" (click)="startScanner(openscanner)">
                    <i class="{{menuItem.icon}}"></i>
                    {{menuItem.title}}
                </a>
            </li>
            <li *ngIf="menuItem.children.length > 0" class="nav-item {{menuItem.class}}" ngbDropdown
                style="width: 100%">
                <a class="nav-link" role="button" ngbDropdownToggle>
                    <i class="{{menuItem.icon}}"></i>
                    {{menuItem.title}}
                    <span class="arrow-down"><i class="fas fa-chevron-down text-black-50"
                            style="background: none !important;"></i></span>
                </a>
                <div class="fadeInDown" ngbDropdownMenu>
                    <div *ngFor="let item of menuItem.children">
                        <a routerLinkActive="active" [routerLink]="[item.path]" class="dropdown-item">
                            <i class="{{item.icon}}"></i>
                            <span>{{item.title}}</span>
                        </a>
                        <div *ngIf="menuItem.children.indexOf(item) < menuItem.children.length - 1"
                            class="dropdown-divider"></div>
                    </div>
                </div>
            </li>
        </div>
    </ul>
</nav>

<ng-template #openscanner let-modal>
    <div class="modal-header">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>{{'scanner.desc' | translate}}</mat-card-title>
            <mat-card-subtitle>Abc Inter</mat-card-subtitle>
        </mat-card-header>
    </div>
    <div class="modal-body">
        <app-scanner (isRedirected)=closeModal($value)></app-scanner>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-outline-info" (click)="onStopClicked()">
            <i class="fa fa-expand mr-2"></i>{{'global.stop' | translate}}
        </button>
    </div>
</ng-template>