#sidenav-main {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  color: #525f7f;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
}

#sidenav-main .navbar-nav {
  width: 100%;
}

#sidenav-main .navbar-nav .nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #e9ecef;
}

#sidenav-main .navbar-nav li i {
  margin-left: 0.5rem;
}

#sidenav-main .navbar-nav li:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f6f9fc;
  cursor: pointer;
}

#sidenav-main .navbar-nav li .active {
  border-left: 3px solid #d20411;
}

#sidenav-main .badge {
  float: right;
  margin-right: 5px;
  border-radius: 50px !important;
}

#sidenav-main .arrow-down {
  float: right;
  margin-right: 1px;
}

#sidenav-main i {
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 6px;
  font-size: 1em;
  text-align: center;
  background: #d20411 !important;
  color: #fff;
  margin-right: 8px;
}

.dropdown-menu {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  list-style: none;
  background-color: #fff;
}

.header-image {
  background-image: url('../../../assets/img/brand/abc-logo.jpg');
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  #sidenav-main .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
  }
}
