<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
            translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-sitemap"></i>
        <h1 class="display-2 text-white">{{'packet-category.label-group' | translate}}</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'packet-category.message-info' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white" *ngIf="isAdmin"><i class="fa fa-plus-circle" (click)="openModal(content); getPacketCategoryById(null)"></i></small>
            <small class="text-white" id="search-packet-cat"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'packet-category.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchPacketCat" [(ngModel)]="packetCatName"
                (ngModelChange)="search()" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400"> {{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.reset' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="packetCategoriesList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{packetCategoriesList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="packetCategoriesList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && packetCategoriesList.length > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="user-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" (click)="sort('name')">{{'global.name' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('weight')">{{'packet-category.max-weight' | translate}} <i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('length')">{{'packet-category.max-length' | translate}} <i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('width')">{{'packet-category.max-width' | translate}} <i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('height')">{{'packet-category.max-height' | translate}} <i
                      class="fa fa-sort"></i></th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let category of packetCategoriesList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}">
                  <td class="text-left">{{category.name}}</td>
                  <td class="text-left">{{category.maxWeight}}</td>
                  <td class="text-left">{{category.maxLength}}</td>
                  <td class="text-left">{{category.maxWidth}}</td>
                  <td class="text-left">{{category.maxHeight}}</td>
                  <td class="text-left">
                    <div ngbDropdown placement="left">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <small class="dropdown-item" (click)="openModal(viewCategory); getPacketCategoryById(category.packetCategoryUuid)"><i
                            class="fa fa-eye text-info"></i>
                          {{'global.view' | translate}}
                        </small>
                        <small class="dropdown-item" *ngIf="isAdmin"
                          (click)="openModal(editCategory); getPacketCategoryById(category.packetCategoryUuid)">
                          <i class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                        </small>
                        <small class="dropdown-item" *ngIf="isAdmin"
                          (click)="openModal(confirmDialog); getPacketCategoryById(category.packetCategoryUuid)">
                          <i class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                        </small>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row" *ngIf="packetCategoriesList.length > 0">
            <div
              *ngFor="let packetCategory of packetCategoriesList | paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
              class="col-md-4" [@EnterLeave]="'flyIn'">
              <div class="mb-4">
                <div class="row no-gutters">
                  <div class="col-4 bg-gradient-danger">
                    <div class="img-center">
                      <i class="avatar fa fa-sitemap img-responsive img-fluid" alt="{{packetCategory.name}}_img"></i>
                    </div>
                  </div>
                  <div class="col card-content">
                    <div class="d-flex justify-content-between border-bottom-1">
                      <h4 class="card-title p-2 mb-0">
                        {{packetCategory.name.toUpperCase()}}
                      </h4>
                      <div class="float-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                            <small class="dropdown-item" (click)="openModal(viewCategory)"><i
                                class="fa fa-eye text-info"></i>{{'global.view' | translate}}
                            </small>
                            <small class="dropdown-item"
                              (click)="openModal(editCategory); getPacketCategoryById(packetCategory.packetCategoryUuid)"><i
                                class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                            </small>
                            <small class="dropdown-item"
                              (click)="openModal(confirmDialog); getPacketCategoryById(packetCategory.packetCategoryUuid)"><i
                                class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-block px-1 pt-3">
                      <ul class="user-info">
                        <li><i class="fa fa-balance-scale"></i>{{'packet-category.max-weight' | translate}}
                          <strong> {{packetCategory.maxWeight}} Kg </strong>
                        </li>
                        <li><i class="fa fa-arrows-alt-h"></i>{{'packet-category.max-length' | translate}}
                          <strong>
                            {{packetCategory.maxLength}}
                            cm
                          </strong>
                        </li>
                        <li><i class="fa fa-arrow-alt-circle-up"></i>{{'packet-category.max-height' | translate}}
                          <strong>
                            {{packetCategory.maxHeight}}
                            cm
                          </strong>
                        </li>
                        <li><i class="fa fa-cube"></i>{{'packet-category.max-width' | translate}}
                          <strong>
                            {{packetCategory.maxWidth}}
                          </strong>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <div class="col-md-12" *ngIf="packetCategoriesList.length > 0">
        <div class="text-left">
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal content by edit -->
<ng-template #editCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-profile"><i class="fa fa-user-circle"></i>{{'global.edit' | translate}}
      {{'global.packet-category' | translate}}
      {{packetCategory.name}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-sitemap"></i></span>
          </div>
          <input class="form-control" name="nameEdit" [(ngModel)]="packetCategory.name" minlength="3" maxlength="20"
            #nameEdit="ngModel" placeholder="{{'global.name' | translate}}" type="text" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="nameEdit.invalid">
          <small *ngIf="nameEdit.errors.minlength">{{'packet-category.error-min-length' | translate}}</small>
          <small *ngIf="nameEdit.errors.maxlength">{{'packet-category.error-max-length' | translate}}</small>
          <small *ngIf="nameEdit.errors.required">{{'packet-category.error-empty' | translate}}</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
          </div>
          <input class="form-control" name="maxWeightEdit" [(ngModel)]="packetCategory.maxWeight"
            #maxWeightEdit="ngModel" placeholder="{{'packet-category.max-weight' | translate}}" type="number" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxWeightEdit.invalid">
          <small *ngIf="maxWeightEdit.errors.required">{{'packet-category.error-empty' | translate}}</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-arrows-alt-h"></i></span>
          </div>
          <input class="form-control" name="maxLengthEdit" [(ngModel)]="packetCategory.maxLength"
            #maxLengthEdit="ngModel" placeholder="{{'packet-category.max-length' | translate}}" type="number" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxLengthEdit.invalid">
          <small *ngIf="maxLengthEdit.errors.required">{{'packet-category.error-empty' | translate}}</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-arrow-alt-circle-up"></i></span>
          </div>
          <input class="form-control" name="maxHeightEdit" [(ngModel)]="packetCategory.maxHeight"
            #maxHeightEdit="ngModel" placeholder="{{'packet-category.max-height' | translate}}" type="number"
            step="0.01" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxHeightEdit.invalid">
          <small *ngIf="maxHeightEdit.errors.required">{{'packet-category.error-empty' | translate}}</small>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-cube"></i></span>
          </div>
          <input class="form-control" name="maxWidthEdit" [(ngModel)]="packetCategory.maxWidth" #maxWidthEdit="ngModel"
            placeholder="{{'packet-category.max-width' | translate}}" type="number" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxWidthEdit.invalid">
          <small *ngIf="maxWidthEdit.errors.required">{{'packet-category.error-empty' | translate}}</small>
        </div>
      </div>

      <div *ngIf="f.submitted && errorMessage" class="text-right mb-4">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid" class="text-right">
        <button type="submit" (click)="updatePacketCategory(f)" class="btn btn-success"><i
            class="fa fa-check mr-1"></i>{{'global.confirm' | translate}}
        </button>
      </div>
      <div *ngIf="!f.form.valid" class="text-right">
        <button type="submit" class="btn btn-outline-success" disabled><i
            class="fa fa-check mr-1"></i>{{'global.confirm' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- confirm dialog -->
<ng-template #confirmDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'global.delete' |
      translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600"><strong>{{'global.delete-confirm' | translate}} <span
          class="text-primary">{{packetCategory.name}}</span> ?</strong>
    </p>
    <p class="font-weight-400">{{'global.delete-message' | translate}}
      <span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.cancel' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deletePacketCategory(packetCategory.packetCategoryUuid)"><i
        class="fa fa-check"></i>{{'global.confirm' | translate}}
    </button>
  </div>
</ng-template>

<!-- view dialog -->
<ng-template #viewCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="view-profile"><i class="fa fa-user-circle"></i>{{'global.profile-of' |
      translate}} {{packetCategory.name}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card card-profile shadow">
      <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-2">
        <strong>{{packetCategory.name}}</strong>
      </div>
      <div class="card-body pt-4">
        <div class=" text-center text-justify">
          <div>
            <i class="fa fa-balance-scale mr-2"></i>{{'packet-category.max-weight'| translate}}
            {{packetCategory.maxWeight}}
          </div>
          <div>
            <i class="fa fa-arrows-alt-h mr-2"></i>{{'packet-category.max-length'| translate}}
            {{packetCategory.maxLength}}
          </div>
          <div>
            <i class="fa fa-arrow-alt-circle-up mr-2"></i>{{'packet-category.max-height'| translate}}
            {{packetCategory.maxHeight}}
          </div>
          <div>
            <i class="fa fa-cube mr-2"></i>{{'packet-category.max-width' | translate}}
            {{packetCategory.maxWidth}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.close' | translate}}
    </button>
  </div>
</ng-template>

<!-- modal content by create -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-plus-circle"></i>{{'packet-category.create' |
      translate}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" *ngIf="!isSuccessful" (ngSubmit)="f.form.valid && addCategory()" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-sitemap"></i></span>
          </div>
          <input class="form-control" name="name" [(ngModel)]="form.name" minlength="3" maxlength="20" #name="ngModel"
            placeholder="{{'global.name' | translate}}" type="text" autofocus="autofocus" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="name.invalid">
          <div *ngIf="name.errors.minlength">
            <small>{{'packet-category.error-min-length-name' | translate}}</small>
          </div>
          <div *ngIf="name.errors.maxlength">
            <small>{{'packet-category.error-max-length-name' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-balance-scale"></i></span>
          </div>
          <input class="form-control" name="maxWeight" [(ngModel)]="form.maxWeight" min="1" max="999"
            #maxWeight="ngModel" placeholder="{{'packet-category.max-weight' | translate}}" type="number"
            autofocus="autofocus" (keyup)="preventInput($event, maxWeight)" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxWeight.invalid">
          <div *ngIf="maxWeight.errors.min">
            <small>{{'packet-category.error-min-weight' | translate}}</small>
          </div>
          <div *ngIf="maxWeight.errors.max">
            <small>{{'packet-category.error-max-weight' | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-arrows-alt-h"></i></span>
          </div>
          <input class="form-control" name="maxLength" [(ngModel)]="form.maxLength" min="0.1" max="200"
            #maxLength="ngModel" placeholder="{{'packet-category.max-length' | translate}}" type="number"
            autofocus="autofocus" (keyup)="preventInput($event, maxLength)" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxLength.invalid">
          <div *ngIf="maxLength.errors.min">
            <small>{{'packet-category.error-min-length' | translate}}</small>
          </div>
          <div *ngIf="maxLength.errors.max">
            <small>{{'packet-category.error-max-length' | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-cube"></i></span>
          </div>
          <input class="form-control" name="maxWidth" [(ngModel)]="form.maxWidth" min="0.1" max="200"
            #maxWidth="ngModel" placeholder="{{'packet-category.max-width' | translate}}" type="number"
            autofocus="autofocus"  (keyup)="preventInput($event, maxWidth)" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxWidth.invalid">
          <div *ngIf="maxWidth.errors.min">
            <small>{{'packet-category.error-min-width' | translate}}</small>
          </div>
          <div *ngIf="maxWidth.errors.max">
            <small>{{'packet-category.error-max-width' | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-arrow-alt-circle-up"></i></span>
          </div>
          <input class="form-control" name="maxHeight" [(ngModel)]="form.maxHeight" min="0.1" max="200"
            #maxHeight="ngModel" placeholder="{{'packet-category.max-height' | translate}}" type="number"
            autofocus="autofocus" (keyup)="preventInput($event, maxHeight)" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="maxHeight.invalid">
          <div *ngIf="maxHeight.errors.min">
            <small>{{'packet-category.error-min-height' | translate}}</small>
          </div>
          <div *ngIf="maxHeight.errors.max">
            <small>{{'packet-category.error-max-height' | translate}}</small>
          </div>
        </div>
      </div>

      <div *ngIf="f.submitted && errorMessage" class="text-right mb-4">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid">
        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus mr-1 mr-1"></i>{{'global.add' |
          translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="clearInput(f)"><i
            class="fa fa-broom mr-1"></i>{{'global.clear' | translate}}
        </button>
      </div>
      <div *ngIf="!f.form.valid">
        <button type="submit" class="btn btn-outline-success" disabled><i
            class="fa fa-plus-circle mr-1"></i>{{'global.add' | translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="clearInput(f)"><i
            class="fa fa-broom mr-1"></i>{{'global.clear' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>
