.user-block {
  display: flex;
  margin-top: 76px;
  place-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  background: #f6f9fc;
  border-bottom: 1px solid #e3e3e3;
}

.user-block-icon {
  display: flex;
  color: #3e3e3e;
  margin-top: 1em;
}

.user-block-icon .item {
  margin-right: 1rem;
  cursor: pointer;
}

.user-block-icon i {
  font-size: 1.2em;
}

.avatar-xl {
  width: 96px;
  height: 96px;
  font-size: 0.875rem;
  border: 1px solid #e3e3e3;
}

.vertical-navbar {
  padding-bottom: 2em;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffffff;
  border-bottom: 1px #ffffff;
}

/*##################################### Display Screen settings ###################################*/
