<!-- user-block -->
<div class="py-3 user-block" fxLayout="column" fxLayoutAlign="center center">
  <span class="avatar avatar-xl rounded-circle">
    <!-- if default avatar -->
    <img *ngIf="isDefaultAvatar" src="../../../assets/img/profile/user-avatar.png" alt="user-avatar">
    <!-- if custom avatar -->
    <img *ngIf="!isDefaultAvatar && !isAvatarChanged" src="{{userAvatarUrl}}" alt="avatar">
    <!-- on avatar changed -->
    <img [src]="imageUrl" *ngIf="imageUrl && isAvatarChanged" alt="avatar">
  </span>
  <h2 class="mb-0">{{user.lastname}} {{user.firstname}}</h2>
  <span class="text-black-50">{{user.email}}</span>
  <div class="user-block-icon">
    <div class="item">
      <i class="fa fa-user-edit text-info" [routerLink]="['/profile']" title="Profile"></i>
    </div>
    <div class="item">
      <i class="fa fa-key" [routerLink]="['/password']" title="Password"></i>
    </div>
    <div class="item">
      <i class="ni ni-button-power text-danger" (click)="logout()" title="logout"></i>
    </div>
  </div>
</div>
<!-- vertical-navbar -->
<div class="vertical-navbar">
  <app-vertical-menu></app-vertical-menu>
</div>
