<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
          translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-users text-white"></i>
        <h1 class="display-2 text-white">{{'customers.customers' | translate}}</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'customers.customer-header' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-user-plus"
                                         (click)="openModal(addOrEdit); getCustomer(null)"></i></small>
            <small class="text-white" id="search-customer"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'customers.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchCustomer" [(ngModel)]="firstname"
                     (ngModelChange)="search()" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="customerList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{customerList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="customerList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && customerList.length > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="customer-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col" (click)="sort('customerType')">{{'customers.customer-type' | translate}} <i
                  class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('lastname')">{{'global.lastname' | translate}} <i class="fa fa-sort"></i>
                </th>
                <th scope="col" (click)="sort('firstname')">{{'global.firstname' | translate}} <i
                  class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('email')">{{'global.email' | translate}} <i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort('postalAddress')">{{'global.address' | translate}} <i
                  class="fa fa-sort"></i></th>
                <th scope="col">{{'global.phone' | translate}}</th>
                <th scope="col" (click)="sort('gender')">{{'global.gender' | translate}} <i class="fa fa-sort"></i></th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let customer of customerList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}">
                <td>{{customer.customerType}}</td>
                <td>{{customer.user.lastname}}</td>
                <td>{{customer.user.firstname}}</td>
                <td>{{customer.user.email}}</td>
                <td *ngIf="this.customer.postalAddress?.streetAndHouseNumber?.length === 0 || this.customer.postalAddress?.streetAndHouseNumber === null
                    && this.customer.postalAddress?.city?.length === 0 || this.customer.postalAddress?.city === null &&
                    this.customer.postalAddress?.country?.length == 0 || this.customer.postalAddress?.country === null">
                  -
                </td>
                <td *ngIf="this.customer.postalAddress?.streetAndHouseNumber?.length > 0 &&
                 this.customer.postalAddress?.city?.length > 0 &&
                 this.customer.postalAddress?.country?.length > 0">
                  {{customer.postalAddress?.streetAndHouseNumber}}&nbsp;-&nbsp;
                  {{customer.postalAddress?.city}}&nbsp;
                  ({{customer.postalAddress?.country}})
                </td>
                <td>{{customer.user.tel}}</td>
                <td>{{customer.user.gender}}</td>
                <td class="text-left">
                  <div ngbDropdown placement="left">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <small class="dropdown-item"
                             (click)="openModal(viewCustomer); getCustomer(customer.customerUuid)"><i
                        class="fa fa-user text-info"></i>
                        {{'global.view' | translate}}
                      </small>
                      <small class="dropdown-item" (click)="openModal(addOrEdit); getCustomer(customer.customerUuid)">
                        <i class="fa fa-user-edit text-primary"></i>{{'global.edit' | translate}}
                      </small>
                      <small class="dropdown-item"
                             (click)="openModal(confirmDeletion); getCustomer(customer.customerUuid)" *ngIf="isAdmin">
                        <i class="fa fa-user-times text-danger"></i>{{'global.delete' | translate}}
                      </small>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row" *ngIf="customerList.length > 0">
            <div
              *ngFor="let customer of customerList | paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
              class="col-md-4" [@EnterLeave]="'flyIn'">
              <div class="mb-4">
                <div class="row no-gutters">
                  <div class="col-4 bg-gradient-danger">
                    <div class="img-center">
                      <img src="../../../assets/img/profile/avatar.jpg" *ngIf="isDefaultAvatar(this.customer.user)"
                           class="avatar rounded-circle img-responsive img-fluid"
                           alt="{{this.customer.user.username}}_avatar">
                      <img src="{{this.host+this.customer.user.userUuid}}"
                           *ngIf="!isDefaultAvatar(this.customer.user) && this.customer.user.userUuid"
                           class="avatar rounded-circle img-responsive img-fluid"
                           alt="{{this.customer.user.username}}_avatar">
                    </div>
                  </div>
                  <div class="col card-content">
                    <div class="d-flex justify-content-between border-bottom-1">
                      <h4 class="card-title p-2 mb-0">
                        {{customer.user.lastname.toUpperCase()}} {{customer.user.firstname.toUpperCase()}}
                      </h4>
                      <div class="float-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                            <small class="dropdown-item"
                                   (click)="openModal(viewCustomer); getCustomer(customer.customerUuid)">
                              <i class="fa fa-user text-info"></i>{{'global.view' | translate}}
                            </small>
                            <small class="dropdown-item"
                                   (click)="openModal(addOrEdit); getCustomer(customer.customerUuid)">
                              <i class="fa fa-user-edit text-primary"></i>{{'global.edit' | translate}}
                            </small>
                            <small class="dropdown-item"
                                   (click)="openModal(confirmDeletion); getCustomer(customer.customerUuid)" *ngIf="isAdmin">
                              <i class="fa fa-user-times text-danger"></i>{{'global.delete' | translate}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-block px-1 pt-3">
                      <ul class="customer-info">
                        <li><i class="fa fa-map-marker"></i><small>{{customer.postalAddress !== null ?
                          customer.postalAddress.city : 'empty' | translate}}</small></li>
                        <li><i class="fa fa-venus"></i><small>{{customer.user.gender || 'empty' | translate}}</small>
                        </li>
                        <li><i class="fa fa-mobile"></i><small>{{customer.user.tel || 0}}</small></li>
                        <li><i class="ni ni-email-83"></i><small>{{customer.user.email || 'empty' | translate}}</small>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- pagination -->
        <div class="col-md-12" *ngIf="customerList.length > 0">
          <div class="text-left">
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
            </pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #viewCustomer let-modal id="longContent">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-tag"></i>{{'customers.about' | translate}}
        {{customer.user.username}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="font-weight-800">&times;</span>
      </button>
    </div>
    <div class="modal-body longContent">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img src="../../../assets/img/profile/avatar.jpg" *ngIf="isDefaultAvatar(this.customer.user)"
                   class="rounded-circle" alt="{{this.customer.user.username}}_avatar">
              <img src="{{this.host+this.customer.user.userUuid}}"
                   *ngIf="!isDefaultAvatar(this.customer.user) && this.customer.user.userUuid" class="rounded-circle"
                   alt="{{this.customer.user.username}}_avatar">
            </div>
          </div>
        </div>
        <div class="card-body pt-4 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5 bonus">
                <div>
                  <a href='tel: {{this.customer.user.tel}}' target="_blank" ngbTooltip="Phone">
                    <i class="fa fa-phone text-primary"></i>
                  </a>
                </div>
                <div>
                  <a href='https://web.whatsapp.com/send?phone={{this.customer.user.tel}}&text=urlencodedtext'
                     ngbTooltip="Whatsapp" target="_blank">
                    <i class="fab fa-whatsapp text-success"></i>
                  </a>
                </div>
                <div>
                  <a href='mailto: {{this.customer.user.email}}' target="_blank" ngbTooltip="Email">
                    <i class="fa fa-envelope text-info"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3 class="mb-2 mt--2 text-red">
              {{this.customer.user.lastname}} {{this.customer.user.firstname}}
            </h3>
            <div class="mb-3">
              <span class="heading">{{this.customer.bonusCount}}</span><br>
              <span class="description">{{'bonus' | translate}}</span>
            </div>
            <h3 class="mt-3">
              {{'global.category' | translate}}:<br>{{this.customer.customerType}}
            </h3>
            <div class="mt-4">
              <h3>{{'global.info-pers' | translate}}</h3>
              <hr class="mt-0 mb-3"/>
            </div>
            <h3>
              {{this.customer.user.lastname}} {{this.customer.user.firstname}}<span class="font-weight-light">,
              {{this.customer.user.gender || 'unknown' | translate}}</span>
            </h3>
            <div class="h5 font-weight-300">
              {{this.customer.postalAddress?.city + ', ' + this.customer.postalAddress?.country}} -
              {{'global.street' | translate}}: {{this.customer.postalAddress?.streetAndHouseNumber || 'unknown' |
              translate}}
            </div>
            <div class="pt-2">
              <b>{{'global.username' | translate}}:</b> {{this.customer.user.username}}
            </div>
            <div class="pt-2">
              <b>{{'global.gender' | translate}}:</b> {{this.customer.user.gender || 'unknown' | translate}}
            </div>
            <div>
              <b>{{'global.phone' | translate}}:</b> {{this.customer.user.tel || 'unknown'}}
            </div>
            <div class="pt-2">
              <b>{{'global.city' | translate}}:</b> {{this.customer.postalAddress?.city || 'unknown' | translate}}
            </div>
            <div class="pt-2">
              <b>{{'global.country' | translate}}:</b> {{this.customer.postalAddress?.country || 'unknown' | translate}}
            </div>
            <div>
              <b>{{'global.address' | translate}}
                :</b> {{this.customer.postalAddress?.streetAndHouseNumber || 'unknown' |
              translate}}
            </div>
            <div>
              <b>{{'global.fix-number' | translate}}:</b> {{this.customer.postalAddress?.telAtAddress || 'unknown'}}
            </div>
            <div>
              <b>{{'global.email' | translate}}:</b> {{this.customer.user.email}}
            </div>
            <div class="mt-3">
              <h3>{{'global.position-information' |translate}}</h3>
              <hr class="mt-0 mb-3"/>
            </div>
            <div>
              {{'global.latitude'| translate}}: {{this.customer.postalAddress?.latitude}}
            </div>
            <div>
              {{'global.longitude' | translate}}: {{this.customer.postalAddress?.longitude}}
            </div>
            <div class="mt-5">
              <h3>{{'customers.additional-info' | translate}}</h3>
              <hr class="mt-0 mb-3"/>
            </div>
            <div class="h5 font-weight-300">
              {{this.customer.postalAddress?.additionalInformation || 'empty' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')">
        {{'global.close' | translate}}
      </button>
    </div>
  </ng-template>

  <ng-template #addOrEdit let-modal>
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="null != customer.customerUuid"><i class="fa fa-user-edit"></i>
        {{'customers.edit-customer' | translate}} "{{this.customer.user.username}}"
      </h4>
      <h4 class="modal-title" *ngIf="null == customer.customerUuid"><i class="fa fa-user-edit"></i>
        {{'customers.add-customer' | translate}} {{this.customer.user.username}}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="font-weight-800">&times;</span>
      </button>
    </div>
    <div class="modal-body longContent">
      <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" id="form-group-new-sender">
              <h3>{{'global.info-pers' | translate}}</h3>
              <hr class="mt-1 mb-3"/>
              <label for="customerType">{{'customers.customer-type' | translate}}</label>
              <select class="form-control" name="customerType" id="customerType" [(ngModel)]="customer.customerType"
                      #customerType="ngModel" (change)="onTypeChange($event)" required>
                <option disabled>{{'customers.select-type' | translate}}</option>
                <option *ngFor="let customerType of customerTypes">{{customerType}}</option>
              </select>
              <div class="text-danger" *ngIf="customerType.invalid">
                <small *ngIf="customerType.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="username">{{'global.username' | translate}}</label>
              <input id="username" class="form-control" name="username" [(ngModel)]="this.customer.user.username"
                     minlength="3" maxlength="20" #username="ngModel" placeholder="{{'global.username' | translate}}"
                     type="text" required (click)="clearErrorMessage()">
              <div class="text-danger" role="alert" *ngIf="username.invalid">
                <small *ngIf="username.errors.minlength">{{'customers.username-error-min' | translate}}</small>
                <small *ngIf="username.errors.maxlength">{{'customers.username-error-max' | translate}}</small>
                <small *ngIf="username.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="firstname">{{'global.firstname' | translate}}</label>
              <input id="firstname" class="form-control" name="firstname" [(ngModel)]="this.customer.user.firstname"
                     minlength="2" maxlength="20" #firstname="ngModel" placeholder="{{'global.firstname' | translate}}"
                     type="text" required (click)="clearErrorMessage()">
              <div class="text-danger" *ngIf="firstname.invalid">
                <small *ngIf="firstname.errors.minlength">{{'global.firstname-error-min' | translate}}</small>
                <small *ngIf="firstname.errors.maxlength">{{'global.firstname-error-max' | translate}}</small>
                <small *ngIf="firstname.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="lastname">{{'global.lastname' | translate}}</label>
              <input id="lastname" class="form-control" name="lastname" [(ngModel)]="this.customer.user.lastname"
                     minlength="2" maxlength="20" #lastname="ngModel" placeholder="{{'global.lastname' | translate}}"
                     type="text" required (click)="clearErrorMessage()">
              <div class="text-danger" *ngIf="lastname.invalid">
                <small *ngIf="lastname.errors.minlength">{{'global.lastname-error-min' | translate}}</small>
                <small *ngIf="lastname.errors.maxlength">{{'global.lastname-error-max' | translate}}</small>
                <small *ngIf="lastname.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-8">
                <label for="email">{{'global.email' | translate}}</label>
                <input id="email" class="form-control" name="email" [(ngModel)]="this.customer.user.email"
                       #email="ngModel" placeholder="{{'global.email' | translate}}" type="email"
                       [pattern]="emailPattern" (click)="clearErrorMessage()">
                <div class="text-danger" *ngIf="email.invalid">
                  <small *ngIf="email.errors?.pattern">{{'global.email-error' | translate}}</small>
                </div>
              </div>
              <!--tel-->
              <div class="form-group col-md-4" style="width: 100% !important;">
                <label for="phone">{{'global.phone' | translate}}</label>
                <input class="form-control text-black-50" id="phone" type="text" placeholder="6 xx xx xx xx"
                       [(ngModel)]="this.customer.user.tel" name="tel" (change)="checkValidPhoneNumber($event)"
                       minlength="9" maxlength="13" required>
                <div class="text-danger" *ngIf="errors.phoneNb">
                  <small>{{'global.phone-error-min' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="gender">{{'global.gender' | translate}}</label>
              <select id="gender" class="form-control" name="gender" [(ngModel)]="this.customer.user.gender"
                      #gender="ngModel" (change)="onGenderChange($event)" required>
                <option disabled>{{'global.gender-option-text' | translate}}</option>
                <option *ngFor="let gender of genders">{{gender}}</option>
              </select>
              <div class="text-danger" *ngIf="gender.invalid">
                <small *ngIf="gender.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="password">{{'global.password' | translate}}</label>
              <input id="password" class="form-control text-black-50" name="senderPwd"
                     [(ngModel)]="this.customer.user.password" minlength="6" #password="ngModel"
                     placeholder="{{'global.password' | translate}}" type="password" required
                     (click)="clearErrorMessage()">
              <div class="text-danger" *ngIf="password.invalid">
                <small *ngIf="password.errors.minlength">{{'global.password-error' | translate}}</small>
                <small *ngIf="password.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <h3>{{'global.address' | translate}}</h3>
            <hr class="mt-1 mb-3"/>
            <div class="form-group">
              <label for="address">{{'global.address-street' | translate}}</label>
              <input id="address" class="form-control text-black-50" name="address"
                     [(ngModel)]="this.customer.postalAddress.streetAndHouseNumber" minlength="3" #address="ngModel"
                     placeholder="bellevue 1" type="text" (click)="clearErrorMessage()" required>
              <div class="text-danger" *ngIf="address.invalid">
                <small *ngIf="address.errors.minlength">{{'global.street-error-min' | translate}}</small>
                <small *ngIf="address.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="city">{{'global.city' | translate}}</label>
              <input id="city" class="form-control text-black-50" name="city"
                     [(ngModel)]="this.customer.postalAddress.city" minlength="3" maxlength="20" #city="ngModel"
                     placeholder="{{'global.city' | translate}}" type="text" (click)="clearErrorMessage()" required>
              <div class="text-danger" *ngIf="city.invalid">
                <small *ngIf="city.errors.minlength">{{'global.city-error-min' | translate}}</small>
                <small *ngIf="city.errors.maxlength">{{'global.city-error-max' | translate}}</small>
                <small *ngIf="city.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="country">{{'global.country' | translate}}</label>
              <input id="country" class="form-control text-black-50" name="country"
                     [(ngModel)]="this.customer.postalAddress.country" minlength="3" #country="ngModel"
                     placeholder="{{'global.country' | translate}}" type="text" (click)="clearErrorMessage()" required>
              <div class="text-danger" *ngIf="country.invalid">
                <small *ngIf="country.errors.minlength">{{'global.country-error-min' | translate}}</small>
                <small *ngIf="country.errors.required">{{'global.empty-filed' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="telephoneFix">{{'global.fix-number' | translate}}</label>
              <input id="telephoneFix" class="form-control text-black-50" name="telephoneFix" placeholder="2xx xx xx xx"
                     [(ngModel)]="this.customer.postalAddress.telAtAddress"
                     #telephoneFix="ngModel" type="number" (click)="clearErrorMessage()"
                     [pattern]="fixPhonePattern">
              <div class="text-danger" *ngIf="telephoneFix.invalid">
                <small *ngIf="telephoneFix.errors?.pattern">{{'global.fix-error-pattern' | translate}}</small>
              </div>
            </div>
            <h3>Position</h3>
            <hr class="mt-2 mb-3"/>
            <div class="form-group">
              <label for="longitude">{{'global.longitude' | translate}}</label>
              <input id="longitude" class="form-control text-black-50" name="longitude"
                     [(ngModel)]="this.customer.postalAddress.longitude" min="0" #longitude="ngModel" placeholder="10.2"
                     type="number" step="0.001" autofocus="autofocus"
                     (keyup)="preventInput($event, longitude)">
              <div class="text-danger" *ngIf="longitude.invalid">
                <small>{{'global.error' | translate}}</small>
                <small *ngIf="longitude.errors.maxlength">{{'global.error' | translate}}</small>
              </div>
            </div>
            <div class="form-group">
              <label for="latitude">{{'global.latitude' | translate}}</label>
              <input id="latitude" class="form-control text-black-50" name="latitude"
                     [(ngModel)]="this.customer.postalAddress.latitude" min="0"
                     #latitude="ngModel"
                     placeholder="10.2" type="number" step="0.001" autofocus="autofocus"
                     (keyup)="preventInput($event, latitude)">
              <div class="text-danger" *ngIf="latitude.invalid">
                <small>{{'global.error' | translate}}</small>
                <small *ngIf="latitude.errors.max">{{'error-max-value' | translate}}</small>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="errorMessage.length > 0" class="text-right text-danger mb-3">
          <small>{{errorMessage}}</small>
        </div>
        <div *ngIf="f.form.valid && customer.customerUuid == null" class="text-left">
          <button type="submit" class="btn btn-success" (click)="addNewCustomer()">{{'global.btn-add' |
            translate}}</button>
        </div>
        <div *ngIf="!f.form.valid && customer.customerUuid == null" class="text-left">
          <button class="btn btn-outline-success" disabled>{{'global.btn-add' | translate}}</button>
        </div>
        <div *ngIf="f.form.valid && customer.customerUuid != null" class="text-left">
          <button type="submit" class="btn btn-success" (click)="updateCustomer()">{{'global.btn-save' |
            translate}}</button>
        </div>
        <div *ngIf="!f.form.valid && customer.customerUuid != null" class="text-left">
          <button class="btn btn-outline-success" disabled>{{'global.btn-save' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('Cancel click')">
        {{'global.btn-return' | translate}}
      </button>
    </div>
  </ng-template>

  <ng-template #confirmDeletion let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'global.confirm-del' | translate}}
        {{this.customer.user.username}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="font-weight-800">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="font-weight-600">
        <strong>{{'global.delete-confirm' | translate}} <span class="text-danger">{{this.customer.user.username}}</span>
          ?</strong>
      </p>
      <p class="font-weight-400">{{'customers.customer-delete-notice' | translate}}
        <span class="text-danger">{{'global.message-undo' | translate}}</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')">
        <i class="fa fa-times"></i>{{'global.btn-return' | translate}}
      </button>
      <button type="button" class="btn btn-danger" (click)="deleteCustomer()">
        <i class="fa fa-check"></i>{{'global.btn-delete' | translate}}
      </button>
    </div>
  </ng-template>
