nav {
  border-bottom: 1px solid #e3e3e3;
  background-color: #d20412 !important;
}

.navbar-horizontal .navbar-brand img {
  height: 35px;
}

#content-wrap {
  padding-bottom: 2rem;
  background-color: #fff ;
}

.footer-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

ul li a {
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

ul li i {
  margin-right: 5px;
}

ul li > .active {
  display: none;
}

.table-responsive-xl {
  width: 100%;
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
/*##################################### Display Screen settings ###################################*/
