<nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark set-background-color">
  <div class="container-fluid px-4">
    <a class="navbar-brand" routerLinkActive="active" [routerLink]="['/dashboard']">
      <img src="../../../assets/img/brand/logo-vector-white.svg" />
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
      aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed" id="sidenav-collapse-main">
      <!-- Collapse header -->
      <div class="navbar-collapse-header d-md-none">
        <div class="row">
          <div class="col-6 collapse-brand">
            <!-- todo: redirect to dashboard if the user already authenticated otherwise to login page -->
            <a routerLinkActive="active" [routerLink]="['/dashboard']">
              <img src="../../../assets/img/brand/logo-vector.svg">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed=!isCollapsed">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <!-- Navbar items -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" id="register" *ngIf="!isLoggedIn">
          <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/register']">
            <i class="ni ni-circle-08"></i>
            <span class="nav-link-inner--text">{{'global.register' | translate}}</span>
          </a>
        </li>
        <li class="nav-item" id="login" *ngIf="!isLoggedIn">
          <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/login']">
            <i class="ni ni-key-25"></i>
            <span class="nav-link-inner--text">{{'global.login' | translate}}</span>
          </a>
        </li>
        <li class="nav-item" id="tracking" *ngIf="!isLoggedIn">
          <a class="nav-link nav-link-icon" routerLinkActive="active" [routerLink]="['/packet-tracking', 'abcinter']">
            <i class="fas fa-search-location"></i>
            <span class="nav-link-inner--text">{{'global.tracking' | translate}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="content-wrap">
  <router-outlet></router-outlet>
</div>
<app-footer class="footer-area"></app-footer>
