<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
    <!-- Mask -->
    <span class="mask bg-header-danger bg-header-img opacity-10"></span>
    <!-- Header container -->
    <div class="container-fluid align-items-center">
      <div class="row">
        <div class="col-md-12 path-info">
          <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' | translate}}</a></small>
          <small class="text-white"> / <b>{{currentUrl | lowercase | translate}}</b></small>
        </div>
      </div>
      <div class="row">
        <div class="text-center col-md-12">
          <i class="fa fa-users"></i>
          <h1 class="display-2 text-white">{{'deliveries.deliveries'}}</h1>
          <p class="text-white mt-0 mb-5">
            <b>{{'deliveries.message-info' | translate}}</b>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="page-settings">
            <div class="block1">
              <small class="text-white"><i class="fa fa-user-plus" (click)="addTask(add)"></i></small>
              <small class="text-white" id="search-task"><i class="fa fa-search"></i></small>
            </div>
            <div class="block2">
              <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
                <mat-label>{{'global.search' | translate}}</mat-label>
                <input type="text" class="text-white" matInput>
              </mat-form-field>
            </div>
            <div class="block3">
              <small class="text-white" id="list-style"><i class="fa fa-list"></i></small>
              <small class="text-white" id="card-style"><i class="fa fa-id-card"></i></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <app-packets-ready-for-delivery></app-packets-ready-for-delivery>
    </div>
  </div>

  <ng-template #add let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-circle"></i>{{'deliveries.add-new-task'| translate}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true" class="font-weight-800">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-packets-to-be-delivered></app-packets-to-be-delivered>
    </div>
    <div class="modal-footer">

    </div>
  </ng-template>
