<div class="col-md-12">
  <div class="row">
    <div *ngFor="let item of overviews" class="col-md-4 col-xl-3">
      <div class="card mb-4 shadow">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3 class="card-title text-uppercase font-weight-700 mb-2">{{ item.name }}</h3>
              <span class="h3 mb-0 text-muted">{{ item.total }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape text-white rounded-circle shadow {{ item.bg }}">
                <i class="{{ item.icon }}"></i>
              </div>
            </div>
          </div>
          <p class="mt-2 mb-0 text-muted text-sm">
            <span class="text-nowrap text-success font-weight-400">{{ brandName.toUpperCase() }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
