<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
            translate}}</a></small>
        <small class="text-werhite"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-users"></i>
        <h1 class="display-2 text-white">{{'global.users' | translate}}</h1>
        <p class="text-white mt-0 mb-5"><b>{{'users.message-info' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-user-plus" (click)="openModal(longContent)"></i></small>
            <small class="text-white" id="search-user"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'users.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchByFirstname" [(ngModel)]="firstname"
                (ngModelChange)="search()" matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">{{this.serverDownMsg}}</h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="userList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{userList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="userList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && userList.length > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="user-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" (click)="sort('username')">{{'global.username' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('lastname')">{{'global.lastname' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('firstname')">{{'global.firstname' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('email')">{{'global.email' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col">{{'global.phone' | translate}}</th>
                  <th scope="col" (click)="sort('gender')">{{'global.gender' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col">{{'global.role' | translate}}</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let user of userList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}">
                  <td>{{user.username}}</td>
                  <td>{{user.lastname}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.tel}}</td>
                  <td>{{user.gender}}</td>
                  <td><span *ngFor="let role of user.roles">{{role.name}}<br></span></td>
                  <td class="text-right">
                    <div ngbDropdown placement="left">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <small class="dropdown-item" (click)="openModal(viewProfile); getUser(user.userUuid)"><i
                            class="fa fa-user text-info"></i>
                          {{'view' | translate}}
                        </small>
                        <small class="dropdown-item" (click)="openModal(editProfile); getUser(user.userUuid)">
                          <i class="fa fa-user-edit text-primary"></i>{{'edit' | translate}}
                        </small>
                        <small class="dropdown-item" (click)="openModal(confirmDialog); getUser(user.userUuid)">
                          <i class="fa fa-user-times text-danger"></i>{{'delete' | translate}}
                        </small>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row" *ngIf="userList.length > 0">
            <div
              *ngFor="let user of userList | paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
              class="col-md-4" [@EnterLeave]="'flyIn'">
              <div class="mb-4">
                <div class="row no-gutters">
                  <div class="col-4 bg-gradient-danger">
                    <div class="img-center">
                      <img src="../../../assets/img/profile/avatar.jpg" *ngIf="isDefaultAvatar(this.user)"
                        class="avatar rounded-circle img-responsive img-fluid" alt="{{this.user.username}}_avatar">
                      <img src="{{this.host+this.user.userUuid}}"
                        *ngIf="!isDefaultAvatar(this.user) && this.user.userUuid"
                        class="avatar rounded-circle img-responsive img-fluid" alt="{{this.user.username}}_avatar">
                    </div>
                  </div>
                  <div class="col card-content">
                    <div class="d-flex justify-content-between border-bottom-1">
                      <h4 class="card-title p-2 mb-0">
                        {{user.firstname.toUpperCase()}} {{user.lastname.toUpperCase()}}
                      </h4>
                      <div class="float-right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                            <small class="dropdown-item" (click)="openModal(viewProfile); getUser(user.userUuid)"><i
                                class="fa fa-user text-info"></i>
                              {{'global.view' | translate}}
                            </small>
                            <small class="dropdown-item" (click)="openModal(editProfile); getUser(user.userUuid)">
                              <i class="fa fa-user-edit text-primary"></i>{{'global.edit' | translate}}
                            </small>
                            <small class="dropdown-item" (click)="openModal(confirmDialog); getUser(user.userUuid)">
                              <i class="fa fa-user-times text-danger"></i>{{'global.delete' | translate}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-block px-1 pt-3">
                      <ul class="user-info">
                        <li><i class="ni ni-email-83"></i>
                          <small>{{user.email}}</small>
                        </li>
                        <li><i class="fa fa-mobile"></i><small>{{user.tel}}</small></li>
                        <li><i class="fa fa-venus"></i><small>{{user.gender}}</small></li>
                        <li><i class="fa fa-location-arrow"></i><small>{{'global.city' | translate}}</small></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pagination -->
      <div class="col-md-12" *ngIf="userList.length > 0">
        <div class="text-left">
          <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal content -->
<ng-template #confirmDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'user-profile.delete-profile' |
      translate}} ({{user.lastname}} {{user.firstname}})</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600"><strong>{{'global.delete-confirm' | translate}} <span
          class="text-primary">{{user.lastname}} {{user.firstname}}</span> {{'user-profile.profile' |
        translate}}?</strong></p>
    <p class="font-weight-400">{{'global.delete-message' | translate}}
      <span class="text-danger">{{'global.undo-action' | translate}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="deleteUser(user.userUuid, user.username)"><i
        class="fa fa-check"></i>Ok
    </button>
  </div>
</ng-template>

<ng-template #viewProfile let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="view-profilw"><i class="fa fa-user-circle"></i>{{'global.profile-of' | translate}} {{user.username}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card card-profile shadow">
      <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
          <div class="card-profile-image">
            <img src="../../../assets/img/profile/avatar.jpg" *ngIf="isDefaultAvatar(this.user)" class="rounded-circle"
              alt="{{this.user.username}}_avatar">
            <img src="{{this.host+this.user.userUuid}}" *ngIf="!isDefaultAvatar(this.user) && this.user.userUuid"
              class="rounded-circle" alt="{{this.user.username}}_avatar">
          </div>
        </div>
      </div>
      <div class="card-body pt-4 pt-md-4">
        <div class="row">
          <div class="col">
            <div class="card-profile-stats d-flex justify-content-center mt-md-6">
              <div>
                <span class="heading">0</span>
                <span class="description">{{'shipping-cost.bonus-point' | translate}}</span>
              </div>
              <div>
                <span class="heading">0</span>
                <span class="description">soon</span>
              </div>
              <div>
                <span class="heading">0</span>
                <span class="description">soon</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <h3>
            {{user.lastname}} {{user.firstname}}
            <br><span class="font-weight-light">{{'global.gender' | translate}}: {{user.gender ||
              'unknown'}}</span>
          </h3>
          <div class="h5 font-weight-300">
            <i class="fa fa-location-arrow mr-2"></i>{{'global.city' | translate}}, {{'global.country' | translate}}
          </div>
          <div class="h5 mt-4">
            <i class="ni ni-active-40 mr-2"></i><span *ngFor="let role of user.roles">{{role.name}},&nbsp;</span>
          </div>
          <div>
            <i class="ni ni-key-25 mr-2"></i>{{user.userUuid}}
          </div>
          <div>
            <i class="fa fa-user mr-2"></i>{{user.username}}
          </div>
          <div>
            <i class="fa fa-mobile mr-2"></i>{{user.tel || 'unknown'}}
          </div>
          <div>
            <i class="ni ni-email-83 mr-2"></i>{{user.email}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.close' | translate}}
    </button>
  </div>
</ng-template>

<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-circle"></i>{{'users.add-user' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" *ngIf="!isSuccessful" (ngSubmit)="f.form.valid && addUser()" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input class="form-control" name="username" [(ngModel)]="form.username" minlength="3"
            (click)="username.reset()" maxlength="20" #username="ngModel"
            placeholder="{{'global.username' | translate}}" type="text" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="username.invalid">
          <div *ngIf="username.errors.minlength">
            <small>{{'global.username-error-min' | translate}}</small>
          </div>
          <div *ngIf="username.errors.maxlength">
            <small>{{'global.username-error-max' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" name="firstname" [(ngModel)]="form.firstname" minlength="2" maxlength="20"
            #firstname="ngModel" placeholder="{{'global.firstname' | translate}}" type="text" required>
        </div>
        <div class="text-danger" *ngIf="firstname.invalid">
          <div *ngIf="firstname.errors.minlength">
            <small>{{'global.firstname-error-min' | translate}}</small>
          </div>
          <div *ngIf="firstname.errors.maxlength">
            <small>{{'global.firstname-error-max' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" name="lastname" [(ngModel)]="form.lastname" minlength="2" maxlength="20"
            #lastname="ngModel" placeholder="{{'global.lastname' | translate}}" type="text" required>
        </div>
        <div class="text-danger" *ngIf="lastname.invalid">
          <div *ngIf="lastname.errors.minlength">
            <small>{{'global.lastname-error-min' | translate}}</small>
          </div>
          <div *ngIf="lastname.errors.maxlength">
            <small>{{'global.lastname-error-max' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel"
            placeholder="{{'global.email' | translate}}" (click)="email.reset()" email type="email" required>
        </div>
        <div class="text-danger" *ngIf="email.invalid">
          <div *ngIf="email.errors.email">
            <small>{{'global.email-error' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
          </div>
          <input class="form-control" name="telefon" [(ngModel)]="form.tel" maxlength="50" #telefon="ngModel"
            type="text" placeholder="{{'global.phone' | translate}}">
        </div>
        <div class="text-danger" *ngIf="telefon.invalid">
          <div *ngIf="telefon.errors.maxlength">
            <small>{{'global.phone-input-error' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
          </div>
          <input class="form-control" name="gender" [(ngModel)]="form.gender" maxlength="50" #gender="ngModel"
            type="text" placeholder="Gender">
        </div>
        <div class="text-danger" *ngIf="gender.invalid">
          <div *ngIf="gender.errors.maxlength">
            <small>{{'global.gender-option-text' | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input class="form-control text-black-50" name="password" [(ngModel)]="form.password" minlength="6"
            #password="ngModel" (click)="password.reset()" placeholder="{{'global.password' | translate}}"
            type="password" required>
        </div>
        <div class="text-danger" *ngIf="password.invalid">
          <div *ngIf="!password.errors.required && password.errors.minlength">
            <small>{{'global.password-error' | translate}}</small>
          </div>
        </div>
      </div>
      <!--<div class="alert alert-danger" role="alert" *ngIf="f.submitted && errorMessage">{{ errorMessage }}</div>-->
      <div *ngIf="f.submitted && errorMessage" class="text-right mb-4">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid" class="text-right">
        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus mr-1"></i>{{'global.add' | translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="clearInput(f)"><i class="fa fa-broom"></i>{{'global.clear' | translate}}
        </button>
      </div>
      <div *ngIf="!f.form.valid" class="text-right">
        <button type="submit" class="btn btn-outline-success" disabled><i class="fa fa-user-plus mr-1"></i>{{'global.add' | translate}}</button>
        <button type="button" class="btn btn-outline-danger" (click)="clearInput(f)"><i class="fa fa-broom"></i>{{'global.clear' | translate}}
        </button>
      </div>
    </form>
  </div>

</ng-template>

<ng-template #editProfile let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-profile"><i class="fa fa-user-circle"></i>{{'users.edit-profile' | translate}} {{user.username}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" *ngIf="!isSuccessful" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input class="form-control" name="username" [(ngModel)]="user.username" minlength="3"
            (click)="username.reset()" maxlength="20" #username="ngModel"
            placeholder="{{'global.username' | translate}}" type="text" required>
        </div>
        <div class="text-danger" role="alert" *ngIf="username.invalid">
          <div *ngIf="username.errors.minlength">
            <small>{{'global.username-error-min' | translate}}</small>
          </div>
          <div *ngIf="username.errors.maxlength">
            <small>{{'global.username-error-max' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" name="firstname" [(ngModel)]="user.firstname" minlength="2" maxlength="20"
            #firstname="ngModel" placeholder="{{'global.firstname' | translate}}" type="text" required>
        </div>
        <div class="text-danger" *ngIf="firstname.invalid">
          <div *ngIf="firstname.errors.minlength">
            <small>{{'global.firstname-error-min' | translate}}</small>
          </div>
          <div *ngIf="firstname.errors.maxlength">
            <small>{{'global.firstname-error-max' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <input class="form-control" name="lastname" [(ngModel)]="user.lastname" minlength="2" maxlength="20"
            #lastname="ngModel" placeholder="{{'global.lastname' | translate}}" type="text" required>
        </div>
        <div class="text-danger" *ngIf="lastname.invalid">
          <div *ngIf="lastname.errors.minlength">
            <small>{{'global.lastname-error-min' | translate}}</small>
          </div>
          <div *ngIf="lastname.errors.maxlength">
            <small>{{'global.lastname-error-max' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel"
            placeholder="{{'global.email' | translate}}" (click)="email.reset()" email type="email" required>
        </div>
        <div class="text-danger" *ngIf="email.invalid">
          <div *ngIf="email.errors.email">
            <small>{{'global.email' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-mobile-button"></i></span>
          </div>
          <input class="form-control" name="telefon" [(ngModel)]="user.tel" maxlength="50" #telefon="ngModel"
            type="text" placeholder="{{'global.phone' | translate}}">
        </div>
        <div class="text-danger" *ngIf="telefon.invalid">
          <div *ngIf="telefon.errors.maxlength">
            <small>{{'global.phone-input-error' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-venus-mars"></i></span>
          </div>
          <input class="form-control" name="gender" [(ngModel)]="user.gender" maxlength="50" #gender="ngModel"
            type="text" placeholder="Gender">
        </div>
        <div class="text-danger" *ngIf="gender.invalid">
          <div *ngIf="gender.errors.maxlength">
            <small>{{'global.gender-option-text' | translate}}</small>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
          </div>
          <input class="form-control text-black-50" name="password" [(ngModel)]="user.password" minlength="6"
            #password="ngModel" (click)="password.reset()" placeholder="{{'global.password' | translate}}"
            type="password" required>
        </div>
        <div class="text-danger" *ngIf="password.invalid">
          <div *ngIf="!password.errors.required && password.errors.minlength">
            <small>{{'global.password-error' | translate}}</small>
          </div>
        </div>
      </div>

      <div *ngIf="f.submitted && errorMessage" class="text-right mb-4">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid" class="text-right">
        <button type="submit" class="btn btn-success"><i class="fa fa-check mr-1"></i>{{'global.btn-save' | translate}}</button>
      </div>
      <div *ngIf="!f.form.valid" class="text-right">
        <button type="submit" class="btn btn-outline-success" disabled><i class="fa fa-check mr-1"></i>{{'global.btn-save' | translate}}</button>
      </div>
    </form>
  </div>
</ng-template>
