<form [formGroup]="packetFormGroup" class="col-sm-12">
    <mat-form-field appearance="standard" class="col-md-12">
        <mat-label>{{'shipping-cost.shipping-type' | translate}}</mat-label>
        <mat-select formControlName="shippingTypeCtrl" required>
            <mat-option disabled>{{'global.select' | translate}}</mat-option>
            <mat-option *ngIf="packetToEditShippingType" [value]="packetToEditShippingType" selected>
                {{packetToEditShippingType}}
            </mat-option>
            <mat-option *ngFor="let type of shippingTypes" [value]="type">
                {{type}}
            </mat-option>
        </mat-select>
        <mat-error>{{'global.required' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
        <mat-label>{{'shipping-cost.packet-category' | translate}}</mat-label>
        <mat-select formControlName="categoryCtrl">
            <mat-option>
                <ngx-mat-select-search [formControl]="categoryFilteringCtrl" [searching]="searching">
                </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngIf="packetToEditCategory" [value]="packetToEditCategory" selected>
                {{packetToEditCategory}}
            </mat-option>
            <mat-option *ngFor="let category of filteredCategories | async" [value]="category.name">
                {{category.name}}
            </mat-option>
        </mat-select>
        <mat-error>{{'global.required' | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'packets.weight' | translate}} (kg)</mat-label>
      <input matInput placeholder="1.00" formControlName="weightCtrl" type="number" step="0.1" max="200" required>
      <mat-error>{{ (weightCtrl.errors?.weightExceeded ? 'global.weightExceeded' : 'global.required') | translate}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
        <mat-label>{{'packets.store_position' | translate}}</mat-label>
        <input matInput placeholder="Up" formControlName="positionInStoreCtrl" type="text">
        <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
        <mat-label>{{'packets.position_details' | translate}}</mat-label>
        <input matInput placeholder="Up" formControlName="positionDetailsCtrl" type="text">
        <mat-icon matSuffix>text_fields</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-12">
        <mat-label>{{'packets.packet_desc' | translate}}</mat-label>
        <textarea matInput placeholder="Information" formControlName="descriptionCtrl"></textarea>
    </mat-form-field>
</form>
