<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
            translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-box"></i>
        <h1 class="display-2 text-white">{{'global.packets' | translate}}</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'packets.message-info' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white"><i class="fa fa-plus-circle" (click)="renderRegistrationView()"></i></small>
            <small class="text-white" id="search-packet"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'packets.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="trkNb" [(ngModel)]="trackingNb" (ngModelChange)="getPackets()"
                matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">
        {{this.serverDownMsg}}
      </h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="totalItems > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{totalItems}})</h3>
      </div>
      <div class="col-md-12" *ngIf="totalItems == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && totalItems > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="customer-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
                  <th scope="col" (click)="sort('tracknumber')">
                    {{'packets.tracknumber' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('weight')">{{'packets.weight' | translate}} <i class="fa fa-sort"></i>
                  </th>
                  <th scope="col" (click)="sort('category')">{{'packets.category' | translate}}</th>
                  <th scope="col">{{'packets.currentLocation' | translate}}</th>
                  <th scope="col">{{'packets.registration_info' | translate}}</th>
                  <th scope="col">{{'global.action' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let packet of packetsList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: sizeTable, currentPage: page, totalItems: totalItems}">
                  <td>{{packet.createdAt.split('T')[0].split("-").reverse().join("-")}}</td>
                  <td class="{{getDeliveryInformation(packet).color}} font-weight-600">{{getDeliveryInformation(packet).status | translate }}</td>
                  <td>{{packet.trackingNumber}}</td>
                  <td>{{packet.weight}}</td>
                  <td>{{packet.shippingCost.category.name}}</td>
                  <td class="packet-info">
                    <strong>
                      <span (click)="displaySelectedPacketCurrentLocation(packet, locationDetails)">
                        {{'packets.currentLocation' | translate}}
                      </span>
                    </strong>
                  </td>
                  <td class="packet-info">
                    <strong>
                      <span (click)="getPacketRegistrationInformation(packet, registrationDetails)">
                        {{'global.read' | translate}}
                      </span>
                    </strong>
                  </td>
                  <td class="text-right">
                    <div ngbDropdown placement="left">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <small class="dropdown-item" (click)="getcurrentSelectedPacket(packet, details)">
                          <i class="fa fa-eye text-info" disabled></i>
                          {{'global.view' | translate}}
                        </small>
                        <small class="dropdown-item" (click)="editSelectedPacket(packet)">
                          <i class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                        </small>
                        <small *ngIf="isAdmin" class="dropdown-item"
                          (click)="deleteSelectedPacket(packet, confirmDialog)">
                          <i class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                        </small>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row" *ngIf="totalItems > 0">
            <div
              *ngFor="let packetItem of packetsList | paginate: {id: 'listing_pagination', itemsPerPage: sizeCard, currentPage: page, totalItems: totalItems}"
              class="col-md-3" [@EnterLeave]="'flyIn'">
              <div class="mb-4">
                <div class="row no-gutters">
                  <div class="col card-content">
                    <div class="d-flex justify-content-between border-bottom-1 bg-gradient-secondary">
                      <h4 class="card-title p-2 mb-0 font-weight-600">
                        {{getDeliveryInformation(packetItem).status | translate}}
                      </h4>
                      <div style="float: right">
                        <div ngbDropdown placement="bottom-right">
                          <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                            <small class="dropdown-item" (click)="getcurrentSelectedPacket(packetItem, details)"><i
                                class="fa fa-eye text-info"></i>{{'global.view' | translate}}
                            </small>
                            <small class="dropdown-item" (click)="editSelectedPacket(packetItem)"><i
                                class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                            </small>
                            <small *ngIf="isAdmin" class="dropdown-item"
                              (click)="deleteSelectedPacket(packetItem, confirmDialog)">
                              <i class="fa fa-trash text-danger"></i>{{'global.delete' | translate}}
                            </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-block px-1 pt-3">
                      <ul class="packet-info">
                        <li><strong> {{'packets.weight' | translate}}:</strong>
                          {{packetItem.weight}} Kg
                        </li>
                        <li><strong>{{'packets.category' | translate}}: </strong>
                          {{packetItem.shippingCost.category.name}}
                        </li>
                        <li>
                          <strong>
                            <span
                              (click)="displaySelectedPacketCurrentLocation(packetItem, locationDetails)">{{'packets.currentLocation'
                              | translate}}</span>
                          </strong>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- pagination -->
    <div class="col-md-12" *ngIf="totalItems > 0">
      <div class="text-left">
        <pagination-controls id="listing_pagination" maxSize="10" directionLinks="true" (pageChange)="getPackets($event-1, size)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- view details -->
<ng-template #details let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-box"></i>{{'packets.details' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row mb-2">
      <div class="col-md-12">
        <p class="font-weight-800">
          <u>{{'global.reg_date' | translate}}:</u>
          {{currentSelectedPacket?.createdAt.split('T')[0].split("-").reverse().join("-")}},&nbsp;
          {{currentSelectedPacket?.createdAt.split('T')[1].split("\.")[0]}}
        </p>
        <p class="font-weight-800">
          <u>{{'global.by' | translate}}:</u>&nbsp;
          {{packetRegistration?.registeredBy.personalNumber}} - {{packetRegistration?.registeredBy.user.email}}
        </p>
      </div>
    </div>
    <mat-divider class="col-sm-12 mb-4"></mat-divider>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col packet-detail">
            <p>{{'packets.tracknumber' | translate}}: </p>
            <p>{{'packets.weight' | translate}}: </p>
            <p>{{'packets.category' | translate}}: </p>
            <p>{{'shipping-cost.shipping-type' | translate}}: </p>
            <p>{{'global.shipping-cost' | translate}}: </p>
            <p *ngIf="currentSelectedPacket?.description?.length > 0">{{'packets.packet_desc' | translate}}: </p>
          </div>
          <div class="col">
            <p>{{currentSelectedPacket?.trackingNumber}}</p>
            <p>{{currentSelectedPacket?.weight}}</p>
            <p>{{currentSelectedPacket?.shippingCost.category.name}}</p>
            <p>{{currentSelectedPacket?.shippingCost.shippingType}}</p>
            <p>{{currentSelectedPacket?.shippingCost.price}} {{currentSelectedPacket?.shippingCost.currency}}</p>
            <p *ngIf="currentSelectedPacket?.description?.length > 0">{{currentSelectedPacket?.description}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col packet-detail">
            <p>{{'packet-store.name' | translate}}: </p>
            <p>{{'global.address' | translate}}: </p>
            <p>Contact: </p>
            <p>Position: </p>
            <p *ngIf="currentSelectedPacket?.positionDetails?.length > 0">{{'packets.position_details' | translate}}:
            </p>
          </div>
          <div class="col">
            <p *ngIf="currentSelectedPacket?.currentStoreUuid !== null">{{currentPacketLocation?.name}}</p>
            <p *ngIf="currentSelectedPacket?.currentStoreUuid === null">{{'global.not_available' | translate}}</p>
            <p>
              {{currentPacketLocation?.address?.streetAndHouseNumber}} ({{currentPacketLocation?.address?.city}})
            </p>
            <p>{{currentPacketLocation?.address?.telAtAddress}}</p>
            <p>{{currentSelectedPacket?.positionInStore}}</p>
            <p *ngIf="currentSelectedPacket?.positionDetails?.length > 0">{{currentSelectedPacket?.positionDetails}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')">
      Ok
    </button>
  </div>
</ng-template>

<!-- confirm dialog -->
<ng-template #confirmDialog let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-confirm"><i class="fa fa-cubes"></i>{{'global.delete' |
      translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="font-weight-600"><strong>{{'global.delete-confirm' | translate}}<span class="text-primary">
          {{currentSelectedPacket.trackingNumber}}</span> ?</strong>
    </p>
    <p class="font-weight-400">{{'global.delete-message' | translate}}
      <span class="text-danger">{{'global.message-undo' | translate}}</span>
    </p>
    <p *ngIf="isOnlyOnePacket" class="text-red font-weight-600 text-underline">
      {{'packets.del_warning' | translate}}
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
        class="fa fa-times"></i>{{'global.cancel' | translate}}
    </button>
    <button type="button" class="btn btn-danger" (click)="deletePacket()"><i class="fa fa-check"></i>{{'global.confirm'
      | translate}}
    </button>
  </div>
</ng-template>

<!-- view details -->
<ng-template #locationDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-box"></i>{{'packets.currentLocation' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6" *ngIf="currentPacketLocation?.packetStoreUuid !== null">
        <div class="row">
          <div class="col packet-detail">
            <p>{{'packet-store.name' | translate}}: </p>
            <p>{{'global.address' | translate}}: </p>
            <p>Contact: </p>
            <p>Position: </p>
            <p *ngIf="currentSelectedPacket?.positionDetails?.length > 0">{{'packets.position_details' | translate}}:
            </p>
          </div>
          <div class="col">
            <p>{{currentPacketLocation?.name}}</p>
            <p>
              {{currentPacketLocation?.address?.streetAndHouseNumber}} ({{currentPacketLocation?.address?.city}})
            </p>
            <p>{{currentPacketLocation?.address?.telAtAddress}}</p>
            <p *ngIf="currentSelectedPacket?.positionInStore?.length > 0">{{currentSelectedPacket?.positionInStore}}</p>
            <p *ngIf="currentSelectedPacket?.positionDetails?.length > 0">{{currentSelectedPacket?.positionDetails}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 text-middle" *ngIf="currentPacketLocation?.packetStoreUuid === null">
        <p><i class="fa fa-info-circle text-info" style="font-size: 22px;"></i></p>
        <h3>{{'packets.delivered_to_msg' | translate}}:</h3>
        <p>
          {{currentPacketLocation?.address?.streetAndHouseNumber}} ({{currentPacketLocation?.address?.city}})
        </p>
        <p *ngIf="currentPacketLocation?.address?.telAtAddress" class="font-weight-600">
          Tel: {{currentPacketLocation?.address?.telAtAddress}}
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')">
      Ok
    </button>
  </div>
</ng-template>

<ng-template #registrationDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-box"></i>{{'packets.registration_info' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <div class="row">
          <div class="col packet-detail">
            <p>{{'registration.tracking' | translate}}: </p>
            <p>{{'registration.register_by' | translate}}: </p>
            <p>{{'registration.sender' | translate}}: </p>
            <p>{{'registration.receiver' | translate}}: </p>
            <p>{{'registration.destination' | translate}}:</p>
            <p>{{'registration.total_packet_nb' | translate}}: </p>
          </div>
          <div class="col">
            <p>{{packetRegistration?.globalTrackingNumber}}</p>
            <p>
              {{packetRegistration?.registeredBy.personalNumber}}
            </p>
            <p>
              {{packetRegistration?.sender?.user.lastname}} {{packetRegistration?.sender?.user.firstname}} -
              {{packetRegistration?.sender?.user.tel}}
            </p>
            <p>
              {{packetRegistration?.receiver?.lastname}} {{packetRegistration?.receiver?.firstname}} -
              {{packetRegistration?.receiver?.tel}}
            </p>
            <p>
              {{packetRegistration?.receivingAddress?.streetAndHouseNumber}}
              ({{packetRegistration?.receivingAddress?.city}}) - {{packetRegistration?.receivingAddress?.telAtAddress}}
            </p>
            <p>
              {{packetRegistration?.registeredPackets.length}}
            </p>
          </div>
        </div>
        <p class="packet-info">
          <strong>
            <span (click)="displayRegistrationDetails()">{{'global.read' | translate}}</span>
          </strong>
        </p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modal.close('Cancel click')">
      Ok
    </button>
  </div>
</ng-template>
