.panel-body{
  border-top: 2px solid #222222;
  margin-bottom: 5px;
}

.left-content {
  justify-content: left !important;
}

#user-list-table th {
  cursor: pointer;
}

#user-list-table i {
  margin-left: 5px;
  color: #000;
}

#user-list-table i:hover {
  color: #3e3e3e;
}

.packet-info {
  list-style: none;
  margin: 0px;
  padding-left: 5px;
  padding-bottom: 10px;
}

.packet-info span {
  cursor: pointer;
  color: #2199e8;
  text-decoration: underline; 
}

.border-bottom-1 {
  border-bottom: 1px solid #c6c6c6;
}

.no-gutters i {
  margin-right: 10px;
  font-size: 15px;
}

.no-gutters .avatar {
  color: #fff;
  background-color: #adb5bd;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.packet-detail p {
  font-weight: 800;
  text-decoration: underline;
}

th {
  cursor: pointer;
}

th i {
  margin-left: 5px;
  color: #000;
}

th i:hover {
  color: #3e3e3e;
}

.dropdown-menu {
  top: -1.2em !important;
}

/*##################################### Display Screen settings ###################################*/
@media ( max-width: 980px ) {

}

@media (max-width: 568px){
  .header .action-icon i {
    margin-right: 10px;
  }
}

