<div class="mb-2 col-md-12" style="display: flex; flex-wrap: wrap;">
    <h2 *ngIf="isAdmin" style="width: 20%;" class="mr-2 p-1">{{'packets.to-do-list' | translate}} ({{totalRows}})</h2>
    <h2 *ngIf="!isAdmin" style="width: 20%;" class="mr-2">{{'packets.my-to-do-list' | translate}} ({{totalRows}})</h2>
    <button *ngIf="!isAdmin && !isCall" mat-mini-fab color="white" aria-label="Add a todo list" title="Add todo" (click)="displayPacketToBeDelivered(packetToBeDelivered)">
        <mat-icon color="accent">add</mat-icon>
    </button>
</div>

<div class="grid-wrapper">
    <ag-grid-angular #agGrid id="packets-ready-for-delivery" style="width: 100%; height: 450px;" class="ag-theme-alpine"
        animateRows=true [defaultColDef]="defaultColDef" [autoGroupColumnDef]="autoGroupColumnDef"
        [columnDefs]="columnDefs" rowSelection="multiple" [groupSelectsChildren]="true" [statusBar]="statusBar"
        [sideBar]="sideBar" [rowData]="rowData" (gridReady)="onGridReady($event)" (click)="setConfig()">
    </ag-grid-angular>
</div>
<div class="mt-1">
    <div class="row">
        <div class="col-md-3" *ngIf="isPacketSelected">
            <mat-form-field class="col-md-12" color="accent">
                <mat-select [formControl]="actionCtrl" placeholder="Action to be apply">
                    <mat-option disabled>Select action</mat-option>
                    <mat-option *ngFor="let action of actionsOnItem" [value]="action" (click)="getSelectedOpt()">
                        {{action}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3" *ngIf="isDecline">
            <mat-form-field class="col-md-12" color="accent">
                <mat-select [formControl]="msgCtrl" placeholder="Reason">
                    <mat-option disabled>Select the reason</mat-option>
                    <mat-option *ngFor="let reason of reasons" [value]="reason">
                        {{reason}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <button *ngIf="isInputValid || isDecline && msgCtrl.value" mat-flat-button color="accent"
        (click)="confirm(confirmDialog)">Ok</button>
</div>

<ng-template #confirmDialog let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-danger">{{confirmHeaderTitle}}</h4>
        <button type="button" class="close text-danger" color="accent" aria-label="Close"
            (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="font-weight-800">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="!isDecline">
            <mat-form-field class="col-md-12" color="accent">
                <mat-label>{{'packets.autograph' | translate}}</mat-label>
                <textarea matInput [formControl]="msgCtrl"></textarea>
            </mat-form-field>
        </div>
        <div *ngIf="isDecline">
            <h3>{{'global.confirm-action' | translate}}</h3>
        </div>
        <button *ngIf="msgCtrl.value" mat-stroked-button color="accent" (click)="applyAction()">{{'global.ok' | translate}}</button>
    </div>
    <div *ngIf="!isDecline" class="modal-footer">
        <h3>
            <mat-icon color="accent">favorite</mat-icon> {{'global.thank-you' | translate}}
        </h3>
    </div>
</ng-template>

<ng-template #packetToBeDelivered let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-confirm"><strong>{{'packets.packet-to-be-delivered' | translate}}</strong></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" class="font-weight-800">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-packets-to-be-delivered (selectedRows)="onRowsEmitted($event)"></app-packets-to-be-delivered>
    </div>
</ng-template>
