.mt-1 {
  padding-top: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mr-2 {
  margin-right: 2em;
}

.p-1 {
  padding: 1em;
}

.modal-header h4 {
  font-weight: 600;
}

.modal-footer {
  padding-bottom: 5px !important;
}

.modal-header h4 {
  margin-bottom: 0 !important;
  color: #ff4081 !important;
  font-weight: 500 !important;
}

.mat-form-field {
  padding-left: 0 !important;
  margin-left: 0 !important;
}
