<form [formGroup]="formGroup" class="col-md-12">
  <mat-card-content class="mb-4">
    <div class="tel-input">
      <input class="col-md-12" type="text" placeholder="6 xx xx xx xx"
        formControlName="phoneCtrl" style="width: 100% !important; border: none !important;"
        minlength="9" maxlength="13" (change)="checkValidPhoneNumber($event)"
             (blur)="autoCompleteForm()" required>
    </div>
    <mat-error *ngIf="errors.phoneNb && !this.isPhoneValid">
      {{ errors.phoneNb }}
    </mat-error>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.username' | translate}}</mat-label>
      <input matInput formControlName="usernameCtrl" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'customers.customer-type' | translate}}</mat-label>
      <mat-select formControlName="customerTypeCtrl" required>
        <mat-option disabled>{{'global.select' | translate}}</mat-option>
        <mat-option *ngIf="initialCustomerType" [value]="initialCustomerType" selected>
          {{initialCustomerType}}
        </mat-option>
        <mat-option *ngFor="let customerType of customerTypes" [value]="customerType">
          {{customerType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.firstname' | translate}}</mat-label>
      <input matInput formControlName="firstnameCtrl" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.lastname' | translate}}</mat-label>
      <input matInput formControlName="lastnameCtrl" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.email' | translate}}</mat-label>
      <input matInput name="email" placeholder="customer@abcinter.com" formControlName="emailCtrl"
        pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
      <mat-icon matSuffix>alternate_email</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.gender' | translate}}</mat-label>
      <mat-select formControlName="genderCtrl" required>
        <mat-option disabled>{{'global.gender-option-text' | translate}}</mat-option>
        <mat-option *ngIf="initialGender" [value]="initialGender" selected>
          {{initialGender}}
        </mat-option>
        <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.password' | translate}}</mat-label>
      <input matInput formControlName="passwordCtrl" type="password" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <h3 class="font-weight-500 mt-2 mb-0">{{'global.address_info' | translate}}</h3>
    <mat-divider class="mt-0 mb-2"></mat-divider>
    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.city' | translate}}</mat-label>
      <input matInput formControlName="cityCtrl" type="text" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.country' | translate}}</mat-label>
      <input matInput formControlName="countryCtrl" type="text" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.address-street' | translate}}</mat-label>
      <input matInput formControlName="streetAndHNBCtrl" type="text" required>
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="standard" class="col-md-12">
      <mat-label>{{'global.fix-number' | translate}}</mat-label>
      <input matInput formControlName="fixNumberCtrl" type="text"
             (change)="checkValidFixPhoneNumber($event)"
             minlength="9" maxlength="13">
      <mat-icon matSuffix>input</mat-icon>
    </mat-form-field>

    <mat-form-field class="col-md-12">
      <mat-label>{{'global.detail' | translate}}</mat-label>
      <textarea matInput formControlName="detailsCtrl" placeholder="Information"></textarea>
    </mat-form-field>
  </mat-card-content>
</form>
