
.tel-input {
  width: 99% !important;
  border-bottom: 1px solid rgba(0,0,0,.75) !important;
  margin: 3em 0 1.5em !important;
  margin-left: 0 !important;
  padding: 0 !important;
}

.tel-input input:hover  {
  border-bottom: 1px solid #000 !important;
}

.tel-input input:focus {
  outline: none;
}

mat-form-field {
  padding-left: 0 !important;
}

form {
  padding: 0 !important;
}
