#parent-content {
  margin-top: 0;
  margin-left: 320px;
}

.left-content {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  z-index: 1020;
  color: #ffffff !important;
  background-color: #ffffff;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #e3e3e3;
}

#right-content {
  z-index: 0;
}

.content-wrap {
  padding-bottom: 6em !important;
  background-color: #ffffff;
  background: #fff;
}

.footer-area {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

/*##################################### Display Screen settings ###################################*/
@media only screen and (max-width: 960px) {
  #parent-content {
    margin-left: 0;
    z-index: 0;
  }

  .left-content {
    display: none;
    z-index: 1030;
  }
}
