<div id="parent-content">
  <!-- Sidebar -->
  <div id="sidebar" class="left-content">
    <app-sidebar></app-sidebar>
  </div>
  <div id="right-content">
    <!-- Top navbar -->
    <app-navbar></app-navbar>
    <!-- Pages -->
    <div class="content-wrap" [@fadeInOut]>
      <router-outlet></router-outlet>
    </div>
    <!-- footer -->
    <app-footer class="footer-area"></app-footer>
  </div>
</div>