<div class="header pb-2 pt-7 pt-lg-7 d-flex align-items-center">
  <!-- Mask -->
  <span class="mask bg-header-danger bg-header-img opacity-10"></span>
  <!-- Header container -->
  <div class="container-fluid align-items-center">
    <div class="row">
      <div class="col-md-12 path-info">
        <small><a class="text-white-50" (click)="navigateToHome()"><i class="fa fa-home"></i>{{'global.home' |
            translate}}</a></small>
        <small class="text-white"> / <b>{{currentUrl}}</b></small>
      </div>
    </div>
    <div class="row">
      <div class="text-center col-md-12">
        <i class="fa fa-suitcase"></i>
        <h1 class="display-2 text-white">{{'global.shipping-cost' | translate}}</h1>
        <p class="text-white mt-0 mb-5">
          <b>{{'shipping-cost.message-info' | translate}}</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-settings">
          <div class="block1">
            <small class="text-white" *ngIf="isAdmin"><i class="fa fa-plus-circle"
                (click)="openModal(content)"></i></small>
            <small class="text-white" id="search-ship-coast"><i class="fa fa-search"></i></small>
          </div>
          <div class="block2">
            <mat-form-field class="col-md-12 text-center text-white" [hidden]="hide" [@searchClicked]="hide">
              <mat-label>{{'shipping-cost.search-text' | translate}}</mat-label>
              <input type="text" class="text-white" name="searchCoast" [(ngModel)]="catName" (ngModelChange)="search()"
                matInput>
            </mat-form-field>
          </div>
          <div class="block3">
            <small class="text-white" id="list-style" (click)="displayAsList()"><i class="fa fa-list"></i></small>
            <small class="text-white" id="card-style" (click)="displayAsCard()"><i class="fa fa-id-card"></i></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container-fluid">
    <div *ngIf="loaded && isServerDown">
      <h3 class="mb-3 text-info font-weight-400">
        {{this.serverDownMsg}}
      </h3>
      <button class="btn btn-sm btn-outline-info" (click)="refresh()">{{'global.refresh' | translate}}</button>
    </div>
    <div *ngIf="loaded && !isServerDown">
      <h3 class="mb-3 text-info text-center font-weight-400">
        Loading...
      </h3>
    </div>
    <div *ngIf="!loaded">
      <!-- Header -->
      <div class="col-md-12" *ngIf="shippingCostList.length > 0" style="display: flex;">
        <h3 class="mb-3 font-weight-600 bg-white" style="width: 98%">Total ({{shippingCostList.length}})</h3>
      </div>
      <div class="col-md-12" *ngIf="shippingCostList.length == 0">
        <h3 class="mb-3 font-weight-600 bg-white">{{'global.no-results' | translate}}</h3>
        <button class="btn btn-sm btn-outline-primary" (click)="refresh()">{{'global.reset' | translate}}</button>
      </div>
      <div class="col-md-12">
        <!-- Display as table -->
        <div *ngIf="isAsTable && shippingCostList.length > 0">
          <div class="table-responsive" [@fadeInOut]>
            <table id="customer-list-table" class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" (click)="sort('shippingType')">{{'shipping-cost.shipping-type' | translate}} <i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('name')">{{'global.name' | translate}} <i class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('price')">{{'shipping-cost.price' | translate}} <i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('width')">{{'packet-category.max-width' | translate}} (m)<i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('height')">{{'packet-category.max-height' | translate}} (m)<i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('weight')">{{'packet-category.max-weight' | translate}} (kg)<i
                      class="fa fa-sort"></i></th>
                  <th scope="col" (click)="sort('length')">{{'packet-category.max-length' | translate}} (m)<i
                      class="fa fa-sort"></i></th>
                  <th scope="col" *ngIf="isAdmin">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let shippingCost of shippingCostList |
                        orderBy: key: reverse |
                        paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}">
                  <td>{{shippingCost.shippingType}}</td>
                  <td>{{shippingCost.category.name}}</td>
                  <td>{{shippingCost.price}} {{shippingCost.currency}}</td>
                  <td>{{shippingCost.category.maxWidth}}</td>
                  <td>{{shippingCost.category.maxHeight}}</td>
                  <td>{{shippingCost.category.maxWeight}}</td>
                  <td>{{shippingCost.category.maxLength}}</td>
                  <td class="text-left" *ngIf="isAdmin">
                    <div ngbDropdown placement="left">
                      <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                        <i class="fas fa-ellipsis-v"></i>
                      </a>
                      <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                        <small class="dropdown-item"
                          (click)="openModal(editCost); getShippingCost(shippingCost.shippingCostUuid)">
                          <i class="fa fa-user-edit text-primary"></i>{{'global.edit' | translate}}
                        </small>
                        <small class="dropdown-item" (click)="openModal(confirmDialog)">
                          <i class="fa fa-user-times text-danger"></i>{{'global.delete' | translate}}
                        </small>
                      </div>
                    </div>
                  </td>
                  <!-- confirm dialog -->
                  <ng-template #confirmDialog let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'global.delete' |
                        translate}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true" class="font-weight-800">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p class="font-weight-600"><strong>{{'global.delete-confirm' | translate}}<span
                            class="text-primary">{{shippingCost.category.name}},
                            {{shippingCost.shippingType}}</span>
                          ?</strong>
                      </p>
                      <p class="font-weight-400">{{'global.delete-message' | translate}}
                        <span class="text-danger">{{'global.message-undo' | translate}}</span>
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
                          class="fa fa-times"></i>{{'global.cancel' | translate}}
                      </button>
                      <button type="button" class="btn btn-danger"
                        (click)="deleteShippingCost(shippingCost.shippingCostUuid)"><i
                          class="fa fa-check"></i>{{'global.confirm' | translate}}
                      </button>
                    </div>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Display as card -->
        <div *ngIf="!isAsTable">
          <div class="row ship" *ngIf="shippingCostList.length > 0">
            <div
              *ngFor="let shippingCostItem of shippingCostList | paginate: {id: 'listing_pagination', itemsPerPage: 6, currentPage: page, totalItems: totalItems}"
              class="col-md-4" [@EnterLeave]="'flyIn'">
              <div style="border: 1px solid #e3e3e3; border-radius: 10px 10px 0 0">
                <div class="bg-gradient-danger p-2 pt-3" style="border-radius: 10px 10px 0 0">
                  <h3>{{shippingCostItem.price}} {{shippingCostItem.currency}}</h3>
                </div>
                <div class="float-right text-right">
                  <!-- Ce bloc est affiché sauf pour les operateurs-->
                  <div ngbDropdown placement="bottom-right" *ngIf="isAdmin">
                    <a class="btn btn-sm btn-icon-only" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v text-black-50"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <small class="dropdown-item"
                        (click)="openModal(editCost); getShippingCost(shippingCostItem.shippingCostUuid)"><i
                          class="fa fa-pen text-primary"></i>{{'global.edit' | translate}}
                      </small>
                      <small class="dropdown-item" (click)="openModal(confirmDialog)"><i
                          class="fa fa-times text-danger"></i>{{'global.delete' | translate}}
                      </small>
                    </div>
                  </div>
                </div> <!-- fin du bloc -->
                <div style="padding-left: 1em; padding-top: .8em;">
                  <h4>{{shippingCostItem.category.maxWeight}} Kg, {{shippingCostItem.category.name}}</h4>
                  <h4>max. {{shippingCostItem.category.maxLength}} x {{shippingCostItem.category.maxWidth}}
                    x {{shippingCostItem.category.maxHeight}}</h4>
                  <h4>{{shippingCostItem.shippingType}}</h4>
                </div>
              </div>
              <!-- confirm dialog -->
              <ng-template #confirmDialog let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-confirm"><i class="fa fa-user-circle"></i>{{'global.delete' |
                    translate}}</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true" class="font-weight-800">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="font-weight-600"><strong>{{'global.delete-confirm' | translate}}<span
                        class="text-primary">{{shippingCostItem.category.name}},
                        {{shippingCostItem.shippingType}}</span>
                      ?</strong>
                  </p>
                  <p class="font-weight-400">{{'global.delete-message' | translate}}
                    <span class="text-danger">{{'global.message-undo' | translate}}</span>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-light" (click)="modal.close('Cancel click')"><i
                      class="fa fa-times"></i>{{'global.cancel' | translate}}
                  </button>
                  <button type="button" class="btn btn-danger"
                    (click)="deleteShippingCost(shippingCostItem.shippingCostUuid)"><i
                      class="fa fa-check"></i>{{'global.confirm' | translate}}
                  </button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- pagination -->
    <div class="col-md-12" *ngIf="shippingCostList.length > 0">
      <div class="text-left">
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page=$event">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- modal content by create -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><i class="fa fa-user-circle"></i>{{'shipping-cost.create' |
      translate}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" *ngIf="!isSuccessful" (ngSubmit)="f.form.valid && addShippingCost()" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-bus"></i></span>
          </div>
          <select id="shippingType" class="form-control" required name="shippingType" [(ngModel)]="form.shippingType"
            #shippingType="ngModel">
            <option [value]="type" *ngFor="let type of types">{{'global.' + type?.toLowerCase() | translate}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <select id="packetCategoryId" class="form-control" required name="packetCategory" [(ngModel)]="form.category"
            #packetCategory="ngModel">
            <option [value]="category" *ngFor="let category of allPacketCategoriesName">{{category}}</option>
          </select>
        </div>
        <div class="text-danger" *ngIf="packetCategory.invalid">
          <div *ngIf="packetCategory.errors.required">
            <small>{{'shipping-cost.error_selection' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" name="bonusPoint" [(ngModel)]="form.bonusPoint" #bonusPoint="ngModel"
            placeholder="{{'shipping-cost.bonus-point' | translate}}" type="number">
        </div>
      </div>

      <div class="form-group form-row">
        <div class="input-group input-group-alternative mb-1 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-tags"></i></span>
          </div>
          <input class="form-control" name="price" [(ngModel)]="form.price" #bonusPoint="ngModel"
            placeholder="{{'shipping-cost.price' | translate}}" type="number">
        </div>
        <div class="input-group input-group-alternative mb-1 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-money-bill"></i></span>
          </div>
          <select id="currency" class="form-control" required name="currency" [(ngModel)]="form.currency"
            #currency="ngModel">
            <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="f.submitted && errorMessage" class="text-right mb-4">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid">
        <button type="submit" class="btn btn-success"><i class="fa fa-plus-circle mr-1 mr-1"></i>Add</button>
        <button type="button" class="btn btn-outline-danger" (click)="clearInput(f)"><i
            class="fa fa-broom mr-1"></i>{{'global.clear' | translate}}
        </button>
      </div>
      <div *ngIf="!f.form.valid">
        <button type="submit" class="btn btn-outline-success" disabled><i class="fa fa-plus-circle mr-1"></i>Add
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="clearInput(f)"><i
            class="fa fa-broom mr-1"></i>{{'global.clear' | translate}}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<!-- modal content by edit -->
<ng-template #editCost let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="edit-cost"><i class="fa fa-user-circle"></i>{{'global.edit' | translate}}
      {{'global.details-of' | translate}}
      {{currentShippingCost?.shippingType}}, {{categoryName}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="font-weight-800">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form name="form" *ngIf="!isSuccessful" (ngSubmit)="f.form.valid && updateShippingCost(f)" #f="ngForm" novalidate>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-bus"></i></span>
          </div>
          <select id="shippingTypeEdit" [(ngModel)]="currentShippingCost.shippingType" class="form-control" required
            name="shippingType" #shippingType="ngModel">
            <option [value]="type" *ngFor="let type of types">{{'global.' + type?.toLowerCase() | translate}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
          </div>
          <select class="form-control" name="PacketCategory" [ngModel]="categoryName" minlength="2" maxlength="20"
            #packetCategory="ngModel" required>
            <option [value]="category" *ngFor="let category of allPacketCategoriesName">{{category}}</option>
          </select>
        </div>
        <div class="text-danger" *ngIf="packetCategory.invalid">
          <div *ngIf="packetCategory.errors.required">
            <small>{{'shipping-cost.error_selection' | translate}}</small>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-group input-group-alternative mb-1">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
          </div>
          <input class="form-control" name="bonusPoint" [(ngModel)]="currentShippingCost.bonusPoints"
            #bonusPoint="ngModel" placeholder="{{'shipping-cost.bonus-point' | translate}}" type="number">
        </div>
      </div>

      <div class="form-group form-row">
        <div class="input-group input-group-alternative mb-1 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-tags"></i></span>
          </div>
          <input class="form-control" name="price" [(ngModel)]="currentShippingCost.price" #bonusPoint="ngModel"
            placeholder="{{'shipping-cost.price' | translate}}" type="number">
        </div>
        <div class="input-group input-group-alternative mb-1 col-md-6">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-money-bill"></i></span>
          </div>
          <select id="currencyEdit" class="form-control" required name="currency"
            [(ngModel)]="currentShippingCost.currency" #currency="ngModel">
            <option [value]="currency" *ngFor="let currency of currencies">{{currency}}</option>
          </select>
        </div>
      </div>

      <div *ngIf="f.submitted && errorMessage" class="text-right mb-4">
        <small class="text-danger">{{errorMessage}}</small>
      </div>
      <div *ngIf="f.form.valid" class="text-right">
        <button type="submit" class="btn btn-success"><i class="fa fa-check mr-1"></i>Save</button>
      </div>
      <div *ngIf="!f.form.valid" class="text-right">
        <button type="submit" class="btn btn-outline-success" disabled><i class="fa fa-check mr-1"></i>Save</button>
      </div>
    </form>
  </div>
</ng-template>
